[2016-08-10 22:33] kevin-doselection opened #1 "ltsport. Net 中文网站改版"
need pics

[2016-08-10 22:33] kevin-doselection opened #2 "googel trust code"
Google产品验证

[2016-08-10 22:33] kevin-doselection opened #3 "channeladvisor export report"
导出报告 pls send a task

[2016-08-10 22:34] kevin-doselection opened #4 "Google Merchant Center"
goole关联网站 pls send a task

[2016-08-10 22:34] kevin-doselection opened #5 "Nexcess Server"
服务器 pls send a task

[2016-08-10 22:34] kevin-doselection opened #6 "Nexcess Support ticket"
服务器问题提交 pls send a task

[2016-08-10 22:34] kevin-doselection opened #7 "ShipStation Printer troubleshoot"
打印故障排除 pls send a task

[2016-08-10 22:35] kevin-doselection opened #8 "Walmart.com Acknowledge order"
沃尔玛订单 pls send a task

[2016-08-10 22:35] kevin-doselection opened #9 "Walmart.com new items"
沃尔玛新项目 pls send a task

[2016-08-10 22:35] kevin-doselection opened #10 "Walmart.com qty price update"
沃尔玛产品更新 pls send a task

[2016-08-10 22:35] kevin-doselection opened #11 "Walmart.com refund order"
沃尔玛退款订单 pls send a task

[2016-08-10 22:35] kevin-doselection opened #12 "Walmart.com Support ticket"
沃尔玛问题提交 pls send a task

[2016-08-10 22:36] kevin-doselection opened #13 "website product's attributes"
网站产品属性 pls send a task

[2016-08-10 23:31] christinechina commented on #13
hi kevin, pls send us task by this schedule.  start at this onw. tks.

[2016-08-10 23:50] kevin-doselection commented on #13
1. I will make 2 PDF.
   one for export current product data
   second for update product attribute
2. Before update, send the excel to me. And I will make backup

[2016-08-10 23:51] christinechina opened #14 "website product monthly review"
kevin,pls send us two new PDF

[2016-08-10 23:56] Doselectioninc commented on #14
got it

[2016-08-10 23:56] Doselectioninc commented on #14
test

[2016-08-11 00:03] kevin-doselection commented on #14
[IT 工作进度跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/412347/IT.xlsx)

[2016-08-11 00:11] Doselectioninc commented on #14
[IT 工作进度跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/412355/IT.xlsx)

[2016-08-11 00:55] DAXIAPI commented on #2
[Google Trusted Stores code.pdf](https://github.com/kevin-doselection/China-Status/files/412401/Google.Trusted.Stores.code.pdf)

[2016-08-11 00:56] DAXIAPI commented on #2
Google Trusted Stores code upload

[2016-08-11 01:11] DAXIAPI opened #15 "ltsport.net 图片修改"
[California_Resale_Certificate.pdf](https://github.com/kevin-doselection/China-Status/files/412561/California_Resale_Certificate.pdf)
[Credit_Card_Authorization_Form.pdf](https://github.com/kevin-doselection/China-Status/files/412562/Credit_Card_Authorization_Form.pdf)
[LT_Sport_Wholesale_Return_Policy.pdf](https://github.com/kevin-doselection/China-Status/files/412563/LT_Sport_Wholesale_Return_Po

[2016-08-11 01:12] lihaolihao commented on #15
@kevin-doselection ltsport.net网站修改图片

[2016-08-11 05:34] DAXIAPI commented on #15
[KR-VM-_installation_guide1.pdf](https://github.com/kevin-doselection/China-Status/files/412588/KR-VM-_installation_guide1.pdf)
[KR-VM-_installation_guide1.pdf](https://github.com/kevin-doselection/China-Status/files/412586/KR-VM-_installation_guide1.pdf)
[KR-VM-_installation_guide1.pdf](https://github.com/kevin-doselection/China-Status/files/412584/KR-VM-_installation_guide1.pdf)
[CB-SPTU-N-VM-gu

[2016-08-11 05:41] DAXIAPI commented on #15
![fb_btn](https://cloud.githubusercontent.com/assets/20631720/17579529/30e4a91c-5fc9-11e6-99a4-b54027b09882.png)
![ig_btn](https://cloud.githubusercontent.com/assets/20631720/17579530/30e4fcaa-5fc9-11e6-8c5b-e2f555075760.png)
website pic
![orderd-confirm](https://cloud.githubusercontent.com/assets/20631720/17579525/30e3c862-5fc9-11e6-8548-b3f5c0fa69ac.jpg)
![orderedhelp](https://cloud.githubuserco

[2016-08-11 05:44] DAXIAPI commented on #15
@kevin-doselection @christinechina Hi,kevin,pls help me translation upload file.

[2016-08-11 07:04] Alan1608 opened #16 "SEOEN"

[2016-08-11 07:06] lihaolihao commented on #16
aaa

[2016-08-11 10:12] christinechina commented on #15
hi kevin, some pics i will send you translation. but the others, such as the guide, wholesale ***. pls ask desinger do first. thanks

[2016-08-11 10:14] christinechina commented on #2
hi kevin, jess have finished to add the code on our website.  if no problem. pls close this issue. tks.

[2016-08-11 10:18] christinechina commented on #16
hi kevin, alan is tour website SEO/SEM handler, pls add him. and he will communicate with you here.  ENCLOSED is his schedule. pls check.thanks
[SEO 工作跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/412954/SEO.xlsx)

[2016-08-11 19:43] kevin-doselection commented on #16
issue 5 and 6 download link https://www.dropbox.com/sh/pcxivl4yr0ce0b4/AADaqKRqAtOZHwQFR4lRORHYa?dl=0

現在ltsport.net在中國搜尋市場上，表現如何

[2016-08-11 21:20] kevin-doselection commented on #14
1. Use this to download current product atribute
   [download report.pdf](https://github.com/kevin-doselection/China-Status/files/414249/download.report.pdf)
2. Use this excel to find the right method for updating attribute.
   [website product's attributes.pdf](https://github.com/kevin-doselection/China-Status/files/414083/website.product.s.attributes.pdf)

[2016-08-11 21:21] #3 closed, assigned to nobody

[2016-08-11 21:21] #4 closed, assigned to nobody

[2016-08-11 21:21] #5 closed, assigned to nobody

[2016-08-11 21:21] #6 closed, assigned to nobody

[2016-08-11 21:21] #7 closed, assigned to nobody

[2016-08-11 21:25] kevin-doselection commented on #12
http://seller.walmart.com
kyang12@go.pasadena.edu
qQ123456!

[2016-08-11 21:26] kevin-doselection commented on #11
http://seller.walmart.com
kyang12@go.pasadena.edu
qQ123456!

[2016-08-11 21:26] kevin-doselection commented on #10
http://seller.walmart.com
kyang12@go.pasadena.edu
qQ123456!

[2016-08-11 21:26] kevin-doselection commented on #9
http://seller.walmart.com
kyang12@go.pasadena.edu
qQ123456!

[2016-08-11 21:26] kevin-doselection commented on #8
http://seller.walmart.com
kyang12@go.pasadena.edu
qQ123456!

[2016-08-11 21:29] kevin-doselection commented on #1
sent to christin or below
https://www.dropbox.com/sh/pcxivl4yr0ce0b4/AADaqKRqAtOZHwQFR4lRORHYa?dl=0

[2016-08-12 00:34] DAXIAPI commented on #1
ok,has been downloaded and sent to christin

[2016-08-12 00:35] DAXIAPI commented on #12
ok

[2016-08-12 00:36] DAXIAPI commented on #11
ok

[2016-08-12 00:36] DAXIAPI commented on #10
ok

[2016-08-12 00:36] DAXIAPI commented on #9
ok

[2016-08-12 00:37] DAXIAPI commented on #8
ok

[2016-08-12 00:39] DAXIAPI commented on #14
ok,got it

[2016-08-12 05:26] christinechina commented on #1
ltsport.net 图片修改  double same issue. pls closed this issue.

[2016-08-12 09:03] christinechina commented on #16
我先回复一下您的问题，ltsport.net 让在等您在跟进的图片。因此暂未体验效果。他已发布部分品牌介绍文章。 你可到百度搜索测试排名。  alan 请跟进。

[2016-08-12 09:39] #16 closed, assigned to christinechina, Alan1608

[2016-08-12 09:41] Alan1608 commented on #16
由于暂时上传不了文件,我已把文件发邮箱给你了.请查收.

[2016-08-12 09:58] christinechina opened #17 "淘宝晴雨挡主图 5张"
[淘宝晴雨挡主图需求.xlsx](https://github.com/kevin-doselection/China-Status/files/415041/default.xlsx)

hi kevin, pls ask design follow.  finsh ltsport.net pics  first, then start taobao pics design. tks.
ltsport pics need finish on 19th AUG.

this one finish on 24th AUG.

pls reply me ok or not?

[2016-08-12 09:59] christinechina commented on #15
ltsport pics need finish on 19th AUG.

[2016-08-12 17:38] kevin-doselection commented on #15
Some guide are in the link, under guide folder. The rest is under going
And website pic is under website folder.
please let us know what pic you need, and send it to us.

https://www.dropbox.com/sh/nky8pbyu9jgaa3g/AADb9iEdu6G3eKhCo5wQVUjDa?dl=0

[2016-08-12 17:40] kevin-doselection commented on #17
Okay

[2016-08-12 17:41] #1 closed, assigned to christinechina

[2016-08-15 00:42] DAXIAPI commented on #15
@kevin-doselection Hi,kevin,some pics have been sent to your mailbox.pls check it.

[2016-08-15 03:30] DAXIAPI commented on #11
@kevin-doselection I can not understand this part,see the pic below
![qq 20160815112519](https://cloud.githubusercontent.com/assets/20631720/17655010/920c79ee-62db-11e6-94b9-9f416c09442b.jpg)

[2016-08-15 03:32] DAXIAPI commented on #11
![qq 20160815113151](https://cloud.githubusercontent.com/assets/20631720/17655048/f022117e-62db-11e6-9250-512e6d8694ed.jpg)
No workable option

[2016-08-15 03:41] DAXIAPI commented on #9
@kevin-doselection Hi,kevin,I have downloaded Vehicle.xlsm and walmartfeed.csv,can you give me an example of a new items template?pls send it to me,thank you!
![qq 20160815114054](https://cloud.githubusercontent.com/assets/20631720/17655142/3061ee02-62dd-11e6-9700-9ada85374f56.jpg)

[2016-08-15 03:48] DAXIAPI commented on #10
@kevin-doselection Hi,kevin,I I have downloaded and Inventory.xlsx Price.xlsx,but I'm not sure how to fit in.can you give me an example of Price.xlsx and Inventory.xlsx.pls send it to me,thank you!

[2016-08-15 09:32] Alan1608 commented on #15
![a](https://cloud.githubusercontent.com/assets/20963326/17660821/fcd9d032-630d-11e6-96bc-68a4497cc8cb.png)
![c](https://cloud.githubusercontent.com/assets/20963326/17660820/fcd76220-630d-11e6-85df-baa335947c3a.png)
车衣用这种图片,但缺少野外背景色,可以制作或另选一张.突出野外景色
![d](https://cloud.githubusercontent.com/assets/20963326/17660824/00334042-630e-11e6-82fa-26ac699e6067.png)
图二:不需要这张车衣照片,不好看.
![f](https://cloud.githu

[2016-08-15 09:36] Alan1608 commented on #15
明天我们需要图片,可以完成吗?

[2016-08-15 15:47] #13 closed, assigned to christinechina

[2016-08-15 15:48] kevin-doselection commented on #11
Put this on hold.

[2016-08-15 15:48] #11 closed, assigned to christinechina

[2016-08-15 15:50] kevin-doselection commented on #10
Source file from ltsport.com: http://www.ltsport.com/amfeed/main/download/file/walmartfeed.csv/
1. For qty update, you will need sku, qty and lagging time (3 days for all)
2. For price update, you will need sku, price only

[2016-08-15 16:27] kevin-doselection commented on #15
沒辦法，設計師都沒來
要後天

Kevin Yang
Website Administrator/Manager, Network Administrator, E-Commerce Specialist
Do Selection Inc
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2016-08-15 18:13] kevin-doselection commented on #9
https://www.dropbox.com/sh/1c6z9vtlrzrkh6q/AABZu7L_kFtjS3KzhS6uORMMa?dl=0

[2016-08-15 22:39] kevin-doselection commented on #2
Where did you place the badge code?

[2016-08-16 00:32] DAXIAPI commented on #10
ok

[2016-08-16 00:40] DAXIAPI commented on #2
@kevin-doselection I put it in page/html/head.phtml,It doesn't work?

[2016-08-16 01:00] DAXIAPI commented on #9
ok

[2016-08-16 03:57] DAXIAPI opened #18 ".net Pictures and pdf translation"
@kevin-doselection Hi,kevin,pls download the file,need to translate,thank you!
https://www.dropbox.com/s/yeu6a5jnkzi6nq8/pic.zip?dl=0

[2016-08-16 04:25] christinechina commented on #18
hi kevin,  already translate into chinese. pls ask designer help to make pics for us, by the excel that above, jess sent. thanks.

[2016-08-16 09:27] Alan1608 commented on #15
嗯,好的

[2016-08-16 16:18] kevin-doselection commented on #2
Google server error. Fixed

[2016-08-16 16:18] #2 closed, assigned to kevin-doselection, lihaolihao

[2016-08-16 16:18] kevin-doselection commented on #18
Mail received. Sent to designer already. Waiting for result

[2016-08-16 22:17] kevin-doselection commented on #15
大圖要什麼?

![br-001](https://cloud.githubusercontent.com/assets/17145866/17717746/8ecdfc14-63c4-11e6-8f1a-dcbf5b4e1971.jpg)
![cb-002](https://cloud.githubusercontent.com/assets/17145866/17717742/8ec28276-63c4-11e6-989d-d2e1ee3d278c.jpg)
![cb001](https://cloud.githubusercontent.com/assets/17145866/17717744/8ecc8dde-63c4-11e6-8073-02b3b6ff8c86.jpg)
![cc 001](https://cloud.githubusercontent.com/assets/1

[2016-08-17 00:31] DAXIAPI commented on #18
ok

[2016-08-17 01:15] Alan1608 commented on #15
![default](https://cloud.githubusercontent.com/assets/20963326/17721198/0439e0e4-645b-11e6-90aa-182f954dc88b.png)
大图需要这样风格的图片,特征:户外驾驶,出现汽车全身照,车顶安装"行李箱"或"行李框".尽量突出山清水秀的背景色.尺寸:1060*500

![20160817092528](https://cloud.githubusercontent.com/assets/20963326/17721423/9f643870-645c-11e6-8d04-b8af2cf7d071.png)

[2016-08-17 19:00] kevin-doselection commented on #14
Caution
1. The file should only contains 1 sheet in CSV format.
2. First row should starts with sku.
3. Always make sure the web link is right after submit.
4. Only contain the data you want to update at one time.
For example, for name update. Use nameUpdate.php link, excel CSV file only can have "sku" "name" column.

Test file:
[test.xlsx](https://github.com/kevin-doselection/China-Status/files/4

[2016-08-17 19:00] #8 closed, assigned to christinechina

[2016-08-17 19:00] #9 closed, assigned to christinechina

[2016-08-17 19:00] #12 closed, assigned to christinechina

[2016-08-18 00:41] DAXIAPI commented on #14
ok

[2016-08-18 02:23] DAXIAPI commented on #14
@kevin-doselection Hi,Kevin,already completed,all successful,pls check up,thank.
![qq 20160818101821](https://cloud.githubusercontent.com/assets/20631720/17759873/c8c5178a-652d-11e6-9ac3-c6117b75987d.jpg)
![qq 20160818101909](https://cloud.githubusercontent.com/assets/20631720/17759874/c8c4ef12-652d-11e6-8072-9225538f5f88.jpg)
![qq 20160818102024](https://cloud.githubusercontent.com/assets/2063172

[2016-08-18 09:42] Alan1608 opened #19 "工作跟进表"

[2016-08-18 09:42] Alan1608 commented on #19
[IT&SEO 工作跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/424553/IT.SEO.xlsx)

[2016-08-18 09:47] DAXIAPI opened #20 "website review detail"
@kevin-doselection Hi,kevin,这是车型表检查有问题的地方，已经修改完成，请在ltsport.com中检查对应的问题
[website review detail 8-11 .xlsx](https://github.com/kevin-doselection/China-Status/files/424565/website.review.detail.8-11.xlsx)

[2016-08-18 10:15] christinechina commented on #20
hi kevin, pls help to follow untill RMA dept send bact to us. thank you so much.

[2016-08-18 10:21] christinechina commented on #19
alan, pls update SEO工作跟进表 trm.  请明天更新 SEO 工作跟进表， 谢谢。

[2016-08-18 16:22] kevin-doselection commented on #18
![br-001](https://cloud.githubusercontent.com/assets/17145866/17781687/33bd9d04-6525-11e6-8591-aa2ac5719e8b.jpg)
![cb-002](https://cloud.githubusercontent.com/assets/17145866/17781686/33bb440a-6525-11e6-81d7-f7f75803fc3a.jpg)
![cb001](https://cloud.githubusercontent.com/assets/17145866/17781685/33baf004-6525-11e6-9899-d886afa867ee.jpg)
![cc 001](https://cloud.githubusercontent.com/assets/17145866/

[2016-08-18 16:29] kevin-doselection commented on #14
Okay, now try to export all product data in Magento. (Backup)
Path: system-import/export-dataflow profile-export all product
Check export all field of all products, run profile, run profile in popup
Download file by FTP, var/export/all.csv

[2016-08-18 16:30] kevin-doselection commented on #15
![br-001](https://cloud.githubusercontent.com/assets/17145866/17781716/4fe0335c-6525-11e6-9b89-cc45b77738da.jpg)
![cb-002](https://cloud.githubusercontent.com/assets/17145866/17781715/4fd96b62-6525-11e6-9708-0d8e7f24ab15.jpg)
![cb001](https://cloud.githubusercontent.com/assets/17145866/17781714/4fd894d0-6525-11e6-8de9-222f63ef77ba.jpg)
![cc 001](https://cloud.githubusercontent.com/assets/17145866/

[2016-08-18 16:36] kevin-doselection commented on #20
Sent to RMA dept

[2016-08-19 00:27] DAXIAPI commented on #20
ok

[2016-08-19 00:48] DAXIAPI commented on #14
already completed

[2016-08-19 01:41] christinechina commented on #19
[IT.SEO.xlsx](https://github.com/kevin-doselection/China-Status/files/426166/IT.SEO.xlsx)
hi alan,下次最好用这个网站发给我。 每周可更新一次。 因为其他同事如KEVIN, Leo, 都想知道你的工作进度。及时协助你完成。

hi leo,kevin, pls dowmload attachment and have a look. any qustion,pls contact us.

[2016-08-19 01:46] christinechina commented on #15
Hi kevin,
pics looks not good.  this three need revised. need much more fashion. The pixel is too low. cant see clearly.
pls ask designer send it back on monday.
![qq 20160819094302](https://cloud.githubusercontent.com/assets/20959180/17796173/56922c38-65f1-11e6-84bc-9619e31db6da.jpg)

![qq 20160819094631](https://cloud.githubusercontent.com/assets/20959180/17796234/d3c60cba-65f1-11e6-82a2-8909888

[2016-08-19 09:18] DAXIAPI commented on #19
IT工作跟进表
[IT.xlsx](https://github.com/kevin-doselection/China-Status/files/426677/IT.xlsx)

[2016-08-19 09:24] Alan1608 commented on #19
[IT&SEO 工作跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/426691/IT.SEO.xlsx)

OK 已更新

[2016-08-19 17:14] kevin-doselection commented on #18
Do you need anything from designer?

[2016-08-19 17:16] kevin-doselection commented on #14
Okay, if you finish the backup export.
You can do the update.

[2016-08-19 18:06] kevin-doselection commented on #15
Working on it

[2016-08-19 18:07] kevin-doselection commented on #17
Taobao I create a sample template before. Did you see that?

[2016-08-19 21:54] kevin-doselection commented on #20
working on it

[2016-08-19 22:30] kevin-doselection commented on #18
Guide video all translated, but PDF still need China translate text

[2016-08-22 00:33] DAXIAPI commented on #20
ok

[2016-08-22 00:35] DAXIAPI commented on #14
ok

[2016-08-22 00:44] DAXIAPI commented on #18
PDF China translate text
https://www.dropbox.com/sh/x6b7usek2syeq5c/AADSmcXAptGB7J9vz7wMLx2Ua?dl=0

[2016-08-22 03:18] christinechina commented on #17
主图是这里显示。 要5张大图。
![qq 20160822111319](https://cloud.githubusercontent.com/assets/20959180/17842831/758be38a-6859-11e6-9365-110bfddeb6c2.jpg)
https://item.taobao.com/item.htm?id=536199830332

[2016-08-23 16:36] kevin-doselection commented on #18
Sent to designer

[2016-08-23 17:17] kevin-doselection commented on #15
What do you mean?
pixel or color not too bright?

[2016-08-23 17:18] kevin-doselection commented on #17
working on it

[2016-08-23 17:27] kevin-doselection commented on #14
Please update this excel.
[总表website review detail 8-1-2016.xlsx](https://github.com/kevin-doselection/China-Status/files/433276/website.review.detail.8-1-2016.xlsx)

[2016-08-23 17:40] kevin-doselection commented on #10
Okay, Please do this task everyday.
We want the walmart info is up to date.

[2016-08-24 00:31] DAXIAPI commented on #14
ok

[2016-08-24 00:33] DAXIAPI commented on #18
okay，got it

[2016-08-24 00:37] DAXIAPI commented on #10
okay,got it

[2016-08-24 06:21] christinechina commented on #15
both

[2016-08-24 06:25] christinechina commented on #15
![img_7080](https://cloud.githubusercontent.com/assets/20959180/17920290/4848928e-6a06-11e6-8bc4-6056e88cee91.JPG)
![img_7081](https://cloud.githubusercontent.com/assets/20959180/17920300/53db3462-6a06-11e6-915b-bc19b783465f.JPG)
for reference only. pls help to transfer to designer .

[2016-08-24 07:22] DAXIAPI commented on #14
@kevin-doselection has completed the update, pls check it,thank.

[2016-08-24 08:24] christinechina commented on #14
Hi jess,  pls export to me for double check. tks

[2016-08-24 09:31] DAXIAPI commented on #10
@kevin-doselection Hi,kevin,how to match the walmartfeed.csv data to the Inventory.xlsx and Price.xlsx,how do I know which SKU need to be updated,pls tell me,thank!

[2016-08-24 17:26] kevin-doselection commented on #15
Please see below
![br-001](https://cloud.githubusercontent.com/assets/17145866/17940720/35ca4f92-69e5-11e6-8a3d-0002ae37669b.jpg)
![cb-002](https://cloud.githubusercontent.com/assets/17145866/17940718/35c3b20e-69e5-11e6-9519-df826da6d6d4.jpg)
![cb001](https://cloud.githubusercontent.com/assets/17145866/17940719/35ca7184-69e5-11e6-96a9-69366f4b7319.jpg)
![cc 001](https://cloud.githubusercontent.com

[2016-08-24 17:35] kevin-doselection commented on #14
If you checked please let us know, christin. thanks

[2016-08-24 17:38] kevin-doselection commented on #10
Since walmart is copy from website, you can update all sku.
for inventory, you just need sku, qty, lagging time (all set 3)
for price, you will need sku, price

[2016-08-24 18:07] kevin-doselection commented on #17
![br-001](https://cloud.githubusercontent.com/assets/17145866/17942205/4d06d9cc-69eb-11e6-9bb9-b3b2d74d7caa.jpg)
![cb-002](https://cloud.githubusercontent.com/assets/17145866/17942210/4d27472a-69eb-11e6-92ea-4816df071c2e.jpg)
![cb001](https://cloud.githubusercontent.com/assets/17145866/17942207/4d22df78-69eb-11e6-9579-e6a68c541c2f.jpg)
![cc 001](https://cloud.githubusercontent.com/assets/17145866/

[2016-08-24 18:31] kevin-doselection opened #21 "CB-FR-95 attribute update"
CB-FR-95 attribute update

SKU: CB-FR-95-201-WS
Attribute: year, make, model, sub-model, pdata(vehicle fitment)
![screen shot 2016-08-24 at 11 28 57](https://cloud.githubusercontent.com/assets/17145866/17942887/1dd0c9ee-69ee-11e6-80b4-e6477a1f392e.png)

Data source:
[CB-FR-95.pdf](https://github.com/kevin-doselection/China-Status/files/435422/CB-FR-95.pdf)

[2016-08-24 23:54] kevin-doselection commented on #18
![antenna-vm-chi](https://cloud.githubusercontent.com/assets/17145866/17951917/d1da708a-6a1a-11e6-9b3b-786a679e807e.jpg)
![br-3ba-vm-chi](https://cloud.githubusercontent.com/assets/17145866/17951916/d1d909de-6a1a-11e6-8e8b-f3b3723d54c2.jpg)
![br-4bhm-vm- installation guide1-0123](https://cloud.githubusercontent.com/assets/17145866/17951918/d1da6572-6a1a-11e6-8bf1-f7bdc91d17e3.png)
![cb-902-s44-gui

[2016-08-25 00:43] DAXIAPI commented on #10
okay,got it

[2016-08-25 00:51] DAXIAPI commented on #10
@kevin-doselection Hi,kevin,what time to update the price and inventory in China is the best, does not affect the sales of Walmart.

[2016-08-25 03:49] DAXIAPI commented on #21
@kevin-doselection already completed,pls check it,thank.
![image](https://cloud.githubusercontent.com/assets/20631720/17956129/f16011ae-6ab9-11e6-92c5-7b6da31e288f.png)

[2016-08-25 08:52] christinechina commented on #18
some word need revised. pls see attachment and transfer to designer. tks. @kevin-doselection
[guide need revised.xlsx](https://github.com/kevin-doselection/China-Status/files/436511/guide.need.revised.xlsx)

[2016-08-25 15:36] kevin-doselection commented on #10
Don't worry about it, you can update it anytime.

[2016-08-25 15:44] kevin-doselection commented on #21
Sent to RMA dept to check.

[2016-08-25 15:45] kevin-doselection commented on #18
Sent to designer.

[2016-08-25 16:42] kevin-doselection commented on #21
Another task:

sku: all CB-SU
attribute: pdata(vehicle fitment) remove every scion Xb

[2016-08-25 23:59] kevin-doselection opened #22 "SEO"
SEO, do you have idea to improve ltsport.net exposure in China?
Not only website itself, but also qq, baido etc.
And so far how many improvement did you do, besides Meta information.

[2016-08-26 00:00] kevin-doselection opened #23 "IT"
Jess, can you list the project you are working now, and plan to do in the future?
And what is your daily task for now.

[2016-08-26 00:01] kevin-doselection opened #24 "China status"
Christin,
how is China website doing so far in your perspective?

[2016-08-26 00:35] DAXIAPI commented on #10
ok,got it.

[2016-08-26 00:37] DAXIAPI commented on #21
ok

[2016-08-26 01:20] DAXIAPI commented on #21
already completed,pls check it,thank.

[2016-08-26 02:43] christinechina commented on #24
hi kevin,
now we still wiating for designer send back pics. Price of products haven't confirm yet. and leo help us matching model list, china to usa. The other pages  of website have finished  and no problem.

[2016-08-26 02:45] christinechina commented on #24
jess, pls send pic of every page. tks @lihaolihao

[2016-08-26 04:12] #19 closed, assigned to Alan1608

[2016-08-26 04:13] christinechina commented on #18
thank you. pls tell me when can finish?

[2016-08-26 04:15] christinechina commented on #15
![image](https://cloud.githubusercontent.com/assets/20959180/17993888/acd92138-6b86-11e6-86e3-657f8ba48893.png)

![image](https://cloud.githubusercontent.com/assets/20959180/17993892/b1eaa0e8-6b86-11e6-8144-85486a40665c.png)

still no good. pls ask desinger revise again. tks

[2016-08-26 09:11] christinechina commented on #22
[里浩车品营销方案.pptx](https://github.com/kevin-doselection/China-Status/files/438923/default.pptx)
[SEO网站优化方案.pptx](https://github.com/kevin-doselection/China-Status/files/438925/SEO.pptx)
HI kevin, that's the plan alan send me. pls have a look.  He is working following these plan. pls transfer to LEO too.  any suggestion flee free to contact us. thanks

[2016-08-26 09:13] Alan1608 commented on #22
[SEO 工作跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/438915/SEO.xlsx)
最近都有用QQ群曝光ltsport.net网站.QQ比较时效性.但不好 的是大多数不能直接发广告.会被T.
百度知道,百度文库,博客,论坛,贴吧,分类信息网等都已经有账号.现在站外免费的曝光只能通过这些渠道留下网站的链接进而曝光产品.

[2016-08-26 09:22] DAXIAPI commented on #23
[IT工作进度跟进表.xlsx](https://github.com/kevin-doselection/China-Status/files/438945/IT.xlsx)

[2016-08-26 16:23] kevin-doselection commented on #18
Before next Tue.

[2016-08-26 16:25] #21 closed, assigned to nobody

[2016-08-26 16:28] kevin-doselection commented on #10
FYI, not only inventory needs to update, but also price information.

[2016-08-26 16:51] kevin-doselection commented on #22
環境分析
第二點
同樣銷售Window Visor, Mats, roof rack有哪些商店
第三點
女性有車族在市場比例多少

市場細分
第三點
請提供三個同業間中上等的網站，作為參考

4P策略組合
第四點  (*)
目前百度搜尋進度
文章更新進度
站外優化進度

[2016-08-26 16:55] kevin-doselection commented on #22
一、
（一）結構修改在現今的網站容易嗎？
（二）（三）網站地圖優先製作 sitemap
（四）針對大陸用戶對各產品產生合適的關鍵字，產品優先
二、
（一）報章、雜誌、書籍預期從何處取得
（二）站長工具可以啟用
（三）同一、（四）
（四）可以舉例嗎？像是產品頁中連到何處
三、
（二）目前其他業者也做類似的活動嗎？
四、
（一）請提供過去一個月統計圖表作為參考
（二）可以提取其他業者的關鍵字作為己用

[2016-08-26 17:51] kevin-doselection commented on #15
![br-001](https://cloud.githubusercontent.com/assets/17145866/18015086/f8897eae-6b7a-11e6-8d7d-bb848a7dad69.jpg)
![cc 001](https://cloud.githubusercontent.com/assets/17145866/18015085/f886f54e-6b7a-11e6-8b3b-504a2105a177.jpg)

[2016-08-29 01:03] DAXIAPI commented on #10
@kevin-doselection upload processing result error
[Price.xlsx](https://github.com/kevin-doselection/China-Status/files/441463/Price.xlsx)
![qq 20160829090147](https://cloud.githubusercontent.com/assets/20631720/18038201/71f043b0-6dc7-11e6-9193-9ff00f25a1bd.jpg)

[2016-08-29 07:07] christinechina commented on #24
Have a look these pics. pages of  chinses website.

![lt sport - ltsport com](https://cloud.githubusercontent.com/assets/20959180/18042635/18bab7d4-6df5-11e6-81b2-d64a648dbe7f.png)

![products - ltsport com](https://cloud.githubusercontent.com/assets/20959180/18042746/be1ca930-6df5-11e6-8484-76b9fcb38a31.png)

![qq 20160829091411](https://cloud.githubusercontent.com/assets/20959180/18042805/283b77

[2016-08-29 07:14] christinechina commented on #24
Hi kevin, because mate still reviseding. so Jess haven't upload this chinese new format. and haven't upload chinese product description.  pis for refreence only. thanks.

[2016-08-29 07:16] christinechina commented on #22
got it. alan, copy that.

[2016-08-29 16:16] kevin-doselection commented on #10
Try download a new template from Seller.walmart.com

[2016-08-29 18:52] kevin-doselection commented on #24
Sorry Christin, i don't understand.

[2016-08-30 01:26] christinechina commented on #24
Alan 在做中文网站内部优化，所以新版本未上传上网。 图片是新版中文网站的效果图。 你看看。 基本完成。

[2016-08-30 01:32] christinechina commented on #15
need one more pics, pls ask desinger do that.  this one for reference only.  @kevin-doselection
![news_00](https://cloud.githubusercontent.com/assets/20959180/18072925/a80a1ad4-6e94-11e6-8cbd-4dc7e65e023a.jpg)

[2016-08-30 09:47] Alan1608 commented on #22
[環境分析.docx](https://github.com/kevin-doselection/China-Status/files/444458/default.docx)
在同行网站中,他们大多通过第三方平台(淘宝天猫京东一号店卖产品)销售产品,他们自己的网站都是内容站,不是购物网站.从内容站链接到他们的第三方商店.与我们站出发点不一样.
脚垫同行的有:
御马:http://www.yumachina.com/天猫淘宝店:https://yumacp.tmall.com/shop/view_shop.htm京东店:http://masyuma.jd.com/
御马占有脚垫市场32%的份额.
五福金牛:天猫淘宝店:https://wfjn.tmall.com/京东店:http://mall.jd.com/index-1000001798.html
五福金牛占有脚垫市场22%的份额.

[2016-08-30 16:07] kevin-doselection commented on #10
Put on hold, Walmart.com is working on it

[2016-08-30 16:21] kevin-doselection commented on #18
Designer is not coming today, wait to tomorrow

[2016-08-30 16:50] kevin-doselection commented on #22
很好，我們會研究這些文件

[2016-08-30 21:17] kevin-doselection commented on #14
How's it going?

[2016-08-31 00:26] DAXIAPI commented on #10
ok

[2016-09-01 07:52] christinechina commented on #14
[website.review.detail.9-1-2016 need RMA double check .xlsx](https://github.com/kevin-doselection/China-Status/files/449078/website.review.detail.9-1-2016.need.RMA.double.check.xlsx)
hi kevin, jess have upload that we have revised. only some left, pls ask RMA dept. check and send us back. and i have send LEO a copy.

[2016-09-01 07:56] christinechina commented on #10
Hi kevin,
if this task need stop for a while. pls send jess new test task. thanks.  pls review these task list.

![image](https://cloud.githubusercontent.com/assets/20959180/18159715/910d3cb6-705c-11e6-99ef-e20f8e1da22b.png)

[2016-09-01 07:57] christinechina commented on #20
dear all. it's double with another task.  so close this one.

[2016-09-01 07:58] #20 closed, assigned to kevin-doselection

[2016-09-01 08:00] christinechina commented on #24
hi kevin understand or not? any question feel free contact us. now we are instering payment method.  once finshed, will update status.

[2016-09-01 08:02] christinechina commented on #15
hi kevin, any update?

[2016-09-01 08:05] christinechina commented on #17
主图是这里显示。 要5张大图。
https://item.taobao.com/item.htm?id=536199830332
![758be38a-6859-11e6-9365-110bfddeb6c2](https://cloud.githubusercontent.com/assets/20959180/18160022/f1224096-705d-11e6-8e65-fa31cbb271db.jpg)

h kevin, this five pics, finishe or not ？pls follow up. thanks

[2016-09-01 08:06] christinechina commented on #18
OK. pls speed up. tks

[2016-09-01 15:57] kevin-doselection commented on #10
Let Jess continue working on Daily Walmart qty price update, China website update, and cooperate with SEO.

[2016-09-01 15:57] kevin-doselection commented on #24
Good, after finish let me know. No question so far until I test it.

[2016-09-01 16:10] kevin-doselection commented on #14
Please check is the file can be open, me and RMA cannot open it

[2016-09-01 17:34] kevin-doselection commented on #18
They are making video these day, latest day you will get picture is 9/7 (Wed)

[2016-09-01 17:34] kevin-doselection commented on #17
They are making video these day, latest day you will get picture is 9/7 (Wed)

[2016-09-01 17:34] kevin-doselection commented on #15
They are making video these day, latest day you will get picture is 9/7 (Wed)

[2016-09-02 09:05] christinechina commented on #14
[website.review.detail.9-1-2016 need RMA double check .xlsx](https://github.com/kevin-doselection/China-Status/files/451597/website.review.detail.9-1-2016.need.RMA.double.check.xlsx)
and i send you a copy by email.

[2016-09-02 15:46] kevin-doselection commented on #14
I downloaded these (from email and here), both cannot open with the same error information.
Picture is fine.

[2016-09-02 18:15] kevin-doselection commented on #14
About picture, designer said they just cover the old picture with new text on it.
It is easy, can you ask IT or other people to do it?
For these documents has white background only.

About other buttons, designer will do it.
Since Leo ask them to finish other tasks before he left US.

[2016-09-05 09:35] DAXIAPI opened #25 "magento onepage checkout problem"
@kevin-doselection Hi,kevin,Do you know how to solve the "Fatal error: Call to a member function setMethod() on a non-object in /var/www/html/app/code/core/Mage/Payment/Helper/Date.php 106",now can't magento onepage checkout.

[2016-09-06 16:17] kevin-doselection commented on #25
Which page causes this error? And what action did you do.

Ref 1: http://stackoverflow.com/questions/2922895/when-loading-shopping-cart-in-magento-with-a-new-payment-module-i-get-an-error
Ref 2: http://magento.stackexchange.com/questions/31517/magento-fatal-error-call-to-a-member-function-getmethodinstance-on-a-non-obje

[2016-09-06 18:34] kevin-doselection commented on #14
September review:
Large amount of sku are missing attribute information in all.csv, but is showing on webstie.
Can you check?

[2016-09-06 23:39] kevin-doselection commented on #15
![bss men 01](https://cloud.githubusercontent.com/assets/17145866/18294750/69ae9168-7450-11e6-9469-182d9e2f3130.jpg)

[2016-09-06 23:46] kevin-doselection commented on #14
Product Review:
URL: http://ltsport.com/update/googleUpdate.php
Update 2 attributes, product_type and google_product_category
There are 386 products are missing these data.

[2016-09-06 23:53] kevin-doselection opened #26 "Trust store code"
URL: https://support.google.com/trustedstoresmerchant/answer/6063075

4 Error:
![screen shot 2016-09-06 at 16 52 52](https://cloud.githubusercontent.com/assets/17145866/18294989/766b8d3c-7452-11e6-9e2a-7aae9f6026a9.png)
![screen shot 2016-09-06 at 16 52 59](https://cloud.githubusercontent.com/assets/17145866/18294991/76a054e0-7452-11e6-8a20-71ecf0112bb4.png)
![screen shot 2016-09-06 at 16 53 10](h

[2016-09-07 01:48] DAXIAPI commented on #14
Already completed,Update 2 attributes, product_type and google_product_category.
I downloaded all.csv and I didn't see large amount of sku are missing attribute information in all.csv,can you check it again?

[2016-09-07 06:52] christinechina commented on #10
hi kevin, any update for the problem jess said?

[2016-09-07 09:24] DAXIAPI commented on #25
I search the question,but it's not working.page  /checkout/onepage/
![qq 20160907172400](https://cloud.githubusercontent.com/assets/20631720/18306776/f22c6900-751f-11e6-8159-38591364a2aa.jpg)

[2016-09-07 09:28] DAXIAPI commented on #26
what is gts-i-prodesearch-id and google_base_offer__id?

[2016-09-07 09:31] DAXIAPI commented on #15
got it

[2016-09-07 09:32] DAXIAPI commented on #10
update price still error

[2016-09-07 15:52] kevin-doselection commented on #10
Still waiting for their reply

![screen shot 2016-09-07 at 08 51 50](https://cloud.githubusercontent.com/assets/17145866/18318924/65f399aa-74d8-11e6-93a2-ab7b588cda61.png)

[2016-09-07 16:06] kevin-doselection commented on #26
Google Account ID is 699026
Shopping Item ID is GTIN, different products would have different GTIN

[2016-09-07 16:23] kevin-doselection commented on #25
Give me a customer account that I can try.

[2016-09-07 16:52] kevin-doselection commented on #14
Thanks. Tomorrow will check error code again

[2016-09-07 16:53] #23 closed, assigned to lihaolihao

[2016-09-07 16:53] #15 closed, assigned to lihaolihao, christinechina

[2016-09-07 17:56] kevin-doselection commented on #17
![taoboa-list pic-01](https://cloud.githubusercontent.com/assets/17145866/18322864/b23ad1aa-74e9-11e6-91bd-51ae8dd8bad2.jpg)
![taoboa-list pic-02](https://cloud.githubusercontent.com/assets/17145866/18322860/b2335768-74e9-11e6-9b3c-afc75386d76d.jpg)
![taoboa-list pic-03](https://cloud.githubusercontent.com/assets/17145866/18322863/b2376024-74e9-11e6-91f1-778d0fe74073.jpg)
![taoboa-list pic-04](htt

[2016-09-07 22:42] kevin-doselection commented on #18
![antenna-guide-chi](https://cloud.githubusercontent.com/assets/17145866/18331003/d58d3586-7510-11e6-816a-db2b8bd40056.jpg)
![br-3ba-guide-chi](https://cloud.githubusercontent.com/assets/17145866/18331004/d58f3e4e-7510-11e6-94a1-f7acbc2aa141.jpg)
![br-4bhm-guide-chi](https://cloud.githubusercontent.com/assets/17145866/18331006/d594a668-7510-11e6-8366-d1ea413df4c6.jpg)
![car cover-guide-chi](https:

[2016-09-08 01:00] DAXIAPI commented on #10
ok

[2016-09-08 01:49] DAXIAPI commented on #26
I added these,pls check it,thank you!
![qq 20160908094653](https://cloud.githubusercontent.com/assets/20631720/18334343/549dd748-75a9-11e6-84ef-6224008114cb.jpg)
![qq 20160908094715](https://cloud.githubusercontent.com/assets/20631720/18334344/54a00c52-75a9-11e6-8a08-06a9be8afdd7.jpg)

[2016-09-08 02:26] DAXIAPI commented on #25
123456@qq.com/a123456
![image](https://cloud.githubusercontent.com/assets/20631720/18335031/a3105a68-75ae-11e6-9e65-b5541d0be8fb.png)

[2016-09-08 18:14] kevin-doselection commented on #25
![screen shot 2016-09-08 at 11 14 09](https://cloud.githubusercontent.com/assets/17145866/18361057/6305836a-75b5-11e6-8c4c-f21cd800c6eb.png)
Any problem?

[2016-09-08 18:44] kevin-doselection commented on #26
Great!

[2016-09-08 18:44] #26 closed, assigned to lihaolihao, christinechina

[2016-09-08 18:45] #14 closed, assigned to lihaolihao, christinechina

[2016-09-09 01:32] DAXIAPI commented on #25
pls try again,thank!

[2016-09-09 09:59] christinechina commented on #18
[PDF更改.xlsx](https://github.com/kevin-doselection/China-Status/files/463705/PDF.xlsx)
 need revised again @kevin-doselection

[2016-09-09 22:16] kevin-doselection commented on #25
cannot login

[2016-09-12 02:39] DAXIAPI commented on #25
2634563010@qq.com/a123456,try this.

[2016-09-13 01:23] Alan1608 opened #27 "工作跟进表"

[2016-09-13 01:24] #27 closed, assigned to nobody

[2016-09-13 01:24] Alan1608 opened #28 "工作跟进表"

[2016-09-13 01:25] #28 closed, assigned to nobody

[2016-09-13 21:24] kevin-doselection opened #29 "website fitment fix"
excel included sku that need to fix year, make, model
[require fitment fix.xlsx](https://github.com/kevin-doselection/China-Status/files/470834/require.fitment.fix.xlsx)

[2016-09-13 21:25] kevin-doselection commented on #29
Waiting:
China-data
Ivee-price

[2016-09-14 00:27] kevin-doselection commented on #29
[description_missing_fitment.xlsx](https://github.com/kevin-doselection/China-Status/files/471050/description_missing_fitment.xlsx)

Problem column: Description
Example:
LT Sport&reg; Brand Cargo Net. Item(s) Ready to Ship from United States. Roof Cargo Net Attaches to the Roof Carrier Basket and Safely Secures Cargo In Place. Perfect for Keeping Items From Moving. Made from Rubber. 100% Brand New

[2016-09-14 01:34] #22 closed, assigned to Alan1608

[2016-09-14 01:35] #17 closed, assigned to kevin-doselection

[2016-09-19 08:56] DAXIAPI opened #30 "How Nexcess Server System restore"
Hi,kevin,I want to know if the website have a problem, how to restore the system to the backup status in the Nexcess Server.thank!

[2016-09-19 15:43] kevin-doselection commented on #30
If you are talking about US site website.

Link: https://portal.nexcess.net
Account Login: (Not sure if you have it or not)
Step: Open a Ticket > Request to do a restore at a specific time.

[Nexcess Support ticket.pdf](https://github.com/kevin-doselection/China-Status/files/480467/Nexcess.Support.ticket.pdf)

[2016-09-19 15:44] kevin-doselection commented on #29
Is it in processing now?

[2016-09-20 20:28] kevin-doselection commented on #18
https://www.dropbox.com/sh/bp9az9viiqn67qb/AAA9QeEubnDWqui2hn1-4345a?dl=0

[2016-09-21 02:46] DAXIAPI opened #31 "Amazon Order Import Error"
@kevin-doselection hi,kevin,Amazon orders import error, the original order for the first time introduced the status 'Processing', now import into 'complete', because the plug-in and import procedures  had a conflict, need to find the conflicting plug-ins

[2016-09-21 02:57] DAXIAPI opened #32 "Model Search Problems"
@kevin-doselection When searching for the year is "1999" ,brand "Honda", models for the "Civic" and "Rack", the result of "sku" as "CB-SU-4D-202-WS, CB-SU-4D-203- WS, CB-BU-4D-203-WS ", but the search results are not matching. Do you have any idea to solve this problem?

[2016-09-21 02:58] DAXIAPI commented on #30
OK,but I need Account Login,thank!

[2016-09-21 03:02] #25 closed, assigned to kevin-doselection, lihaolihao

[2016-09-21 07:03] DAXIAPI commented on #18
@kevin-doselection The pattern changed to "Video" pattern, "TERMS&SERVICE" text changed to "GUIDE VIDEO" text.thank!
![terms-after](https://cloud.githubusercontent.com/assets/20631720/18700725/605b88d4-800b-11e6-868f-da959d970ffc.png)

[2016-09-21 07:58] DAXIAPI commented on #18
![about_us-after](https://cloud.githubusercontent.com/assets/20631720/18702045/7e6cc44e-8012-11e6-8054-afcd28d1f007.png)
![account-after](https://cloud.githubusercontent.com/assets/20631720/18702049/7e727376-8012-11e6-8ca4-3bd72d8aa926.png)
![appoint-after](https://cloud.githubusercontent.com/assets/20631720/18702058/80b6c2c2-8012-11e6-87aa-ddb70b852767.png)
![contact-after](https://cloud.githubus

[2016-09-21 16:13] kevin-doselection commented on #30
skykevin77@gmail.com
SkillAwayQueueYeomen

[2016-09-21 16:14] kevin-doselection commented on #31
How and where did you do the import?

[2016-09-21 16:16] kevin-doselection commented on #32
You mean 1999 honda civia shouldn't have  "CB-SU-4D-202-WS, CB-SU-4D-203- WS, CB-BU-4D-203-WS "?

[2016-09-22 01:16] DAXIAPI commented on #30
thank

[2016-09-22 01:25] DAXIAPI commented on #32
yes,you can check it.fitment did not “1999 honda civia”,also have customer complaints,to search by "1999 honda civic" products do not match.

[2016-09-22 16:17] kevin-doselection commented on #32
Check all product's attribute: v_category.
Should be visor rack cargo mat carrier guard, no number anymore

[2016-09-22 16:25] kevin-doselection commented on #32
Searching by dropdown list is according to v_category.
Searching by "1999 Honda Civic" is according to the keyword inside the product's attributes.
So if there is an issue that both results are not a match, it is because that the v_category is not correctly setup.
Therefore, you can download the whole product list and update the v_category to the website.

[2016-09-23 02:16] DAXIAPI commented on #32
The v_category is correctly setup,three v_category are set to "Rack".The problem is that search "1999 Honda Civic Rack",you can get three product like  "CB-SU-4D-202-WS, CB-SU-4D-203- WS, CB-BU-4D-203-WS ".But it's not matching.
    For example ,SKU as "CB-SU-4D-202-WS"  you can see the fitment (see Italic)"2008-2010 Dodge Avenger,2006-2010 Dodge Charger,2009-2011 Dodge Journey,2005-2008 Dodge Mag

[2016-09-26 15:59] kevin-doselection commented on #32
This is how the extension designed at the first place I believed.
However, in order to fixes this issue, we might need other solution. I am still looking for another way to display vehicle fitment data in our website.
If we cannot change algorithm for the extension, then we can think how to organize our products to prevent wide range of vehicle fitment in one product.

[2016-09-27 03:44] DAXIAPI commented on #18
@kevin-doselection Hi,kevin,is it in processing now?

[2016-09-27 16:00] #30 closed, assigned to lihaolihao, christinechina

[2016-09-27 18:24] kevin-doselection commented on #18
https://www.dropbox.com/sh/ohygq5fsd18mtmn/AADVqCt_pRGWz-3g9fNKSlZ1a?dl=0

[2016-09-28 02:57] DAXIAPI commented on #32
Yes, I agree with you.I tried the other way and both ran into the same problem.This extension is inherently problematic,so if we can't change algorithm for the extension,do as you said.

[2016-09-28 08:50] christinechina commented on #18
hi kevin, pls send me all installation guide PSD format. Thanks. @kevin-doselection

[2016-09-28 17:36] kevin-doselection commented on #18
https://www.dropbox.com/sh/lxz9mwrec1dumi0/AACT9hVYCaidWJY9XOQ7WT_wa?dl=0

[2016-09-29 09:16] DAXIAPI opened #33 "picture"
![about_us-after](https://cloud.githubusercontent.com/assets/20631720/18702045/7e6cc44e-8012-11e6-8054-afcd28d1f007.png)
![account-after](https://cloud.githubusercontent.com/assets/20631720/18702049/7e727376-8012-11e6-8ca4-3bd72d8aa926.png)
![appoint-after](https://cloud.githubusercontent.com/assets/20631720/18702058/80b6c2c2-8012-11e6-87aa-ddb70b852767.png)
![contact-after](https://cloud.githubus

[2016-09-29 09:17] DAXIAPI commented on #33
@kevin-doselection The pattern changed to "Video" pattern, "TERMS&SERVICE" text changed to "GUIDE VIDEO" text.thank!
![terms-after](https://cloud.githubusercontent.com/assets/20631720/18700725/605b88d4-800b-11e6-868f-da959d970ffc.png)

[2016-09-29 11:05] christinechina commented on #29
pls see attachment. most of them fix.

[2016-09-29 11:05] christinechina commented on #29
pls upload for us.

[2016-09-29 15:44] kevin-doselection commented on #29
Sure, where is the attachment?

[2016-09-29 15:45] kevin-doselection commented on #33
Will tell designer ASAP

[2016-09-30 00:27] DAXIAPI commented on #33
ok,thank.

[2016-09-30 04:43] christinechina commented on #29
[require.fitment.fix13.xlsx](https://github.com/kevin-doselection/China-Status/files/502155/require.fitment.fix13.xlsx) sorry. resend now.

[2016-09-30 16:43] kevin-doselection commented on #29
Got it

[2016-09-30 17:30] kevin-doselection commented on #29
which sheet should I take? I saw 1~6 but all missing some data.

[2016-09-30 17:31] kevin-doselection commented on #29
Is description_missing_fitment.xlsx also in progress?

[2016-10-03 02:04] christinechina commented on #29
hi see sheet 2.  require.fitment.fix13.xlsx

 description will fix today.

[2016-10-04 01:20] DAXIAPI commented on #33
hi,kevin,is it in processing now?How long can give me the pictures?

[2016-10-04 16:46] kevin-doselection commented on #29
These are sku missing year make model
[problem.xlsx](https://github.com/kevin-doselection/China-Status/files/509027/problem.xlsx)

[2016-10-04 18:24] kevin-doselection opened #34 "Code to every page"
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

Please add this code to everypage in ltsport.com ( above </body>)

[2016-10-04 18:24] kevin-doselection commented on #34
`<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>`

[2016-10-04 19:33] kevin-doselection commented on #33
https://www.dropbox.com/sh/77f3vvwfmqxykjh/AADVdfzx9MdfhAQrya3fWuyKa?dl=0

[2016-10-04 22:46] kevin-doselection opened #35 "ltsport.com about-us page modify"
Hello, please make a design like below for ltsport.com about-us page.
The left column still remain, adjusting the right side to showing trustworthy about our website.
Each details could use one line to explain the description.
Please use HTML design software to make draft first without edit current website.
After the final edition is finish, we would make the update.

[Scan1.PDF](https://github.co

[2016-10-05 01:07] DAXIAPI commented on #34
ok,had done.

[2016-10-05 06:23] DAXIAPI commented on #35
Is this all right?
![qq 20161005141951](https://cloud.githubusercontent.com/assets/20631720/19103044/15e56700-8b07-11e6-9152-2c6ae2a019d0.png)
![qq 20161005142131](https://cloud.githubusercontent.com/assets/20631720/19103138/9221fc84-8b07-11e6-8f83-d61e73a7feda.png)

[2016-10-05 06:24] DAXIAPI commented on #35
[code.docx](https://github.com/kevin-doselection/China-Status/files/510187/code.docx)

[2016-10-05 08:03] christinechina commented on #29
[problem.xlsx](https://github.com/kevin-doselection/China-Status/files/510356/problem.xlsx)
hi kevin, some SKU we can't find database. Pls ask LEO give us database. then we can fix.
here is that we can fix.
 description problem will send later,

[2016-10-05 15:40] kevin-doselection commented on #34
Great job.

[2016-10-05 15:40] #34 closed, assigned to lihaolihao, christinechina

[2016-10-05 15:41] kevin-doselection commented on #33
Please close the issue, if no more question here.

[2016-10-05 15:41] kevin-doselection commented on #29
No problem

[2016-10-05 16:16] kevin-doselection opened #36 "ltsport.com detail font style"
Hello,
Please change the font from "Arial" to "Roboto".
If cannot be done, pleaes try "Calibri "

![image](https://cloud.githubusercontent.com/assets/17145866/19121701/417c64fc-8adc-11e6-8bc0-fcd4d568c3bb.png)
![image](https://cloud.githubusercontent.com/assets/17145866/19121704/45669146-8adc-11e6-8a0b-6946a9022477.png)
![image](https://cloud.githubusercontent.com/assets/17145866/19121722/54ce2eb4

[2016-10-05 16:44] kevin-doselection commented on #35
1. Can you use icon to replace " VISA Mastercard Amex Discover PayPal Firstdata"?
   like this http://cdn.shopify.com/s/files/1/0070/7032/files/shine-and-shadow.png?118318
2. description change to below

Affordable Auto Accessories with Perfect Fitment
Up-To-Date vehicle information and directly serving U.S.A market.

U.S.A Quality
All-In-One controlling manufacture, shipping and retail activities

[2016-10-05 16:46] kevin-doselection commented on #35
![image](https://cloud.githubusercontent.com/assets/17145866/19122669/6249fcc2-8ae0-11e6-8105-723cc86917fc.png)
Change CONTACT to ABOUT US
Change CONTACT INFO. to OUR STORE

[2016-10-05 16:46] #32 closed, assigned to kevin-doselection, lihaolihao

[2016-10-05 16:47] kevin-doselection commented on #29
Okay, so the data I should use is Sheet1?

[2016-10-06 00:30] #33 closed, assigned to kevin-doselection, lihaolihao

[2016-10-06 01:35] DAXIAPI commented on #36
"Calibri " is ok,but "Roboto" can't work,I have set "Calibri ".

[2016-10-06 03:22] DAXIAPI commented on #35
![qq 20161006112107](https://cloud.githubusercontent.com/assets/20631720/19139405/08d909a8-8bb7-11e6-8cde-a531ffd42528.png)

[2016-10-06 03:23] DAXIAPI commented on #35
has done

[2016-10-06 17:32] kevin-doselection commented on #35
Great. After remove "FedEx...." and "Amazon, ebay....", please update to ltsport.com

[2016-10-06 17:34] kevin-doselection commented on #36
Doesn't look good. Try to find some font style that is smoother.

[2016-10-06 22:24] kevin-doselection opened #37 "GTIN adjustment"
Hello,
First, please adjustment all sku to without "-WS" in GS1 DataHub website
URL: https://goo.gl/JXqyH3
Path: Product > Manage > Description > Additional Information > Edit SKU > Save

username: kevin.doselection@gmail.com
password: LIKIsila921

Second, Please fill in gtin code, according from GS1 DataHub website data.
You would be able to export current "in use" record.
Please DO NOT create ne

[2016-10-07 01:26] DAXIAPI commented on #36
Is "Tahoma" ok?
![qq 20161007092458](https://cloud.githubusercontent.com/assets/20631720/19176191/09350e6a-8c70-11e6-9c79-877d7bc15bdd.png)

[2016-10-07 01:51] DAXIAPI commented on #35
has done.
![qq 20161007094608](https://cloud.githubusercontent.com/assets/20631720/19176494/f50c19b2-8c72-11e6-9a30-f77b2c5e0211.png)

[2016-10-07 02:02] kevin-doselection commented on #36
How about in product detail page?

Sent from my ASUS

-------- Original Message --------
From:Jsee notifications@github.com
Sent:Thu, 06 Oct 2016 18:26:22 -0700
To:kevin-doselection/China-Status China-Status@noreply.github.com
Cc:kevin-doselection kevin.doselection@gmail.com,Author author@noreply.github.com
Subject:Re: [kevin-doselection/China-Status] ltsport.com detail font style (#36)

[2016-10-07 02:06] DAXIAPI commented on #36
![qq 20161007100544](https://cloud.githubusercontent.com/assets/20631720/19176741/a624d926-8c75-11e6-9276-89ccde220e8a.png)
@kevin-doselection here

[2016-10-07 02:14] DAXIAPI commented on #37
@kevin-doselection first step is error when I click  "Additional Information".
![qq 20161007101240](https://cloud.githubusercontent.com/assets/20631720/19176878/cb5d7b7a-8c76-11e6-8560-2c2f68cc5642.png)

[2016-10-07 02:20] kevin-doselection commented on #37
Maybe try  logout login.

Sent from my ASUS

-------- Original Message --------
From:Jsee notifications@github.com
Sent:Thu, 06 Oct 2016 19:14:26 -0700
To:kevin-doselection/China-Status China-Status@noreply.github.com
Cc:kevin-doselection kevin.doselection@gmail.com,Mention mention@noreply.github.com
Subject:Re: [kevin-doselection/China-Status] GTIN adjustment (#37)

[2016-10-07 02:20] kevin-doselection commented on #36
Good lets try this one

Sent from my ASUS

-------- Original Message --------
From:Jsee notifications@github.com
Sent:Thu, 06 Oct 2016 19:06:45 -0700
To:kevin-doselection/China-Status China-Status@noreply.github.com
Cc:kevin-doselection kevin.doselection@gmail.com,Mention mention@noreply.github.com
Subject:Re: [kevin-doselection/China-Status] ltsport.com detail font style (#36)

[2016-10-07 02:21] DAXIAPI commented on #36
ok

[2016-10-07 02:23] DAXIAPI commented on #37
I try but it's still error.

[2016-10-07 02:32] kevin-doselection commented on #37
I see. However you can login and click product?

Sent from my ASUS

-------- Original Message --------
From:Jsee notifications@github.com
Sent:Thu, 06 Oct 2016 19:23:21 -0700
To:kevin-doselection/China-Status China-Status@noreply.github.com
Cc:kevin-doselection kevin.doselection@gmail.com,Mention mention@noreply.github.com
Subject:Re: [kevin-doselection/China-Status] GTIN adjustment (#37)

[2016-10-07 02:35] DAXIAPI commented on #37
yes,I can login and click product,but I can't enter “Additional Information”.

[2016-10-07 03:08] DAXIAPI commented on #37
[complete gtin.adjustment.xlsx](https://github.com/kevin-doselection/China-Status/files/515174/complete.gtin.adjustment.xlsx)
has fill in gtin code.

[2016-10-07 16:08] kevin-doselection commented on #36
Perfect

[2016-10-07 16:08] #36 closed, assigned to nobody

[2016-10-07 16:52] kevin-doselection commented on #37
No problem, I got this

[2016-10-07 16:52] #37 closed, assigned to Doselectioninc, lihaolihao, christinechina

[2016-10-10 16:14] kevin-doselection commented on #35
Apply these link to each icon
VISA: https://usa.visa.com/
mastercard: https://www.mastercard.us/en-us.html
discover: https://www.discover.com/
Amex: https://www.americanexpress.com/
Paypal: https://www.paypal.com/
Google Trusted store (Text link): https://www.google.com/trustedstores/
SSL 128-bit AES Encryption(Text link): https://en.wikipedia.org/wiki/Transport_Layer_Security
McAfee SECURE( text

[2016-10-10 16:16] kevin-doselection commented on #10
The solution has been found.
[Price (1).xlsx](https://github.com/kevin-doselection/China-Status/files/519939/Price.1.xlsx)

[2016-10-10 18:41] kevin-doselection commented on #24
Hi, data from Designer
https://www.dropbox.com/sh/0l6qyxaajdxl006/AABERWTNs_5H-GkXvpTaMruoa?dl=0

[2016-10-10 19:57] kevin-doselection commented on #29
Hello, please fix the record with RED cell color
[china.xlsx](https://github.com/kevin-doselection/China-Status/files/520298/china.xlsx)

[2016-10-10 21:39] #18 closed, assigned to lihaolihao, christinechina

[2016-10-10 21:39] #31 closed, assigned to kevin-doselection, lihaolihao

[2016-10-11 01:29] DAXIAPI commented on #35
ok,had done.

[2016-10-11 07:28] christinechina commented on #24
hi kevin, pls tell us what we need to do when you send us task. tks. so above pics we need translate ?? double check??

[2016-10-11 07:32] christinechina opened #38 "send us PDF"
Hi kevin,
need PDF of in the list that mark "NEED". pls see attachment for detail.

Christine
[網站管理PDF .xlsx](https://github.com/kevin-doselection/China-Status/files/521180/PDF.xlsx)

[2016-10-11 15:43] kevin-doselection commented on #24
Above picture are the result from our designer. She said it's assigned from Leo for China TaoBao.
It was requested from your office to Leo I believe.

[2016-10-11 15:44] #35 closed, assigned to Doselectioninc, lihaolihao, christinechina

[2016-10-11 15:58] kevin-doselection commented on #38
Hello, please take a look.
[guide.docx](https://github.com/kevin-doselection/China-Status/files/522323/guide.docx)

[2016-10-12 03:07] DAXIAPI opened #39 "Inventory System"
@kevin-doselection Hi,kevin.Do you know about the Inventory System?I need to modify code,if you know,give me account and password,thank!

[2016-10-12 09:02] christinechina commented on #24
hi, kevin. enclosed a excel that tell where need to revised. pls transfer to designer. Then follow untill he send  it back. Thanks

[2016-10-12 09:02] #24 closed, assigned to Doselectioninc, lihaolihao, christinechina

[2016-10-12 09:05] christinechina opened #40 "taobao pics"
hi, kevin. enclosed a excel that tell where need to revised. pls transfer to designer. Then follow untill he send it back. Thanks

[Uploading 淘宝产品图片翻译.xlsx…]()

[2016-10-12 15:38] kevin-doselection commented on #39
What do you want to adjust? If it's the program, I can copy the file for you. If it is the user-site login credential, use data.m/ 123456 to 107.7.251.90:8080/inventory/ .

[2016-10-12 15:47] kevin-doselection commented on #40
The file cannot download. Please check it

[2016-10-12 17:09] kevin-doselection opened #41 "website extra page in header"
kevin,
Please add this page into ltsport.com header block.
![image](https://cloud.githubusercontent.com/assets/17145866/19318738/b8e2bde8-905e-11e6-989e-9068efa1516d.png)

I have the HTML and CSS ready,
![image](https://cloud.githubusercontent.com/assets/17145866/19318794/f12ad154-905e-11e6-96f8-38e9472b3bd0.png)

Final result, here should be a link "AUTHORIZED SELLER" to authorized-seller page
![

[2016-10-12 23:07] kevin-doselection opened #42 "ltsport.com header additional button"
Hi,
please add 5 button on ltsport.com header, like below
![image](https://cloud.githubusercontent.com/assets/17145866/19330833/995df190-9095-11e6-82b1-33d90cb23b23.png)

About Us: http://www.ltsport.com/about-us
Installation Guide: http://www.ltsport.com/guide?rootId=9
Products: http://www.ltsport.com/products/visor.html
Return: http://www.ltsport.com/return-policy
Shipping: http://www.ltsport.co

[2016-10-12 23:39] kevin-doselection opened #43 "ltsport.com remove condition in detail page"
Hi, please remove condition info in product page. Like below
![image](https://cloud.githubusercontent.com/assets/17145866/19331588/69ff801c-909a-11e6-968a-00002b479431.png)

[2016-10-13 01:17] DAXIAPI commented on #43
ok,had done.

[2016-10-13 02:56] DAXIAPI commented on #42
![qq 20161013105321](https://cloud.githubusercontent.com/assets/20631720/19335130/6005d644-9133-11e6-95c0-9d4147bffeb5.png)
![qq 20161013105332](https://cloud.githubusercontent.com/assets/20631720/19335133/63fae94c-9133-11e6-8bd6-4696e90098d7.png)
it's this ok?

[2016-10-13 15:34] #41 closed, assigned to kevin-doselection

[2016-10-13 15:34] kevin-doselection commented on #43
Thanks

[2016-10-13 15:34] #43 closed, assigned to lihaolihao, christinechina

[2016-10-13 15:35] kevin-doselection commented on #42
Looks great. Make sure button and header click event won't effect by each other then do it. And we will see

[2016-10-13 16:39] kevin-doselection opened #44 "ltsport.com update pdata and description"
Update:

About `<br>` and `<br><br>`, please REPLACE it with `<ul> <li></li></ul>` format

![image](https://cloud.githubusercontent.com/assets/17145866/19361871/3454fe3e-9139-11e6-8b3d-60f18d1d65bc.png)
<br>
<br>
Hello, 2 things to update

1 . description (sheet2): For Website and Walmart.com

Template 1:
![image](https://cloud.githubusercontent.com/assets/17145866/19394100/8129fb5c-91ec-11e6-8e8a

[2016-10-14 00:44] DAXIAPI commented on #42
I tested, it‘s no problem.

[2016-10-14 02:07] christinechina commented on #38
got it. tks Jess will follow,if any question.

[2016-10-14 05:09] christinechina commented on #44
got it.TKS

[2016-10-14 05:14] christinechina commented on #40
[淘宝产品图片翻译.xlsx](https://github.com/kevin-doselection/China-Status/files/528696/default.xlsx)
Check again.

[2016-10-14 08:00] christinechina commented on #44
Hi kevin,
last time you ask us check description, now finished. pls Mxi it for us.  Then resend the update one to us.  Thanks.
[description_missing_fitment - 副本.xlsx](https://github.com/kevin-doselection/China-Status/files/528951/description_missing_fitment.-.xlsx)

[2016-10-14 08:01] christinechina commented on #44
I send by email too. if you can't  see attachment. pls check email.

[2016-10-14 08:52] christinechina opened #45 "Problem of website we found"
hi kevin, pls fix the problem in attachment. because jess don't know why some   data imissing, is it  delete by you or not?  Then need you to find out.
[Website problem.xlsx](https://github.com/kevin-doselection/China-Status/files/529047/Website.problem.xlsx)

[2016-10-14 15:26] #38 closed, assigned to kevin-doselection, lihaolihao

[2016-10-14 15:32] kevin-doselection commented on #45
Sheet 1: Please help me check in U.S. database, might be some mistake. We need 2004 Honda.
Sheet 2: Fitment and sku combination issue I will forward to Leo

Thanks

[2016-10-14 15:35] kevin-doselection commented on #44
Data received and updated.

[2016-10-14 15:57] kevin-doselection commented on #44
[updated_description.xlsx](https://github.com/kevin-doselection/China-Status/files/529912/updated_description.xlsx)
This file has latest record of description, based on the file you gave last time.

[2016-10-14 16:01] kevin-doselection commented on #44
The first reply in this post is updated. Please take a look.

[2016-10-17 01:44] christinechina commented on #44
got it. TKS

[2016-10-17 01:51] christinechina commented on #45
hi kevin.  sheet 1:  so that means you haven't del it. OK. Pls check by you side. because jess very busy this period. sorry.
              Sheet 2: Thank you. if any update, pls let me know.

[2016-10-17 01:52] christinechina commented on #40
Have you received? pls keep check for us. And tell me when designer will finished. Tks.

[2016-10-17 01:53] christinechina commented on #29
got it. checking.

[2016-10-17 07:21] christinechina commented on #29
pls find the attachment. Some Still highlight in red, thats can't find  data in system. Others are fixed.
[china.xlsx](https://github.com/kevin-doselection/China-Status/files/532614/china.xlsx)

[2016-10-17 16:20] #39 closed, assigned to kevin-doselection, lihaolihao

[2016-10-17 16:23] kevin-doselection commented on #45
Sheet 2: Merge both data for combo product.

[2016-10-17 21:51] kevin-doselection commented on #40
https://www.dropbox.com/sh/xw8sbd6l0geokqr/AAACC9JUnej02OmFVamOdqrba?dl=0

[2016-10-18 02:24] christinechina commented on #40
got it. Other NP. only this one still need revised.
![image](https://cloud.githubusercontent.com/assets/20959180/19462139/153aead0-951d-11e6-94dd-b87d34f3cb1f.png)

[2016-10-18 04:29] christinechina commented on #45
![image](https://cloud.githubusercontent.com/assets/20959180/19464405/9235c4e0-952e-11e6-898d-379e40c5f200.png)
![image](https://cloud.githubusercontent.com/assets/20959180/19464411/a2e2c54a-952e-11e6-886c-7b8e5a2ff5cf.png)

THE brand model  and year are all different with that in website. So we need fix all by mergen both data in our system????

[2016-10-18 05:20] christinechina commented on #40
LOGO not good. sizes wrong.
![qq 20161018131838](https://cloud.githubusercontent.com/assets/20959180/19465289/87cb7386-9535-11e6-9541-259c3a3f6dec.jpg)
![qq 20161018131903](https://cloud.githubusercontent.com/assets/20959180/19465292/8b57635c-9535-11e6-9ccd-6ee0af33ebc9.jpg)
![qq 20161018132011](https://cloud.githubusercontent.com/assets/20959180/19465299/9d2b5de0-9535-11e6-8ffb-f56a66cc0f5f.jpg)

[2016-10-18 18:09] kevin-doselection commented on #45
Just use either one would be fine.

[2016-10-18 18:10] kevin-doselection opened #46 "#2 ltsport.com update pdata and description"

[2016-10-18 18:10] kevin-doselection commented on #44
Hold the process. Leo has new layout and data arrangement.
Continue at https://github.com/kevin-doselection/China-Status/issues/46

[2016-10-18 18:10] #44 closed, assigned to Doselectioninc, lihaolihao, christinechina

[2016-10-18 18:45] kevin-doselection commented on #46
Layout design:
Specs area: Using website spec.xlsx for each line. And move short_description after it.
Fitment: Using current pdata info from all current product data.xlsx (No data change is needed.)
Description: Using current description info from all current product data.xlsx (No data change is needed.)

[new layout.docx](https://github.com/kevin-doselection/China-Status/files/537083/new.layout.

[2016-10-18 18:46] kevin-doselection commented on #40
got it

[2016-10-18 18:46] #29 closed, assigned to lihaolihao, christinechina

[2016-10-19 01:45] christinechina commented on #46
got it.  so do you need jess revised now??

[2016-10-19 04:05] christinechina commented on #45
ok.got it.

[2016-10-19 15:26] kevin-doselection commented on #46
Yes, please follow the new design to make layout for product detail page.

[2016-10-19 15:27] kevin-doselection commented on #45
Let me know if you have any concern.

[2016-10-19 15:27] kevin-doselection commented on #10
Price could be update now.

[2016-10-19 15:27] #10 closed, assigned to christinechina

[2016-10-19 17:01] kevin-doselection commented on #40
![computer logo](https://cloud.githubusercontent.com/assets/17145866/19528950/df94455e-95e2-11e6-8e53-0e3a789a5db5.jpg)

[2016-10-20 03:09] DAXIAPI commented on #46
![qq 20161020111115](https://cloud.githubusercontent.com/assets/20631720/19545071/f79eb3cc-96b5-11e6-8694-85cb20e8c65c.png)

@kevin-doselection Is this ok?

[2016-10-20 15:49] kevin-doselection commented on #46
Good. This is it.
Base on this layout to design. And Fill in the Specs by following the website spec.xlsx

[2016-10-20 17:13] kevin-doselection commented on #40
Hello, I cannot find the issue. Please send us the picture you want us to fix for below objectives.
1. Mobile version caragories pictures update (floor mat, injection visor)
2. computer version Home page pictures

[2016-10-21 07:38] christinechina commented on #40
1. floor mat pics, pls ask leo.
2. computer and mobile version home page requirement. see attachment.
   [图片修改说明.xlsx](https://github.com/kevin-doselection/China-Status/files/543690/default.xlsx)

[2016-10-21 08:09] DAXIAPI commented on #46
![image](https://cloud.githubusercontent.com/assets/20631720/19590912/ed241620-97a6-11e6-99cb-6c49834db7e9.png)
ok,had done,please check it.And this is upload file.
https://www.dropbox.com/s/ipo4jpf1tlp2jip/specs.csv?dl=0

[2016-10-21 17:16] kevin-doselection opened #47 "combo data required fill in"
Hello, another list of combo need data. Please fill it out according to IS record.

Column in needed: year, make, v_model, v_submodel, pdata, description

Data source:
[website combo need data.xlsx](https://github.com/kevin-doselection/China-Status/files/544899/website.combo.need.data.xlsx)

Reference only:
[combo need data.xlsx](https://github.com/kevin-doselection/China-Status/files/544900/combo

[2016-10-21 17:31] kevin-doselection commented on #46
Please give me the data name for these column in Magento. So I can create update function.
For example, `pdata`is called `Vehicle Fitment` on Magento backend.
I would need to know `Product Color`, `Type/Style`, `Qty Of Set`, `Surface Finish`, `Dimension`.

[2016-10-24 01:09] DAXIAPI commented on #46
@kevin-doselection I have craeted update function.
you can update in http://www.ltsport.com/update/specsUpdate.php.
Color is called product_color on Magento backend.
Type/Style is called type_style  on Magento backend.
Qty of Set is called qty_of_set on Magento backend.
Surface Finish is called surface_finish on Magento backend.
Dimension is called dimension on Magento backend.
And you can see the

[2016-10-24 01:13] DAXIAPI commented on #46
[website.spec.xlsx](https://github.com/kevin-doselection/China-Status/files/546779/website.spec.xlsx)
just see the highlighted section,I can find the product,pls check it.

[2016-10-24 07:25] christinechina commented on #47
Hi kevin,
SKU is roof rack + soft rack,  not roof rack + basket. PLS double check description and title. Or you need us make similar as that?

 and  combo  need datat.  I can't see any see anything for reference.

Sorry, What is  IS record?  I don't understand.

[2016-10-24 16:02] kevin-doselection commented on #46
Awesome. Confirming, you already updated these data?

[2016-10-24 16:09] kevin-doselection commented on #47
1. website combo need data.xlsx, is the file for fill in data.
2. combo need data.xlsx included every column from ltsport.com, you just need to unhide all column.
3. Please follow the description structure. And yes, make it similar like that.
4. Inventory System record. URL: 107.7.251.90:8080/inventory/

[2016-10-24 16:41] kevin-doselection opened #48 "Magento order by PayPal status set to Complete instead of Processing"
I noticed that if an order is using PayPal payment, at the end of transaction, it would automatically set the order status to Complete, which should be Processing. Please help me find out what's the issue.

Normal order# 100006667
![image](https://cloud.githubusercontent.com/assets/17145866/19654826/adcf7184-99ce-11e6-8c8f-5b042e8a8559.png)

Problem order# 100006653
![image](https://cloud.githubus

[2016-10-24 21:48] kevin-doselection opened #49 "ltsport.com rename product"
Hello, please help us to rename our products.

Task 1. Rename the product. Please follow the pattern from 2nd attached file.
Task 2. Cut the origin product name and paste to the Description. Make it following at the end of Description record.

Attachment Area:
Product Data [product data.xlsx](https://github.com/kevin-doselection/China-Status/files/549076/product.data.xlsx)
Example File: sku, name,

[2016-10-25 00:43] DAXIAPI commented on #46
yes,I already updated these data,but some product I can find it.so you need to download and chenck hightlighted section,thank.
[website.spec.xlsx](https://github.com/kevin-doselection/China-Status/files/549355/website.spec.xlsx)

[2016-10-25 05:48] christinechina commented on #49
got it.  urgent or not?

[2016-10-25 05:49] christinechina commented on #47
got it. tks.

[2016-10-25 06:05] christinechina commented on #49
Trip-Helper Bike 3.0(4.0) Hitch(Trunk) Mount Rack 2pc For 2004-2014 Cadillac
bike rack only 1 pc

[2016-10-25 17:15] kevin-doselection commented on #49
1. The sooner the better. When could you finish it?
2. This is example template. Should be 1pc.

[2016-10-25 17:48] kevin-doselection commented on #40
1. https://www.dropbox.com/sh/6s6qo150t1co1f1/AADBfcZsrMaRRDeMmu1qw0Oja?dl=0
2. https://www.dropbox.com/sh/uabqsgmrwuz0ddu/AAAAtpro3QkvXCrV1j6m33fVa?dl=0

[2016-10-25 22:49] kevin-doselection commented on #40
From Designer: https://www.dropbox.com/sh/f805m1zy9gtxiqh/AABhOmmMFoc714QkUj6leJCQa?dl=0

[2016-10-26 02:27] christinechina commented on #49
1. we are very busy this week, and confirm will finished before next firday. and do you want us send us every that we finised or the complete version after finish.
2. got it.

[2016-10-26 03:00] christinechina commented on #47
finished. except N/A
[website.combo.need.data 2.0 10-25.xlsx](https://github.com/kevin-doselection/China-Status/files/552253/website.combo.need.data.2.0.10-25.xlsx)

[2016-10-26 03:02] christinechina opened #50 "[Awaiting] need CB-104 video"
CB-104 translate into chinese video, Please me again. i can't find this record. thanks

[2016-10-26 06:13] christinechina commented on #40
some of them need revised. see attachment.
[carpet need pics revised .xlsx](https://github.com/kevin-doselection/China-Status/files/552449/carpet.need.pics.revised.xlsx)

[2016-10-26 06:20] christinechina opened #51 "fix pics"
Basket in worng position

. pls ask designer fix it. if don't understand, ask leo. tks

![qq 20161026141946](https://cloud.githubusercontent.com/assets/20959180/19715373/4eee0fa8-9b87-11e6-9a81-a4c9a32ec70b.jpg)

[2016-10-26 15:33] kevin-doselection commented on #49
Send it at once is better.

[2016-10-26 15:52] kevin-doselection commented on #47
If use the first sku cannot find fitment data, please use the second sku.

For example:
sku: CB-104-S10,SR-ST-2400-201-WS
Fitment record: CB-104-S10-201 or SR-ST-2400-201

Please make every record has data for listing.

[2016-10-26 15:52] #45 closed, assigned to kevin-doselection

[2016-10-26 20:05] kevin-doselection commented on #50
Please translate again, since we redo the video last month.
https://www.youtube.com/watch?v=RVj-rY68BT4

[2016-10-26 20:06] kevin-doselection commented on #51
https://www.dropbox.com/sh/dkbrpmwfynu0w3e/AACArQbk0Hhui2Aua3H21RJaa?dl=0

[2016-10-26 20:07] kevin-doselection commented on #40
https://www.dropbox.com/sh/dkbrpmwfynu0w3e/AACArQbk0Hhui2Aua3H21RJaa?dl=0

[2016-10-27 01:33] christinechina commented on #50
hi kevin,
we need the chinese version. something like this.
![qq 20161027093146](https://cloud.githubusercontent.com/assets/20959180/19750968/4be8e462-9c28-11e6-9673-d1fb6fe13cd5.png)

[2016-10-27 02:22] christinechina commented on #40
OK.tks

[2016-10-27 02:22] #40 closed, assigned to kevin-doselection, christinechina

[2016-10-27 02:22] christinechina commented on #51
OK. TKS.

[2016-10-27 02:22] #51 closed, assigned to kevin-doselection

[2016-10-27 15:27] kevin-doselection commented on #50
Do you have the translated subtitle in doc?

[2016-10-27 20:53] kevin-doselection opened #52 "Urgent alibaba report"
Hello,
Since there is more product using our brand name, logo, picture and guide for profit.
Please using the following account to file a IPR claim(case).

Objective:
1.We need to remove them all to secure our interest.
2. Gather all buyer and seller info in U.S. and China.

URL: https://ipp.alibabagroup.com
account: kevin.doselection@gmail.com
password: ddd142536

IPR abused item: https://guide.a

[2016-10-28 08:18] christinechina commented on #52
got it. pls help me show attachment to leo.  need you do something, already highlight in yellow. . pls check attachmemt. thanks.

[商标侵权处理跟进.docx](https://github.com/kevin-doselection/China-Status/files/557877/default.docx)

[2016-10-28 16:59] kevin-doselection commented on #52
1.  The sharing process is at domain: https://guide.alibaba.com . However I couldn't find a way to shared product from Amazon to guide.alibaba.com now. Please follow step 4.
2. Did you file the claim at ipp.alibabagroup.com? My account still hasn't complete the identity reg.
   account: kevin.doselection@gmail.com
   password: ddd142536
3. This is the email to report ipr: ali-guide@service.alibaba

[2016-10-31 03:55] christinechina commented on #52
Because, alibaba we have account. no need yours. Regarding customer service guy i have appointment with him today. And the claim will send by our alibaba account.

[2016-10-31 03:56] christinechina commented on #50
no. we don't have. Videos are not translate by us.

[2016-10-31 07:58] christinechina opened #53 "taobao pics new sizes"
pls send to disigner.  taotbao pics need update. thanks
[尺寸.xlsx](https://github.com/kevin-doselection/China-Status/files/561295/default.xlsx)

[2016-10-31 15:34] kevin-doselection commented on #52
Good. Keep me updated

[2016-10-31 17:50] kevin-doselection commented on #50
Please translate, below is the text file.
[CB-104 guide.txt](https://github.com/kevin-doselection/China-Status/files/562482/CB-104.guide.txt)

[2016-11-01 02:22] christinechina commented on #52
![image](https://cloud.githubusercontent.com/assets/20959180/19877754/f3f0d08c-a01c-11e6-9c03-5c38f569a818.png)
done!. they deleted all record that relate to our brand.

[2016-11-01 02:22] christinechina commented on #52
![qq 20161101102219](https://cloud.githubusercontent.com/assets/20959180/19877776/17e9a9be-a01d-11e6-8c94-091333c96090.png)

[2016-11-01 02:23] christinechina commented on #52
anything need us go on follow up??

[2016-11-01 02:23] christinechina commented on #53
have you receive it?

[2016-11-01 02:35] christinechina commented on #50
104 translation. pls see attachment. And we need CB-902, CB-104,CB-FR installation guide to. it's PDF format.
[CB-104.guide.txt](https://github.com/kevin-doselection/China-Status/files/563214/CB-104.guide.txt)

[BEICAI SPREADSHEET(1).xlsx](https://github.com/kevin-doselection/China-Status/files/563228/BEICAI.SPREADSHEET.1.xlsx)

[2016-11-01 02:46] christinechina commented on #50
104 translation. pls see attachment. And we need CB-902, CB-104,CB-FR installation guide too. it's PDF format.
[CB-104.guide.txt](https://github.com/kevin-doselection/China-Status/files/563241/CB-104.guide.txt)
[CB-104 Vedio .xlsx](https://github.com/kevin-doselection/China-Status/files/563242/CB-104.Vedio.xlsx)

[2016-11-01 09:13] christinechina commented on #47
[website.combo.need.data 2.0 11-1.xlsx](https://github.com/kevin-doselection/China-Status/files/563664/website.combo.need.data.2.0.11-1.xlsx)
done!  some can't find data. we have check IS.

[2016-11-01 16:26] kevin-doselection commented on #52
Good job, thx

[2016-11-01 16:26] #52 closed, assigned to kevin-doselection, Doselectioninc, christinechina

[2016-11-01 17:05] kevin-doselection commented on #47
Description is like this, please update it.
year, make, v_model looks good

![image](https://cloud.githubusercontent.com/assets/17145866/19898772/ae2bd616-a01a-11e6-8024-d4268898e2d5.png)

[2016-11-01 18:18] kevin-doselection commented on #50
youtube.com/watch?v=N-nECQ0je_Y

[2016-11-01 19:05] kevin-doselection commented on #42
1. Remove "Return" and "Shipping", Adding "Replacement.
2. replacement URL: http://www.ltsport.com/replacement
3. Making CMS page "Replacement", with picture and text.
4. Changing "Installation Guide" to "Guide"

![01click_menu](https://cloud.githubusercontent.com/assets/17145866/19903363/969b83c8-a02b-11e6-8f90-9a684ca7a797.png)
![02methods](https://cloud.githubusercontent.com/assets/17145866/199

[2016-11-02 00:51] DAXIAPI commented on #42
@kevin-doselection Someone has finished it.

[2016-11-02 01:44] christinechina commented on #50
sorry, can't connect with this link. and have you send installation guide PDF format?? we need  CB-902, CB-104,CB-FR. Thanks

[2016-11-02 03:00] christinechina commented on #47
OK.
[website.combo.need.data 2.0 11-1.xlsx](https://github.com/kevin-doselection/China-Status/files/565602/website.combo.need.data.2.0.11-1.xlsx)

[2016-11-02 18:25] #47 closed, assigned to christinechina

[2016-11-03 03:22] christinechina commented on #53
any update for our pics?

[2016-11-03 18:14] kevin-doselection commented on #53
From designer: we dont understand your request regarding Tao Bao pics, please fill this list so I will know how many pics you need and the requirement.
[issue 40 pics request list.xlsx](https://github.com/kevin-doselection/China-Status/files/569751/issue.40.pics.request.list.xlsx)

[2016-11-03 18:35] kevin-doselection commented on #50
From designer: please translate the 2 JPG file so we can make chinese version for you and convert to PDF

![cb-104-s8-guide-vm](https://cloud.githubusercontent.com/assets/17145866/19979900/4c537df4-a1b9-11e6-9e9a-95637d826f55.jpg)
[CB-902-S44-guide-chi.pdf](https://github.com/kevin-doselection/China-Status/files/569797/CB-902-S44-guide-chi.pdf)
![cb-fr-90-vm-guide2](https://cloud.githubusercontent

[2016-11-03 20:58] kevin-doselection commented on #46
Please update these attribute at ltsport.com
Attributes: Height  Width   Depth   Weight  CountryOfOrigin

[update UPC.xlsx](https://github.com/kevin-doselection/China-Status/files/570091/update.UPC.xlsx)

[2016-11-04 01:06] christinechina commented on #50
where is 902??

[2016-11-04 02:43] christinechina commented on #50
[902 &  FR.xlsx](https://github.com/kevin-doselection/China-Status/files/570522/902.FR.xlsx)
done!

[2016-11-04 08:50] DAXIAPI commented on #46
If I need to create new attributes of CountryOfOrigin?This one I do not update it,other I have updated.

[2016-11-07 08:53] christinechina commented on #49
done!
[rename_Product.xlsx](https://github.com/kevin-doselection/China-Status/files/574794/rename_Product.xlsx)
[product.data 2016-11-7.xlsx](https://github.com/kevin-doselection/China-Status/files/574795/product.data.2016-11-7.xlsx)

[2016-11-07 09:07] DAXIAPI commented on #48
![1](https://cloud.githubusercontent.com/assets/20631720/20051781/bceeb272-a50b-11e6-9567-c860ce4a72c1.png)
I suspect the problem is here.Can you test it?File address is ‘ltsport.com/html/app/code/local/Mage/Sales/Model/Order.php ’.

[2016-11-07 16:52] kevin-doselection commented on #46
Yes
1. please create new upload for Country Of Origin.
2. create new upload for "categories"

[2016-11-07 16:53] kevin-doselection commented on #48
Looking at it.

[2016-11-07 17:15] kevin-doselection commented on #49
Thank!

[2016-11-07 17:15] #49 closed, assigned to kevin-doselection, christinechina

[2016-11-07 18:19] kevin-doselection commented on #50
[CB-FR-90-guide-chi.pdf](https://github.com/kevin-doselection/China-Status/files/576249/CB-FR-90-guide-chi.pdf)
[CB-104-S8-guide-chi.pdf](https://github.com/kevin-doselection/China-Status/files/576250/CB-104-S8-guide-chi.pdf)

[2016-11-07 21:48] kevin-doselection opened #54 "GS1 Data Hub For Reuse"
#37

Task1: Change all "For Reuse" item (3266), end date to 11/07/2016
Task2: Change all "For Reuse" item (3266), Update status to Available.

Path: Home > Product > Manage > For Reuse

URL: https://www.gs1us.org/resources/tools/gs1-us-data-hub/product

Guide: https://resources.gs1us.org/DesktopModules/Bring2mind/DMX/Download.aspx?Command=Core_Download&EntryId=3958&language=en-US&PortalId=0&TabId=

[2016-11-09 05:31] christinechina commented on #50
where is 902??

[2016-11-09 05:42] christinechina commented on #50
here is some PDF and video need add chinese. pls send to designer. And pls send me 3D floor mat PDF guide. Thanks.

[pdf guide 1.xlsx](https://github.com/kevin-doselection/China-Status/files/580010/pdf.guide.1.xlsx)

[2016-11-09 05:47] christinechina commented on #50
[pdf guide 3.xlsx](https://github.com/kevin-doselection/China-Status/files/580018/pdf.guide.3.xlsx)

[2016-11-09 06:05] christinechina commented on #50
[pdf guide 2.xlsx](https://github.com/kevin-doselection/China-Status/files/580027/pdf.guide.2.xlsx)

[2016-11-10 09:53] christinechina opened #55 "[Awaiting] Carpet advertisement video"
[Video guide.xlsx](https://github.com/kevin-doselection/China-Status/files/583000/Video.guide.xlsx)
translate done!

Pls send back with chinese.

[2016-11-10 10:03] christinechina commented on #54
need login? i don't know how to do it? can you explain?

[2016-11-10 11:34] christinechina commented on #53
send me back ASAP.
[issue.40.pics.request.list.xlsx](https://github.com/kevin-doselection/China-Status/files/583210/issue.40.pics.request.list.xlsx)

[2016-11-10 16:45] kevin-doselection commented on #54
Login username: gzneal@aliyun.com
Password: Leo123456

Here is how to do it.

For task 1: Go to Home > Product > Manage > For Reuse, editing all " For Reuse" item (3266 records).
Change their end date to 11/10/2016, this can be done one-by-one only.

For task 2: Opening the [guide link ](https://resources.gs1us.org/DesktopModules/Bring2mind/DMX/Download.aspx?Command=Core_Download&EntryId=3958&lang

[2016-11-10 20:40] kevin-doselection commented on #50
https://www.dropbox.com/sh/oboq0yeu4apc8rd/AAA6u90Iwq2oaWTBCx0GZlsYa?dl=0

[2016-11-11 02:28] christinechina commented on #54
OK. got it. but got errors.  pls check the pics and reply.
![1](https://cloud.githubusercontent.com/assets/20959180/20202333/7d17c36e-a7f9-11e6-8f77-608d81fc0d2b.JPG)
![2](https://cloud.githubusercontent.com/assets/20959180/20202335/8150bb84-a7f9-11e6-9852-7693068fb848.JPG)

[2016-11-11 04:03] kevin-doselection commented on #54
That is because the date is not today or greater. Just the current date for every time.

[2016-11-11 05:15] christinechina commented on #54
OK

[2016-11-11 05:26] christinechina commented on #50
got it. missing BR -TAR Viedo, cb-104 video once ready. pls send back to me.

and below producs need you find PDF for us..
1. 3D floor PDF.
2.
![image](https://cloud.githubusercontent.com/assets/20959180/20205270/72dc5db0-a812-11e6-89d0-c23ad82e9503.png)

[2016-11-11 05:44] christinechina commented on #54
not work. stll same errors. pls have a try yoursel and teach me how to do.

[2016-11-11 10:44] christinechina commented on #50
translated more video.  pls send them ba
[翻译.xlsx](https://github.com/kevin-doselection/China-Status/files/585588/default.xlsx)
ck when finished.

[2016-11-12 00:35] kevin-doselection opened #56 "Walmart"
About walmart order, what do you need from us?

[2016-11-12 00:42] kevin-doselection commented on #56
Here is the sample from walmart.com order, please change customer name to "Testing from Walmart.com"
So we can distinct the order from website and walmart.com
[PO_Data_2016-11-11_16-40-43PST.xlsx](https://github.com/kevin-doselection/China-Status/files/586972/PO_Data_2016-11-11_16-40-43PST.xlsx)

[2016-11-14 03:41] lihaolihao commented on #56
@kevin-doselection Can you give the sample from Amazon.com order?And how you import Amazon order into ltsport's background,I need to know how it's working,so I need instructions document,pls give me the step of uploading Amazon order  into ltsport's background.thank

[2016-11-14 18:34] kevin-doselection commented on #56
Order process:
Customer placed order: processing
Shipping label created: Completed

[2016-11-14 20:25] kevin-doselection commented on #50
https://www.dropbox.com/sh/w10fnjblw0zi4cm/AABqsJu1SlIDiZAYI9kA4-fza?dl=0

the rest are working it, included issue 53 55

[2016-11-15 01:05] christinechina commented on #50
hi kevin, PDF all of them not only BR-suv.  sorry. i haven't tell you clearly.
1. 3 D floor mat PDF
2.  VSWV-CLIP-ON
3. VSWV-TAPEON
   4.TM Truck mat
4. RCB-505
   6.CB-902-S44
5. CB-HP0308
6. Arm stroage box

[2016-11-15 01:35] DAXIAPI opened #57 "[US website] 12/26 Import function"
There are five plug-ins we need to check
![catalog_search](https://cloud.githubusercontent.com/assets/20631720/20289658/0a586282-ab16-11e6-8980-aef3feb73fae.png)
![discount](https://cloud.githubusercontent.com/assets/20631720/20289659/0a5b81b0-ab16-11e6-8121-13ef05cca5bd.png)
![exporter](https://cloud.githubusercontent.com/assets/20631720/20289661/0a5d8faa-ab16-11e6-8fd2-8fe019c1702f.png)
![m2epro

[2016-11-15 07:15] christinechina commented on #55
send me more advertisement video. Thank. for translation

[2016-11-15 08:03] christinechina commented on #50
[211-6-2016 translation.xlsx](https://github.com/kevin-doselection/China-Status/files/591277/211-6-2016.translation.xlsx)

[2016-11-15 11:53] christinechina opened #58 "pls help to register a facebook /twitter / Pinterest account"
account  name :guangzhou neal trading
 email: gzneal@aliyun.com
this email password: Leo123456
https://mail.aliyun.com/

[2016-11-15 17:07] kevin-doselection commented on #58
Pinterest: gzneal_aliyun
Facebook: gzneal@aliyun.com
Twitter: gzneal@aliyun.com

Password: Leo123456

[2016-11-15 17:13] kevin-doselection commented on #57
Keeps "yotporeviews" active
Removes "m2epro_ebay_magento", this is not been used
("m2epro_ebay_magento", is been disabled.)

[2016-11-16 02:46] DAXIAPI commented on #57
It's still having problem.I only removes "m2epro_ebay_magento",and how do you test "yotporeviews" in order to keep it  active.At last,please tell me if I can test other,thk.

[2016-11-16 03:07] kevin-doselection commented on #57
"yotporeviews" is an extension effecting product detail page, not order.

Next we can try "Raveinfosys_OrderExporter".

[2016-11-16 03:40] DAXIAPI commented on #57
not "Raveinfosys_OrderExporter",next which can we try

[2016-11-16 04:16] kevin-doselection commented on #57
Do you know what is the extension name for order import?

[2016-11-16 04:17] kevin-doselection commented on #57
At Configuration>Advanced>Advanced we can check is it disabled

[2016-11-16 04:18] DAXIAPI commented on #57
I need to check the extension name

[2016-11-16 08:04] DAXIAPI commented on #57
![1](https://cloud.githubusercontent.com/assets/20631720/20339223/168b3542-ac16-11e6-8c6e-58810812cb34.png)
![2](https://cloud.githubusercontent.com/assets/20631720/20339222/168b4014-ac16-11e6-9a35-215211d06c10.png)
this  extension are about order import

[2016-11-16 16:31] kevin-doselection commented on #57
Besides the chance that extension affecting the import order status, solely single file might be the answer.
I would check on SunshineBiz_OrderImportExport whole folder, compare at Core Local. See is there any clue.

[2016-11-16 20:44] kevin-doselection commented on #53
https://www.dropbox.com/sh/rqjewt0azjg8woh/AAAZDacr1CrD2Lvhs3dz8jgXa?dl=0

[2016-11-16 20:53] kevin-doselection opened #59 "[Data input] Find sku by make model and create new table"
Hello,

I need to find each model has what sku and put into different table(example table "honda civic" "honda accord").
Required make and model are in table "design".
Data are in table "Source".

Using filter can find cell contains in 2 column "Vehicle Make" and "Vehicle Model"

[new makemodelissue.xlsx](https://github.com/kevin-doselection/China-Status/files/595897/new.makemodelissue.xlsx)

[2016-11-17 09:34] DAXIAPI commented on #57
Do you check it?I have checked on "SunshineBiz_OrderImportExport" code,you can see file on "\ltsport.com\html\app\code\community\SunshineBiz\OrderImportExport\Model\Import\Entity\Order.php" and check line  221 .
And other extension need to check,pls tell me tomorrow,thk.

[2016-11-17 18:18] kevin-doselection commented on #57
You sure it is Line 221? I only see "}" on that line.

[2016-11-18 00:57] DAXIAPI commented on #57
sorry,my file is old.I upload the new,and you can cehck file between 225 lines and 324 lines.Focus view line 313,it's about order status.
![1](https://cloud.githubusercontent.com/assets/20631720/20414366/087ad7fc-ad6d-11e6-81d9-0b318b0f5748.png)

[2016-11-18 06:30] DAXIAPI commented on #57
@kevin-doselection I know where is a problem.pls check file "/ltsport.com/html/app/code/local/Mage/Sale/Model/Order.php" line between 2145 and 2153.This file will change order status.I have been tested.so now we only need to change judgment condition,this problem will be solved.
![qq 20161118143100](https://cloud.githubusercontent.com/assets/20631720/20420925/b67ad342-ad9b-11e6-9f6f-5c062ad2d92f.p

[2016-11-18 19:40] kevin-doselection commented on #57
Good job. Please test more order to check is there any side-effect.

[2016-11-18 19:40] #56 closed, assigned to lihaolihao, christinechina

[2016-11-18 19:40] #58 closed, assigned to kevin-doselection, christinechina

[2016-11-18 19:41] #53 closed, assigned to kevin-doselection

[2016-11-18 19:41] #46 closed, assigned to lihaolihao, christinechina

[2016-11-18 20:45] kevin-doselection commented on #57
Big issue: the order can be process, but it won't be "Completed" after created label.

[2016-11-21 02:07] DAXIAPI commented on #57
Before I haven't started to change,so there is a problem.Now I modify the code in "/ltsport.com/html/app/code/local/Mage/Sale/Model/Order.php".Please look at the red circle in the picture
![qq 20161121100024](https://cloud.githubusercontent.com/assets/20631720/20468453/e9475cc2-afd1-11e6-8b80-a5cbe99b9db9.png),it's OK.
Upload function has been able to use,pls check it.

[2016-11-21 02:11] DAXIAPI commented on #57
![qq 20161121100949](https://cloud.githubusercontent.com/assets/20631720/20468558/cce53ff8-afd2-11e6-8aa6-0cdde172e9de.png)

[2016-11-21 07:51] christinechina opened #60 "[Taobao design] 12/19 new sku need taobao pics"
hi kevin upload to taobao. need pics for product page. pls ask designer do it.
1. car cover for sedan, suv and hatchback
CC-LS
CC-MS
CC-XLS
CC-XXLS

2. soft rack   ST-2400-206-WS  pics and PDF and installation video

3. carpet custom fit pics and PDF and installation video
CP-TCA0711-4D
CP-TP1015-4D
CP-FF0811-4D
CP-HA0812-2D
CP-NA1416-4D

[2016-11-21 08:09] christinechina commented on #59
got it.

[2016-11-21 10:51] christinechina commented on #59
![image](https://cloud.githubusercontent.com/assets/20959180/20479955/521c7cc0-b01b-11e6-938a-20f8130e8df1.png)
universail need MADE  only no need match MODEL??

[2016-11-21 17:18] kevin-doselection commented on #59
No need for Universal. Just do the 10 Maker's table.

[2016-11-21 17:18] kevin-doselection commented on #57
1. We can test more order at once next step. Please explain the process to do it here or in PDF.
2. Check on Order # 100006933, it should be "completed". Please check the code.

[2016-11-22 00:53] DAXIAPI commented on #57
what's problem on Order # 100006933,it's "completed".

[2016-11-22 01:58] christinechina commented on #60
Pls ask designer finish this issues first. thanks

[2016-11-22 01:58] christinechina commented on #59
ok

[2016-11-22 02:51] DAXIAPI commented on #57
[Original import file 3.pdf](https://github.com/kevin-doselection/China-Status/files/605302/Original.import.file.3.pdf)

[2016-11-22 02:55] DAXIAPI commented on #57
https://www.dropbox.com/s/h71b5nu32mmxb7p/Original%20import%20file%203.csv?dl=0

[2016-11-22 18:13] kevin-doselection commented on #60
She is working on it.

[2016-11-22 18:20] kevin-doselection commented on #57
Hello, some order will not become "Completed" after created label(not right), some order will(normal).
If you check on order activities on the order detail page at the bottom, you will see 2 Processing. One of them should be "Completed", but instead, it still showing Processing.

This required attention.

[2016-11-22 18:20] kevin-doselection commented on #57
For now, I was manually choose "Shipped" and it will become "Completed" eventually.

[2016-11-22 23:58] kevin-doselection commented on #60
https://www.dropbox.com/sh/f7ihgckj894u0z0/AACwhVP0B0RC1tRqUWNSFCeQa?dl=0

[2016-11-23 03:30] DAXIAPI commented on #57
Hello,kevin,I found thst all problems's orders were paid by Credit Card ( First Data ) .Now I have modified the code,pls check this payment type and tell me the results,so I can know  if it will succeed,thank.

[2016-11-23 03:36] DAXIAPI commented on #57
And pls check whether other payment type are affected

[2016-11-23 17:44] kevin-doselection commented on #57
PayPal also. Order 100006953

[2016-11-23 23:10] kevin-doselection commented on #60
Hello,
For this website, https://shop157277080.world.taobao.com/
Please give me everything I need to login backend.
For example, username password URL and any instruction, product list, picture file.

[2016-11-24 18:09] kevin-doselection commented on #57
The order status was auto-change to Completed, after we updated it with Shipped.
Now order 100006967 will not change to Completed, after we updated it with Shipped.
This order is placed via PayPal.

[2016-11-28 09:05] christinechina commented on #59
[new.makemodelissue-ford dodge acura.xlsx](https://github.com/kevin-doselection/China-Status/files/615812/new.makemodelissue-ford.dodge.acura.xlsx)
[new.makemodelissue-BMW chevrolet.xlsx](https://github.com/kevin-doselection/China-Status/files/615813/new.makemodelissue-BMW.chevrolet.xlsx)
[new.makemodelissue - toyota Nissan honda.xlsx](https://github.com/kevin-doselection/China-Status/files/615814

[2016-11-28 09:06] christinechina commented on #59
done

[2016-11-28 18:33] kevin-doselection opened #61 "ltsport.com Guide background image"
Hello,
Please fix the missing background image and guide issue.

URL: https://www.ltsport.com/guide
Path: /html/app/design/frontend/default/MAG050058/template/cmspages
File: guide.phtml

1. Background is missing on these page.
https://www.ltsport.com/guide (Homepage of Guide), Carrier (rootId=8304), Cargo (rootId=8554)
2. Guide is missing on these page.
Rack > Soft Pad
Mat > Nylon Carpet

[2016-11-29 02:10] DAXIAPI commented on #61
Background is ok,and pls give me some message that I can add the missing page.
pls give me 4 message."name" "video" "description" "pdf".
![qq 20161129100936](https://cloud.githubusercontent.com/assets/20631720/20693824/fb8a3d46-b61b-11e6-91d8-282748e0cfdc.png)

[2016-11-29 04:17] christinechina commented on #60
https://www.taobao.com/
user name: 里浩车品  PW：Christine487561
[淘宝开店上架流程.pptx](https://github.com/kevin-doselection/China-Status/files/618089/default.pptx)

[2016-11-29 06:45] christinechina commented on #50
[BR-4BA.xlsx](https://github.com/kevin-doselection/China-Status/files/618257/BR-4BA.xlsx)
need add chinese PDF. thanks

[2016-11-29 16:51] kevin-doselection commented on #61
Mat > Nylon Carpet (id: 8566)

Rack > Soft Pad (id: 8567)

[2016-11-29 21:40] kevin-doselection commented on #57
Hello,
I want to confirm that the import function is right.

Process:
Action 1: Import new order (Status: Invoice required)
Fact: Account received payment (Manually)
Action 2: Import order for updating tracking number or ShipStation create shipping label (Status: Completed)

According to above, import function should be able to recognize New and Shipped order.
Also, could you set fixed default sta

[2016-11-30 01:08] DAXIAPI commented on #61
it's ok.

[2016-11-30 01:25] DAXIAPI commented on #57
https://www.dropbox.com/s/lt1i1zmn9rlgd8h/%E7%AC%AC%E4%B8%89%E7%A7%8D%E5%AF%BC%E5%85%A5%E6%A0%BC%E5%BC%8F.zip?dl=0
read this

[2016-11-30 20:00] kevin-doselection commented on #57
PayPal order from Magento is not getting message from ShipStation. That caused the order status still remain "Processing". Please check.

[2016-11-30 23:48] kevin-doselection commented on #60
CC https://www.dropbox.com/sh/5prf4jlyoz7o37j/AADieYRzrwWv_lXUKiy8V0dxa?dl=0

[2016-12-01 00:17] kevin-doselection commented on #60
https://noyoke.world.tmall.com/?spm=a312a.7700718.0.0.MWG1bD
請問我們的淘寶店鋪有辦法做成這樣滿版嗎?

[2016-12-01 03:26] DAXIAPI commented on #57
Follow up,do not use the 'Original import file 3' first,thank.

[2016-12-01 09:27] DAXIAPI commented on #57
Now whst's Paypal orser status

[2016-12-01 16:43] kevin-doselection opened #62 "Searchbox on ltsport.com"
Objective: Create searchbox on Google search

Currently, we don't have searchbox appears on search engine. Please use the URL to add the link's function to our website (ltsport.com).

Caution: We might using different search link, please make sure you are adding to one that can search 1. sku and 2. title with description. You can check it by searching the keyword in our website.

URL: https://sear

[2016-12-01 16:46] kevin-doselection commented on #57
All good now.

[2016-12-01 17:21] #62 closed, assigned to lihaolihao

[2016-12-01 17:35] kevin-doselection commented on #50
![br-4ba-vm-guide](https://cloud.githubusercontent.com/assets/17145866/20804891/7cf3b5ea-b7a9-11e6-9ac9-27a5dc645555.jpg)

[2016-12-01 20:23] kevin-doselection commented on #55
[AD video link.txt](https://github.com/kevin-doselection/951753258/files/625681/AD.video.link.txt)

[2016-12-01 20:56] #59 closed, assigned to christinechina

[2016-12-01 21:00] kevin-doselection opened #63 "[U.S. website] Find My Vehicle"
Objection: Follow up case #59, and create vehicle page
Category: Vehicle Researcher

1. Please create a new button in the menu, Find My Car. And Hide the Replacement it for now.
2-1. Create pages that showing Make.
2-2. Under Make, create pages that showing related Model.
2-3. Under Model, showing products meets the conditions (Make&Model).
3. Create page that showing Universal items.

For all lin

[2016-12-02 00:05] kevin-doselection commented on #61
http://www.ltsport.com/accessories/roofrack.html
background image missing

Please fix it with these picture. 6 categories has each picture.
![cover_rack_bk](https://cloud.githubusercontent.com/assets/17145866/20818136/8b9cacfa-b7e0-11e6-9713-40b18e985235.jpg)
![cover_visor_bk](https://cloud.githubusercontent.com/assets/17145866/20818137/8b9f9082-b7e0-11e6-9041-9d5efe427e0b.jpg)
![cover_cargo_bk](h

[2016-12-02 02:02] DAXIAPI commented on #61
It's ok.

[2016-12-02 04:01] christinechina commented on #60
no. 你给的例子是TMALL， 我们不是天猫店做不了这样的效果的。

[2016-12-02 09:23] DAXIAPI commented on #63
In processing

[2016-12-02 16:36] kevin-doselection commented on #61
Other missing image
id 8545: http://www.ltsport.com/accessories/floormat/trunk-mat.html
id 8563: http://www.ltsport.com/accessories/universalcarrier/universal-bike-carrier/hitch-mount.html
id 8564: http://www.ltsport.com/accessories/universalcarrier/universal-bike-carrier/trunk-mount.html

[2016-12-02 17:57] kevin-doselection opened #64 "Search Bar using mouseover instead of click event"
path: html/app/design/frontend/default/MAG050058/template/page/html
file: header.html

Can you make the search bar appear while the mouse is on the Search without click on it?

[2016-12-02 18:14] kevin-doselection commented on #57
Is it ready for final testing?

[2016-12-02 18:42] kevin-doselection opened #65 "[China website ] 12/12 ltsport.net issue"
logo change, size is not right
		currency $ to CN, now is US dollar
		Header's "service center" and "contact us" is not working in non-homepage, cannot click
		searchbar is not working, cannot search
		origin dropdown list search, v_category value follows the name. example "visor" is "visor", not "9".
		update all product v_category attributes, "9" to visor.
		http://www.ltsport.net/selfdrive, men

[2016-12-02 23:49] kevin-doselection commented on #65
Perform a weekly product update according from ltsport.com

we always have new item

[2016-12-05 01:07] DAXIAPI commented on #61
It's ok.

[2016-12-05 01:27] DAXIAPI commented on #64
It's OK.

[2016-12-05 01:33] DAXIAPI commented on #57
No,'Original import file 3'  will affect other website's order status,need to find resolvent.

[2016-12-05 09:20] DAXIAPI commented on #65
ok,follow up

[2016-12-05 16:44] #64 closed, assigned to lihaolihao

[2016-12-05 16:45] #61 closed, assigned to lihaolihao

[2016-12-05 16:51] kevin-doselection commented on #55
If no more problem, please close case.

[2016-12-05 16:51] kevin-doselection commented on #50
If no more problem, please close case.

[2016-12-05 16:51] #48 closed, assigned to kevin-doselection, lihaolihao

[2016-12-05 17:15] kevin-doselection commented on #57
Since PayPal payment method is having issue. Is it possible change it to "cashondelivery" or "checkmo"?
Perhaps it will avoid the issue that affecting the order status.

[2016-12-05 17:16] kevin-doselection commented on #60
Got it, can we do like this?
https://shop61304647.world.taobao.com/?spm=a312a.7700824.0.0.d5bHou

[2016-12-05 19:12] kevin-doselection commented on #57
New import format from Groupon, default phone# use 6269658813
Please let me know it's finished.
[merchant_17967_orders_20161205.xlsx](https://github.com/kevin-doselection/951753258/files/632052/merchant_17967_orders_20161205.xlsx)

[2016-12-05 19:42] kevin-doselection opened #66 "[US website] update function (qty)"
1.
URL: ltsport.com/update/qtyUpdate.php
Issue: Trying to update this file, result showing success but upon checking, qty is not updated.
[RNqty.xlsx](https://github.com/kevin-doselection/951753258/files/632105/RNqty.xlsx)

2.
create new import functions, below code might not exact right
please confirm before create
1) country_of_manufacturer
2) manufacturer

[2016-12-05 23:07] kevin-doselection opened #67 "[Dec. Schedule] China Preparation Phase Foreclosure"
12/12 (Mon) ltsport.net Bug Review
12/19 (Mon) TaoBao Review
12/26 (Mon) ltsport.com Import Review

[2016-12-06 06:03] christinechina commented on #60
now. we already same as this version.

[2016-12-06 07:00] christinechina commented on #50
you haven't send me back all i need.

[2016-12-06 09:06] DAXIAPI commented on #66
1.Trying to update this file,I also have your problem.
2.I have created the new funtions.it also have problem,result showing success but upon checking, qty is not updated.

[2016-12-06 09:10] DAXIAPI commented on #63
www.ltsport.com/researcher
This is the basic function

[2016-12-06 16:29] kevin-doselection commented on #63
Is it possible add extra layer?
After Make and Model, Year be there

[2016-12-06 17:10] #55 closed, assigned to kevin-doselection, christinechina

[2016-12-06 18:12] kevin-doselection commented on #50
[BR-4BA-VM-guide-chi.pdf](https://github.com/kevin-doselection/951753258/files/634638/BR-4BA-VM-guide-chi.pdf)

[2016-12-06 20:44] kevin-doselection commented on #60
TaoBao store front
please follow the PPT
https://www.dropbox.com/sh/gbh11udbx4bwgh2/AAC5kwGNWmhzGRhX0WiYXmUca?dl=0

[2016-12-06 23:03] kevin-doselection commented on #54
1.     Change "Date Available For Reuse" (located below GTIN-12 field) to today and "Save"
2.     Click "Continue" button in Allocation Errors pop-up
3.     Please "enter" reason for recycling this GTIN, "Put for reuse by mistake"
4.     Click on "Make GTIN Available" button (located in between GTIN and GTIN-12 (U.P.C.) fields
5.     Click "Continue" in Available Confirmation

[2016-12-07 00:27] kevin-doselection commented on #60
TaoBao visor
please follow the PPT
https://www.dropbox.com/sh/km7b9u5f8s7j5qv/AACWf0ZRhBD4SA_2FIMlhmopa?dl=0

[2016-12-09 09:20] DAXIAPI commented on #63
I try it

[2016-12-09 09:24] DAXIAPI commented on #65
Do you know how to show others currency,I don't find it.
![qq 20161209172419](https://cloud.githubusercontent.com/assets/20631720/21043928/5fc5b5ea-be34-11e6-8161-aa93e370fd8e.png)

[2016-12-09 17:37] kevin-doselection commented on #65
Config. > System > Currency

[2016-12-12 01:03] DAXIAPI commented on #65
No, you don't understand what I mean.I want to know why there is only one option "US Dollar".

[2016-12-12 08:56] DAXIAPI commented on #63
Not,do not conform to the logic.

[2016-12-12 08:58] lihaolihao commented on #63
I modify the code, please follow up on whether it will affect other orders,thank!

[2016-12-12 08:58] DAXIAPI commented on #57
I modify the code, please follow up on whether it will affect other orders,thank!

[2016-12-12 09:03] DAXIAPI commented on #65
I can't choose any other currency

[2016-12-12 09:03] DAXIAPI commented on #65
![qq 20161212170237](https://cloud.githubusercontent.com/assets/20631720/21093459/f127eb3e-c08c-11e6-8a33-9d8560980f7f.png)

[2016-12-12 09:13] DAXIAPI commented on #65
1.Header's "service center" and "contact us" is not need to click.
2.In this page searchbar  is superfluous, has been deleted.
3.logo and selfdrive is ok
4.live chat is ok,using the QQ
5.All products linked to Taobao home page,wait for Taobao product link.

[2016-12-12 16:27] kevin-doselection commented on #65
Currency:
![image](https://cloud.githubusercontent.com/assets/17145866/21106898/ad66b6d4-c044-11e6-89fe-e552f49aff3d.png)
![image](https://cloud.githubusercontent.com/assets/17145866/21106932/c2385716-c044-11e6-8e92-884ec09a535f.png)

[2016-12-12 16:33] kevin-doselection commented on #65
Good.
1. Replace "缺貨" & "加到購物車" to "詳情", make every single item showing the same. You can choose to set qty all in_stock or out_of_stock.
2. Product page menu not working. http://www.ltsport.net/products.html
3. menu 车顶行李网 后备箱网 is the same
4. menu 更换零部件 is not working
5. 404 error from http://www.ltsport.net/return-policy. (http://www.ltsport.net/service)

[2016-12-12 16:41] kevin-doselection commented on #63
1. Universal accessories is not working.
2. Can you make the result displayed like below, and remove the old one beneath it? Text is hard to find what customer want.
![image](https://cloud.githubusercontent.com/assets/17145866/21107463/aa1e4616-c046-11e6-8ba9-5a0f10302336.png)

[2016-12-12 16:42] kevin-doselection commented on #57
FYI 12/10 Order # 100007152 was completed when she just placed the order.
So far no issue, follow up.

[2016-12-12 19:00] kevin-doselection commented on #57
Please send me a template about import format for normal order and Groupon

[2016-12-13 01:29] DAXIAPI commented on #57
ok,follow up,need more information.

[2016-12-13 01:33] DAXIAPI commented on #57
https://www.dropbox.com/s/r223zbzjyj7cvnr/Desktop.zip?dl=0
template about import  format

[2016-12-13 09:16] DAXIAPI commented on #63
ok,like that.
![qq 20161213163344](https://cloud.githubusercontent.com/assets/20631720/21134154/84d93f5c-c157-11e6-9b41-b95fd061da25.png)

[2016-12-13 17:37] kevin-doselection commented on #57
Help me double check "Kevin_import" is okay.
This format is more user-friendly.

[2016-12-13 17:54] kevin-doselection commented on #65
![image](https://cloud.githubusercontent.com/assets/17145866/21152138/feba6bf4-c119-11e6-98dc-899aca2ace72.png)
![image](https://cloud.githubusercontent.com/assets/17145866/21152150/0613c206-c11a-11e6-81bd-d9ee9b5bb116.png)

Please use original size for picture. http://www.ltsport.net/outdoor

[2016-12-13 18:39] kevin-doselection commented on #66
Using InventoryUpdate.php is fine. Seems like is_in_stock is a must now.
Can you find out the reason?

[2016-12-13 18:39] kevin-doselection commented on #65
1. Menu text change from Bold to Regular.
2. Menu context remove broken-underline.

[2016-12-13 18:40] kevin-doselection commented on #50
If no more problem, please close case.

[2016-12-13 18:42] kevin-doselection commented on #63
1. Universal option is still not working.
2. If "year" cannot use, can you add "v_category"?

[2016-12-13 18:42] kevin-doselection commented on #60
Follow by email

[2016-12-13 18:42] #60 closed, assigned to kevin-doselection

[2016-12-13 18:42] kevin-doselection commented on #54
Christin, are you following it?

[2016-12-14 01:08] DAXIAPI commented on #57
![qq 20161214085956](https://cloud.githubusercontent.com/assets/20631720/21165677/c32df35e-c1db-11e6-8f01-f44c8dbc95ec.png)
I only see this,it's not "Kevin_import".What's problem here?You took the first step,then  order status is changed to 'processing',but you canceled it later.

[2016-12-14 01:19] DAXIAPI commented on #63
1.Because there is no classification under the classification of Universal option,"Select Model" is a sub category of “Select Make”.
![qq 20161214091800](https://cloud.githubusercontent.com/assets/20631720/21166080/4aa5f294-c1de-11e6-9cfa-37dbc75ac13f.png)

[2016-12-14 05:52] #50 closed, assigned to nobody

[2016-12-14 08:40] DAXIAPI commented on #63
2.follow up

[2016-12-14 08:41] DAXIAPI commented on #65
It's ok.

[2016-12-14 08:42] DAXIAPI commented on #66
Follow up

[2016-12-14 10:47] christinechina commented on #54
![image](https://cloud.githubusercontent.com/assets/20959180/21179157/ca5cd0a8-c22d-11e6-858f-3a0ec258fcab.png)
haven't. login but can't find data.

[2016-12-14 16:42] kevin-doselection commented on #57
Yes, I was testing about the function.
The import is "Kevin_import", file as below.
So far, no problem. Help me double check
[testingorder.xlsx](https://github.com/kevin-doselection/951753258/files/652283/testingorder.xlsx)

[2016-12-14 16:44] kevin-doselection commented on #54
Try this link: https://access.gs1us.org/IdSrv/account/signin?ReturnUrl=%2fIdSrv%2fissue%2fwsfed%3fwa%3dwsignin1.0%26wtrealm%3dhttps%253a%252f%252fmembers.gs1us.org%252f%26wctx%3drm%253d0%2526id%253dpassive%2526ru%253d%25252f%26wct%3d2016-12-14T16%253a43%253a01Z&wa=wsignin1.0&wtrealm=https%3a%2f%2fmembers.gs1us.org%2f&wctx=rm%3d0%26id%3dpassive%26ru%3d%252f&wct=2016-12-14T16%3a43%3a01Z

![image](ht

[2016-12-14 16:52] kevin-doselection commented on #63
1. fixed. Looks great now.

[2016-12-14 16:55] kevin-doselection commented on #65
404 error
![image](https://cloud.githubusercontent.com/assets/17145866/21191747/ff843e5e-c1da-11e6-91a0-76e337109475.png)

[2016-12-14 23:32] kevin-doselection commented on #65
After all done, please update product data by ltsport.com

[2016-12-14 23:40] kevin-doselection opened #68 "[TaoBao] Review"
1. [Storefront](https://shop157277080.world.taobao.com/):
Banner wrong position;
Done. watermark picture use US version. AD-01 AD-02 AD-03.jpg;

2. [Visor](https://world.taobao.com/item/539563658470.htm?fromSite=main&spm=a312a.7700824.w4002-15642987433.12.RqAD1y):
Remove non-exist product. Visor-Main Image-5.jpg;
颜色分类 try using text without picture. Picture is not good to see.
Remove [this item](h

[2016-12-15 02:11] christinechina commented on #54
[data update end date .xlsx](https://github.com/kevin-doselection/951753258/files/653612/data.update.end.date.xlsx)

i have try to do one sku. pls check attachment and confirm am i do right or not? thanks

[2016-12-15 03:27] DAXIAPI commented on #57
yes,it's ok.

[2016-12-15 03:29] DAXIAPI commented on #65
"404 error" problem is ok.

[2016-12-15 08:25] christinechina commented on #68
1. already using AD-01 02 03 .
2. REMOVE.  what's wrong of this two category?
3. 只能做到二级分类，不能再添加三级分类。 所以SKU 分离不能添加。
4. carpet  pics updated and deleted 全包围脚垫 橡胶汽车脚垫
5 6 7 8. empty category is because we don't have pics and no producs in stock at all.
9. CC pic updated.

[2016-12-15 09:20] DAXIAPI opened #69 "searchbar can't not find the 2002~2007 Honda"
![qq 20161215171121](https://cloud.githubusercontent.com/assets/20631720/21218008/cce2589a-c2e9-11e6-9f5a-198cd8adae66.png)
Make has no options for Honda when we chose 2005,also I find year about 02~07 that it can't find Honda.ltsport.net is ok,can chose Honda.The searchbar‘s code has not been modified,do you know What has been modified

[2016-12-15 09:21] DAXIAPI commented on #69
![qq 20161215172102](https://cloud.githubusercontent.com/assets/20631720/21218285/ec087f46-c2ea-11e6-844f-28abaf633e9a.png)

[2016-12-15 10:45] christinechina commented on #68
![cb-104-4d-main image-5](https://cloud.githubusercontent.com/assets/20959180/21221010/af82f4c8-c2f6-11e6-8b8c-724dc41e7e00.jpg)
sizes wrong

[2016-12-15 16:56] kevin-doselection commented on #69
I can't found why the issue happens. Still looking at it when I having time.

[2016-12-15 17:01] kevin-doselection commented on #68
Kevin:
For storefront, how about banner?

For Visor, sunroof visor is working on it.

For roof rack, 4 category is too hard for customer to understand which can fit their car. 2 is simple.
For roof rack., Use these sku as product listing in the category. Please make sample product and put the link here. Make sure there isn't non-related product in here.
縱軌車頂橫桿: CB-902, CB-PTU-H, CB-SPTU-N
裸頂車頂橫桿:

[2016-12-15 17:16] kevin-doselection commented on #54
That's right.
A way you can check is, the gtin will be searchable in Reuse before you done it.
After you done it, it cannot be searched anymore.

[2016-12-15 17:49] kevin-doselection commented on #63
Can you hide this area of product?
![image](https://cloud.githubusercontent.com/assets/17145866/21235454/a83b8ea0-c2ab-11e6-81fe-875d684d3f8c.png)

[2016-12-15 17:56] kevin-doselection commented on #65
[product (3).xlsx](https://github.com/kevin-doselection/951753258/files/655649/product.3.xlsx)
After all done, please update product data by ltsport.com

[2016-12-16 00:57] DAXIAPI commented on #63
![qq 20161216085658](https://cloud.githubusercontent.com/assets/20631720/21247851/a6788bfa-c36d-11e6-913c-39a8d7c98d59.png)
like this

[2016-12-16 06:27] christinechina commented on #54
got it. will finish it by early of next week.

[2016-12-16 07:38] christinechina commented on #68
1. fixed
2. right?
![image](https://cloud.githubusercontent.com/assets/20959180/21255230/8ec9fa10-c3a5-11e6-930f-4d1c3299aa4e.png)
cb-902 https://item.taobao.com/item.htm?id=542580804475
cb-pth-h  https://item.taobao.com/item.htm?id=532555786026
CB-SPTU-N https://item.taobao.com/item.htm?id=539693517564
CB-SU-4D https://item.taobao.com/item.htm?id=541465297135
CB-104 https://item.taobao.com/item.h

[2016-12-16 08:04] christinechina commented on #68
![image](https://cloud.githubusercontent.com/assets/20959180/21255832/4eb36c5a-c3a9-11e6-8516-69975d398be7.png) should be no.4, not 3.

[2016-12-16 09:36] christinechina commented on #68
wrong sizes
![cb-104-s8-guide-chi](https://cloud.githubusercontent.com/assets/20959180/21258003/ee5ad8fe-c3b5-11e6-82c8-8f66ea1d2e9a.jpg)

[2016-12-16 18:57] kevin-doselection commented on #68
1. Remove [this item](https://world.taobao.com/item/532615256650.htm?fromSite=main&spm=a312a.7700824.w4002-15642987433.28.Ao9l2P)from 縱軌 to 無縱軌
2. [Car Cover](https://world.taobao.com/item/542874108127.htm?fromSite=main&spm=a312a.7700824.w4002-15642987433.15.sGbcZm) Please use better picture for display image.
3. [Missing detail](https://world.taobao.com/item/539625247498.htm?fromSite=main&spm=a31

[2016-12-16 22:29] kevin-doselection commented on #68
Help me fix this issue.
![image](https://cloud.githubusercontent.com/assets/17145866/21280644/0d25b3b8-c39c-11e6-9386-c1a34d14dd2a.png)

[2016-12-19 09:02] christinechina commented on #68
1 2 fixed.
3.fixed
4. pls check other producs sizes. i need same. mob version.
5. here we can't find this issue. pls change another browers to check.

[2016-12-19 09:24] christinechina commented on #68
did you change the hyperlink of taobao home page?

[2016-12-19 16:23] kevin-doselection commented on #68
Hello, please check 自訂頁面>LT Sport
URL: https://shop157277080.world.taobao.com/p/rd774290.htm

[2016-12-19 16:37] kevin-doselection commented on #65
Any updates?

[2016-12-19 16:49] kevin-doselection commented on #68
![cb-104-4d-main image-5a](https://cloud.githubusercontent.com/assets/17145866/21321050/126cda9e-c5c8-11e6-9f2f-a0b57909dcc9.jpg)
![cb-104-guide-chi-1](https://cloud.githubusercontent.com/assets/17145866/21321051/128501b4-c5c8-11e6-9936-9e491d5f173d.jpg)
![cb-104-guide-chi-2](https://cloud.githubusercontent.com/assets/17145866/21321052/1287a522-c5c8-11e6-9fda-747767dc76c2.jpg)

[2016-12-19 17:54] #66 closed, assigned to lihaolihao

[2016-12-19 17:54] #67 closed, assigned to kevin-doselection, Doselectioninc, lihaolihao, christinechina

[2016-12-19 18:49] kevin-doselection commented on #57
1. New import format from Groupon, default phone# use 6269658813
[merchant_17967_orders_20161205.xlsx](https://github.com/kevin-doselection/951753258/files/632052/merchant_17967_orders_20161205.xlsx)

2. New import format from eBay VIP
[12-19-2016 order.xlsx](https://github.com/kevin-doselection/951753258/files/662028/12-19-2016.order.xlsx)

Please let me know it's finished.

[2016-12-20 00:43] DAXIAPI commented on #65
Waiting for translation

[2016-12-20 08:32] DAXIAPI commented on #57
1.New import format from Groupon is ok.Upload files in the link below
链接: http://pan.baidu.com/s/1hsmetla 密码: ng3e

[2016-12-20 08:33] DAXIAPI commented on #57
2.New import format from eBay VIP,There is a problem with the order check.Do you know what's problem?
![qq 20161220161926](https://cloud.githubusercontent.com/assets/20631720/21343532/1325abd6-c6d2-11e6-97e3-b8b1269db078.png)

[2016-12-20 08:37] lihaolihao commented on #57
2.New import format from eBay VIP,There is a problem with the order check.Do you know what's problem?
![qq 20161220161926](https://cloud.githubusercontent.com/assets/20631720/21343532/1325abd6-c6d2-11e6-97e3-b8b1269db078.png)

[2016-12-20 16:40] kevin-doselection commented on #57
1. will test
2. sku not exist try this "CB-SU-4D,SR-ST-2400-207-WS". Also kevin_ebay_vip is working

[2016-12-20 16:47] kevin-doselection opened #70 "[Walmart API] Product update "price,qty" via php"
Jess do you know php? We are working on Walmart API to sync our product qty and price in Magento.
API document: https://developer.walmartapis.com/

Single Update Trigger Event: Save in product detail page
![image](https://cloud.githubusercontent.com/assets/17145866/21359359/e74ff9ee-c690-11e6-9ee7-f4ce0c89d07b.png)

Bulk Update Trigger Event: Update action in product list
![image](https://cloud.gi

[2016-12-21 00:56] DAXIAPI commented on #57
got it,it's ok.

[2016-12-21 03:38] DAXIAPI commented on #70
I read it, so what should I do?

[2016-12-21 06:16] christinechina commented on #68
![image](https://cloud.githubusercontent.com/assets/20959180/21379292/dadabd14-c787-11e6-9428-a428146e2618.png)
should link to each categories. for example should link to 注塑晴雨挡

pls fix

[2016-12-21 07:31] christinechina commented on #68
CB-505 product page pics finish? ?

[2016-12-21 16:27] kevin-doselection commented on #70
Objective is make update function working.
For now, inventory update is working. However price is not.
We need to find out why the price is not update via bulk function.

[2016-12-21 16:29] kevin-doselection commented on #68
Categories picture is new format. If using old one, the layout will mess up in our end.
So we choose new one with better layout, however sacrifice multiple link.
Since customer has to find out their vehicle, this will avoid the hassle.

[2016-12-21 16:30] kevin-doselection commented on #68
All other product page pic are working on it, estimate finished time on Friday.

[2016-12-21 18:25] kevin-doselection commented on #68
1.Please start to duplicate finished product.
Mostly product is Vehicle Make based and using option to put Vehicle Model.

2. Could you explain how do you define the product title? It looks complicate to me.
Also, make sure all kind of product are in TaoBao. You can follow ltsport.net or ltsport.com

Window visor (In-Channel, Tape-On, Sunroof)
注塑晴雨挡: In-Channel, Tape-On
汽车天窗挡: Sunroof

行李架横杆 (Rail

[2016-12-21 21:32] kevin-doselection commented on #68
New picture
https://www.dropbox.com/sh/rul01on1isa1dh2/AAB4KHshY7waljPpftR9xeIZa?dl=0

[2016-12-26 09:21] christinechina commented on #54
![qq 20161226172101](https://cloud.githubusercontent.com/assets/20959180/21479475/be4fe866-cb8f-11e6-8229-f489185e3b99.png)

[2016-12-26 09:24] DAXIAPI commented on #70
ok,follow up.Are you sure inventory updates working?I'm update for single product,but site pages only appear number 12.Last,this problem has recently appeared or has been,pls tell me,thank!

[2016-12-26 11:06] christinechina commented on #68
got it

[2016-12-26 11:26] christinechina commented on #68
how about detail page pics?  yes we are duplicating products.  what's wrong with title?  vehicle model + keyword+ brand+ year+keywords+hot searching words

[2016-12-26 12:07] christinechina commented on #68
![qq 20161226200607](https://cloud.githubusercontent.com/assets/20959180/21481813/1474ecac-cba7-11e6-9839-35161e23e133.png)
AD VIDEO  pls  compress into 60‘’。 pls do this job first. and cb-su, carpet, window viosr is most urgent.

[2016-12-26 12:47] christinechina commented on #68
![qq 20161226204540](https://cloud.githubusercontent.com/assets/20959180/21482261/6de8a512-cbac-11e6-8c69-5ed9bdf36e7e.png)
WRONG SIZES

[2016-12-27 09:20] DAXIAPI commented on #70
Prompt “Error on saving product walmart:”,connection problems.

[2016-12-27 16:30] kevin-doselection commented on #70
Got it. If it shows 12, seems okay. However might just update the qty only not price.

Also, I opened an account for you to check the price and qty in Walmart.com system.

URL: seller.walmart.com
Username: skykevin77@gmail.com
Password: Walmart123!
Path: ITEMS & INVENTORY > Manage Items > Filter "Full sku" (Partial won't work)

[2016-12-27 18:16] kevin-doselection commented on #68
Designer: CB-PTU-H pic, the width is 481 same as others, is it too big or too small? What size you want?

[2016-12-27 18:46] kevin-doselection commented on #54
Fixed, please check.

[2016-12-27 18:57] kevin-doselection commented on #65
Any updates?

[2016-12-27 19:10] kevin-doselection commented on #68
[Links.txt](https://github.com/kevin-doselection/951753258/files/674547/Links.txt)
Designer:  We trim all the ADs into 2 clips, please see the txt file to find the links to the videos

[2016-12-27 21:02] kevin-doselection opened #71 "ltsport.com new update method: reviewcount reviewvalue"
Please create a new update method for two attributes.
And after created, please assign all product random value between below range.
reviewcount: 0 - 1000 (number)
reviewvalue: 3.0 - 5.0 (number)

[2016-12-28 00:23] DAXIAPI commented on #65
yes,in progress

[2016-12-28 00:24] kevin-doselection opened #72 "china database for fitment"
1. http://www.caam.org.cn/contactus/20100701/0905042010.html
please try to contact them see if they have data for people to download.
I will keep looking at other source

[2016-12-28 00:29] lihaolihao commented on #71
what's this?Please say clearly,thank.

[2016-12-28 00:37] DAXIAPI commented on #71
OK,now I understand.

[2016-12-28 05:49] DAXIAPI commented on #71
it's ok.

[2016-12-28 09:23] DAXIAPI commented on #70
no function of saveprice.The code looks a bit confusing.

[2016-12-28 09:31] christinechina commented on #68
[desingner follow.xlsx](https://github.com/kevin-doselection/951753258/files/675313/desingner.follow.xlsx)
vehicel model pics i send via email. too big.

[2016-12-28 16:29] #71 closed, assigned to lihaolihao

[2016-12-28 16:39] kevin-doselection commented on #70
no wonder. please backup first before editing.
and try to add price into the code.

[2016-12-28 22:39] kevin-doselection commented on #68
https://www.dropbox.com/sh/qwkmox3qh6su4eb/AADaC8hGyklHB4qBfzEdUCzta?dl=0

[2016-12-29 19:21] kevin-doselection commented on #63
Please try a way that makes the text looks clickable and larger
![image](https://cloud.githubusercontent.com/assets/17145866/21552781/d2d96764-cdb8-11e6-9bdd-139c14582bd4.png)

[2016-12-30 02:26] DAXIAPI commented on #63
![qq 20161230094425](https://cloud.githubusercontent.com/assets/20631720/21558775/5dcb037a-ce7a-11e6-8b67-55203e0d9480.png)
Is this ok?

[2016-12-30 05:13] christinechina commented on #68
hi missing the CB SPTU N part1. that one in attachment is wrong.  pls re send

[2016-12-30 16:33] #63 closed, assigned to lihaolihao

[2016-12-30 16:39] kevin-doselection commented on #68
CB SPTU N
https://www.dropbox.com/sh/9bfe3st08nlcheo/AADjRNlHeLQd5u085gOXHniua?dl=0

[2017-01-02 02:22] DAXIAPI opened #73 "Web site navigation bar can not drop"
![qq 20170102094715](https://cloud.githubusercontent.com/assets/20631720/21584050/1d9a4b2e-d0d4-11e6-8d50-27f9c5b1d35a.png)
![qq 20170102101537](https://cloud.githubusercontent.com/assets/20631720/21584064/85952ff0-d0d4-11e6-92c3-6d05ecb36cdc.png)
Today, I found that the background of the site without a drop-down box, JS loading error. Is this a problem when you visit? If so, please check the reas

[2017-01-02 03:38] christinechina commented on #68
i need the 60' video, not pics.

[2017-01-02 03:39] christinechina commented on #68
[desingner follow.xlsx](https://github.com/kevin-doselection/951753258/files/680516/desingner.follow.xlsx)

follw by this list. thx.

[2017-01-03 03:42] DAXIAPI opened #74 "http://gzneal.cn/ Website information"
Hi,Kevin,please give me the login information about gzneal.cn background,thank.

[2017-01-03 09:36] DAXIAPI commented on #70
Method does not work,can you see it?

[2017-01-03 16:22] kevin-doselection commented on #74
http://gzneal.cn/wp-login.php
ltsport4
ddd142536789

[2017-01-03 16:22] #74 closed, assigned to kevin-doselection, lihaolihao

[2017-01-03 16:27] kevin-doselection commented on #70
did you saw the price still not change but qty did in seller.walmart.com?

I know that price not worked. but can you fix it?

[2017-01-03 16:28] kevin-doselection commented on #73
why are you opening the case?
is this china website?
where did you saw the dropdown box not working?

[2017-01-03 16:48] kevin-doselection commented on #68
Designer:  below is CB-SPTU-N part 1, thanks
https://www.youtube.com/watch?v=tKIkYgCDWfg

[2017-01-04 00:46] DAXIAPI commented on #70
I know qty can worked but price not worked.I know that price method is missing,so I write the price mothod but it still not worked,I don't know what the problem is.
 [/ltsport.com/html/app/code/local/Walmart/Api/Model/vendor/fillup/walmart-partner-api-sdk-php/src/Price.php](url)
File: Price.php
This file is not price "update" method,you can check it.

[2017-01-04 00:50] #73 closed, assigned to kevin-doselection, lihaolihao

[2017-01-04 05:12] christinechina commented on #68
got it.  SPTU-S 800*800 PICS  finish?

[2017-01-04 16:42] kevin-doselection commented on #70
I see. Did you check "uploadAction" event in BulkproductController.php at app/code/local/Magentizer/Bulkupdate/controllers/Adminhtml ? the price is missing, maybe it's the issue.

[2017-01-04 18:40] kevin-doselection commented on #68
![cb-sptu-s-main image-1](https://cloud.githubusercontent.com/assets/17145866/21654375/12972a0c-d26a-11e6-8087-a31f452739d4.jpg)
![cb-sptu-s-main image-2](https://cloud.githubusercontent.com/assets/17145866/21654376/129acec8-d26a-11e6-9605-bb6a3462288f.jpg)
![cb-sptu-s-main image-3](https://cloud.githubusercontent.com/assets/17145866/21654377/129ee62a-d26a-11e6-98ed-4e4fbdd821bb.jpg)
![cb-sptu-s-m

[2017-01-04 19:12] kevin-doselection commented on #68
Are you working on new listing? Please follow the list hiding non-current-exist category and item.
Side Visor 4 item
Rack 9 item
Carpet 5 item
Cover 4 item

[2017-01-04 19:34] kevin-doselection commented on #68
Please make sure not to have same duplicated item.

Visor and carpet for example, HC1215-4D should just have 1 listing with 2012 2013 2014 2015 option.

But rack and cover can have many listing with different sku ending. Depends on how china market prefer
There are 2 options
first, CB-SU-4D-201 for Acura CB-SU-4D-202 for Audi and so on to create different listing
second, CB-SU with multiple option

[2017-01-04 19:34] kevin-doselection commented on #65
How's it going

[2017-01-04 19:36] kevin-doselection commented on #54
How's it going?

[2017-01-05 09:29] DAXIAPI commented on #70
I know there the price is missing,but the most fundamental reason is the lack of updateprice methods.
look at [/ltsport.com/html/app/code/local/Walmart/Api/Model/vendor/fillup/walmart-partner-api-sdk-php/src/Price.sample.php](url),You will find that there is a lack of "uploadAction" event,so website can't call WAL-MART API,the result is not updated price.You can compare the inventory method at [/l

[2017-01-05 16:31] kevin-doselection commented on #70
Please try to check another way.
Path: /ltsport.com/html/app/code/local/Magentizer/Bulkupdate
They said single product update and bulk update are different.

[2017-01-06 00:35] DAXIAPI commented on #65
It's ok,has done.

[2017-01-06 04:32] christinechina commented on #68
no. IT'S NOT WORK AT TAOBAO.  they only allow us upload 400 listing.  not thoustand of.  so we cut a lot that duplicate。

[2017-01-06 04:35] christinechina commented on #68
Please follow the list hiding non-current-exist category and item.

sorry i don't understand。

[2017-01-06 10:00] DAXIAPI commented on #70
still not worked.
![qq 20170106175925](https://cloud.githubusercontent.com/assets/20631720/21714439/ed5d2206-d439-11e6-9f77-d81d723b3962.png)

[2017-01-06 18:06] kevin-doselection commented on #65
Something wrong
![image](https://cloud.githubusercontent.com/assets/17145866/21727791/d252fad6-d3f7-11e6-9640-e8b3eaab73bd.png)

[2017-01-06 18:07] kevin-doselection commented on #68
1. got it. let me a list about how do you decide the listing title, option.
2. If you don't have inventory, please remove from the sidebar
![image](https://cloud.githubusercontent.com/assets/17145866/21727818/eac5ad34-d3f7-11e6-86f3-ff5c832662f7.png)

[2017-01-06 18:07] kevin-doselection commented on #70
Pause this issue first

[2017-01-06 18:07] #70 closed, assigned to lihaolihao

[2017-01-07 00:40] DAXIAPI commented on #65
it's ok.
![qq 20170107083744](https://cloud.githubusercontent.com/assets/20631720/21737533/af35ce3a-d4b4-11e6-8594-5d07ae5ce6d2.png)

[2017-01-09 05:10] christinechina commented on #68
i think no need to del the category. it's for future listing.  and customer will ask if we have o not? we can get  market infor from customer.  if we del it customer will never know about.
Do you asking about  which SKU belong to which category?

[2017-01-09 05:11] christinechina commented on #68
and pls follow the inventory pics progress, we need it.

[2017-01-09 16:15] kevin-doselection commented on #68
we can't give you CB-FR-95 for img, video and PDF right now, still seeking vehicle
give me a list what you still need, looks like we gave it all already
also we need "cb-902-s44 (s45) for video, ST-2400 for pdf" translation.

[2017-01-10 03:08] christinechina commented on #72
jess pls contact them.

[2017-01-10 06:16] christinechina commented on #68
But we have instock. How to do?  CB-FR. I think we can seek together in china. Even finished seeking in USA. We still need to seek again here in china.  vehicels are different.

and enclosed 902 installation  video and PDF we have already. we need is  the 60' video pls send us then we can translate for you.

![cb-902](https://cloud.githubusercontent.com/assets/20959180/21797893/a726f99a-d74c-11e6-

[2017-01-10 06:41] christinechina commented on #68
[desingner follow.xlsx](https://github.com/kevin-doselection/951753258/files/695411/desingner.follow.xlsx)
check the update one. N/A  item

[2017-01-10 08:36] DAXIAPI commented on #72
They don't provide information to download,just offering magazine subscriptions.

[2017-01-10 16:55] kevin-doselection commented on #72
Okay. Please do research on these website

1. no china but worldwide http://www.teoalida.com/cardatabase/car-models-list/
2. has china but seperate http://www.carfolio.com/specifications/
3. might have, sent email already https://www.marklines.com/en/vehicle_production/

[2017-01-10 18:06] kevin-doselection commented on #68
Designer:
CB-902 AD Video is here: https://www.youtube.com/watch?v=PdCQDgpA3fg
CB-PTU-H AD video:
part1:  https://www.youtube.com/watch?v=lDd4f92DzbM&feature=youtu.be
part2: https://www.youtube.com/watch?v=pPgavcHRsLA&feature=youtu.be

[SR-ST-2400-guide-VM.pdf](https://github.com/kevin-doselection/951753258/files/696913/SR-ST-2400-guide-VM.pdf)

[2017-01-10 18:12] kevin-doselection commented on #69
Jess, please fix Guest checkout for ltsport.com
On mobile version (theme:do2)  it's fine, but cannot use on desktop version (theme:MAG)

there are two login page, one is before checkout cart, another is when you type wrong password it will redirect to checkout/onepage/.

[2017-01-10 19:23] kevin-doselection commented on #68
https://www.dropbox.com/sh/ofom6f0wtezh519/AABIfNhWZ59ihE8mBemX5Igfa?dl=0

[2017-01-10 23:34] kevin-doselection commented on #72
Christin,
please give me some website(seller) that might have vehicle database
I can get some idea from there

[2017-01-11 07:00] DAXIAPI commented on #69
1.path:/ltsport.com/html/app/design/frontend/default/MAG050058/template/checkout/onepage
file:link.phtml
this file limits the guest can't checkout,now I hide the restriction code guest can checkout
![qq 20170111145136](https://cloud.githubusercontent.com/assets/20631720/21838701/7ddd970c-d80e-11e6-9241-e0b933dd069f.png)
2.“_another is when you type wrong password it will redirect to checkout/onepa

[2017-01-11 16:18] kevin-doselection commented on #69
Good. Then second issue is customer cannot checkout as guest or register
So I restore the file before the second issue is fixed
![image](https://cloud.githubusercontent.com/assets/17145866/21856317/74abadc8-d7d6-11e6-81cf-066f5dd3b3b3.png)
![image](https://cloud.githubusercontent.com/assets/17145866/21856323/7898f1ca-d7d6-11e6-97de-fbb5db9c2c92.png)

[2017-01-12 05:31] christinechina commented on #72
for example this one:http://www.autohome.com.cn/guangzhou/

[2017-01-12 08:24] DAXIAPI commented on #69
It's ok.
![qq 20170112160631](https://cloud.githubusercontent.com/assets/20631720/21882011/9853c9aa-d8e3-11e6-90a2-00d4997ab327.png)

[2017-01-12 17:43] kevin-doselection commented on #68
1. CNWV-        In Process
2. CB-SU-4D    In Process
3. CB-FR-95-    In Process
4. CP-               https://www.dropbox.com/sh/qwkmox3qh6su4eb/AADaC8hGyklHB4qBfzEdUCzta?dl=0

[2017-01-12 19:46] kevin-doselection commented on #68
Designer:
CB-902 AD Chinese part1:  https://youtu.be/8-WNhGhWvbk
                                part2:  https://youtu.be/Qjip0q_oXMY

SR-ST-2400 Guide in Chinese
[SR-ST-2400-guide-chi.pdf](https://github.com/kevin-doselection/951753258/files/702711/SR-ST-2400-guide-chi.pdf)

[2017-01-12 19:51] kevin-doselection commented on #68
1. CNWV- 製作中 請暫時用一般Visor 的guide取代
2. CB-SU-4D -製作中 可以先暫時用guide video 取代
3. CB-FR-95- 借到車  下禮拜拍攝
CP- https://www.dropbox.com/sh/qwkmox3qh6su4eb/AADaC8hGyklHB4qBfzEdUCzta?dl=0

[2017-01-12 19:51] kevin-doselection commented on #68
1. CNWV- 製作中 請暫時用一般Visor 的guide取代
2. CB-SU-4D -製作中 可以先暫時用guide video 取代
3. CB-FR-95- 借到車 下禮拜拍攝
4. CP- https://www.dropbox.com/sh/qwkmox3qh6su4eb/AADaC8hGyklHB4qBfzEdUCzta?dl=0

[2017-01-12 21:26] kevin-doselection commented on #68
Create a new CB-SU listing

Category: 行李架
Packing Image: Get two from your inventory.
Brand: (Fill Best Seller Brand) Find **most popular vehicle make to fill.
Part's category: 汽車配件
Top Basket Material: 鋁合金
Service Included: Skip
Max load: 60 - 70 kgs
Material: 鋁合金
Vehicle Brand: (Fill 100 models) **most popular vehicle make and model to fill.

Title: 通用行李架车顶架 车顶行李架车顶货架 汽车行李架汽車貨架
Selling Point:

P

[2017-01-13 00:38] DAXIAPI opened #75 "CB-SU"
Create a new CB-SU listing

Category: 行李架
Packing Image: Get two from your inventory.
Brand: (Fill Best Seller Brand) Find **most popular vehicle make to fill.
Part's category: 汽車配件
Top Basket Material: 鋁合金
Service Included: Skip
Max load: 60 - 70 kgs
Material: 鋁合金
Vehicle Brand: (Fill 100 models) **most popular vehicle make and model to fill.

Title: 通用行李架车顶架 车顶行李架车顶货架 汽车行李架汽車貨架
Selling Point:

P

[2017-01-13 06:24] DAXIAPI commented on #72
![qq 20170113104038](https://cloud.githubusercontent.com/assets/20631720/21920400/d80f4598-d99b-11e6-9593-381f7e7dfe14.png)
![qq 20170113104100](https://cloud.githubusercontent.com/assets/20631720/21920401/d813bd94-d99b-11e6-823a-a14d2a6e1c8c.png)
![qq 20170113104116](https://cloud.githubusercontent.com/assets/20631720/21920402/d833f154-d99b-11e6-9ef2-598dc1d05ca4.png)
![qq 20170113104133](https:/

[2017-01-13 06:25] DAXIAPI commented on #72
path:http://www.autohome.com.cn/car/1_1-0.0_0.0-0-0-0-0-0-0-0-0/
汽车之家车型数据

[2017-01-13 07:47] christinechina commented on #75
LISTED

[2017-01-13 10:13] christinechina opened #76 "company introduction page"
Hi kevin, pls ask designer design a  page that  intrduction our US company for taobao.  enclosed some information。。
[品牌故事1.xlsx](https://github.com/kevin-doselection/951753258/files/704015/1.xlsx)

[2017-01-13 16:25] kevin-doselection commented on #72
We needs year, make, model, submodel and engine

On Thu, Jan 12, 2017 at 10:25 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2017-01-13 16:32] kevin-doselection commented on #76
Working on it, please tell us the width x height, size and img format.

[2017-01-13 16:35] #65 closed, assigned to lihaolihao, christinechina

[2017-01-13 17:16] kevin-doselection commented on #75
Seems like keyword is not the only factor that affects the ranking.
You have other idea to boost it without large cost?

[2017-01-16 00:43] DAXIAPI commented on #72
Yes, here's what you need.

[2017-01-16 06:35] DAXIAPI commented on #72
file path:http://pan.baidu.com/s/1dFFYlcl
The type of this file is sql,you can download and watch.

[2017-01-16 06:36] DAXIAPI commented on #72
![qq 20170113104221](https://cloud.githubusercontent.com/assets/20631720/21973083/08d914e2-dbf9-11e6-866e-1da10ee8d176.png)
![qq 20170113104231](https://cloud.githubusercontent.com/assets/20631720/21973085/08ff2894-dbf9-11e6-9c4d-c1c59f335059.png)
![qq 20170113104241](https://cloud.githubusercontent.com/assets/20631720/21973087/0904e130-dbf9-11e6-9ef0-4009b9ded0af.png)
![qq 20170113104249](https:/

[2017-01-16 06:55] DAXIAPI commented on #76
![qq 20170116145508](https://cloud.githubusercontent.com/assets/20631720/21973469/db607eee-dbfb-11e6-966d-262c2e589f12.png)

[2017-01-16 16:36] kevin-doselection commented on #72
Is it free? Let's started with this file.
Help me eliminate useless column, only leaves id, 首字母, 品牌, 車系, 車型名稱, 年款, 廠商, 车身结构.
And send me an entire data table in SQL.

If no problem, we can start to matching with our database.

[2017-01-16 23:44] kevin-doselection commented on #69
Please help me fix this issue on tablet
![image](https://cloud.githubusercontent.com/assets/17145866/22002680/b977eb1c-dc02-11e6-9e6b-3680d74668cc.png)

[2017-01-16 23:49] kevin-doselection commented on #69
And add this code to footer. I tried on CMS, Configuration>Design>Footer>Miscellaneous HTML.
But it can't stay at the bottom of the page. Keeps stop in the middle.
Failed img:
![image](https://cloud.githubusercontent.com/assets/17145866/22002780/6baf7854-dc03-11e6-87d6-45e0e753fd72.png)

Success Example: https://codepen.io/cbracco/pen/zekgx

[2017-01-17 00:54] DAXIAPI commented on #72
yes,it's free

[2017-01-17 02:41] DAXIAPI commented on #72
The latest data
![qq 20170117091510](https://cloud.githubusercontent.com/assets/20631720/22005839/7085c47a-dca1-11e6-8cc4-c0897b2586c5.png)

[2017-01-17 02:43] DAXIAPI commented on #72
new sql database file path:http://pan.baidu.com/s/1bpHymwn

[2017-01-17 07:06] DAXIAPI commented on #69
this issue is ok.
![qq 20170117100212](https://cloud.githubusercontent.com/assets/20631720/22010843/a0ac0bbc-dcc6-11e6-9aa4-606e6fb75ad4.png)

[2017-01-17 09:46] DAXIAPI commented on #69
![qq 20170117104347](https://cloud.githubusercontent.com/assets/20631720/22015377/bedc34d4-dcdc-11e6-83ce-a347bb8a2ce3.png)
![qq 20170117104408](https://cloud.githubusercontent.com/assets/20631720/22015378/bf087de6-dcdc-11e6-9746-d59fec74ab06.png)
Do you have to use the code?

[2017-01-17 16:39] kevin-doselection commented on #69
Not necessary if it can be achieved in other way.

[2017-01-17 19:02] kevin-doselection commented on #69
Here is updated one. I added more link and picture.
[footer idea.txt](https://github.com/kevin-doselection/951753258/files/712049/footer.idea.txt)

[2017-01-17 22:33] kevin-doselection commented on #68
Jess, if Christin is working on TaoBao. Please research what is the shopping method china people used most.
If it's search engine, then started to create index and keyword in our website on it.
If it's shopping channel, keep working on listing improvement.
If social media plays a big role, then take a look at it.

[2017-01-18 07:11] DAXIAPI commented on #69
Result is like this.
Home:
![qq 20170118135814](https://cloud.githubusercontent.com/assets/20631720/22054356/2366ec24-dd90-11e6-954e-22251db29520.png)
other page:
![qq 20170118135803](https://cloud.githubusercontent.com/assets/20631720/22054386/453306a8-dd90-11e6-9464-d90f84fcfc06.png)

[2017-01-18 09:19] DAXIAPI opened #77 "淘寶無線端商品詳情頁"
現在淘寶無線端商品詳情頁圖片出現模糊情況，需要重新設計圖片。
要求：
1.尺寸：寬：608px，高：不超過920px
2.所有圖片總佔用空間：不超過2056k
3.使用高分辨率
4.導出圖片格式為JPG

下圖是出現模糊情況的分析：
![qq 20170118171147](https://cloud.githubusercontent.com/assets/20631720/22058059/86d083e4-dda2-11e6-9510-2b7228a7a9f0.png)

[2017-01-18 20:44] Doselectioninc commented on #77
Hi all
Please assign to our designer fix it. After they finish CB-FR installation guide and ads

Sent from my iPhone

On Jan 18, 2017, at 1:19 AM, Jsee <notifications@github.com<mailto:notifications@github.com>> wrote:

$B8=:_EqUoL5@~C<>&IJ>\>pJGT&JR=P8=LO8R>p67!$<{MW=E?7@_7WT&JR!#(B
$BMW5a!'(B
1.$B<\@#!'yn!'(B608px$B!$9b!'ITD62a(B920px
2.$B=jM-T&JReA(B?$BMQ6u4V!'ITD62a(B2056k
3.$B;HM

[2017-01-19 00:45] DAXIAPI commented on #77
Where is the designer? I didn't find him.
![qq 20170119084407](https://cloud.githubusercontent.com/assets/20631720/22089048/83c2f64c-de23-11e6-9e40-941267e816e7.png)

[2017-01-19 02:55] Doselectioninc commented on #77
I will ask them join it

Sent from my iPhone

On Jan 18, 2017, at 4:45 PM, Jsee <notifications@github.com<mailto:notifications@github.com>> wrote:

Where is the designer? I didn't find him.
[qq 20170119084407]<https://cloud.githubusercontent.com/assets/20631720/22089048/83c2f64c-de23-11e6-9e40-941267e816e7.png>

-
You are receiving this because you commented.
Reply to this email directly, view it

[2017-01-19 02:55] DAXIAPI commented on #77
ok,thank.

[2017-01-20 16:23] kevin-doselection commented on #69
Please double check on desktop and mobile website
![image](https://cloud.githubusercontent.com/assets/17145866/22156783/b40bc448-dee9-11e6-8e1a-fdbe19024a12.png)

[2017-01-20 16:30] kevin-doselection commented on #68
This is CB-FR display img
![cb-fr-main image-03](https://cloud.githubusercontent.com/assets/17145866/22156999/af0a095e-deea-11e6-9cf4-e7c6b07e8841.jpg)
![cb-fr-main image-05](https://cloud.githubusercontent.com/assets/17145866/22157002/af0ce0ac-deea-11e6-9afa-6ea8ffc32f76.jpg)
![cb-fr-main image-04](https://cloud.githubusercontent.com/assets/17145866/22157000/af0bb844-deea-11e6-8074-c5a96ee85697.j

[2017-01-20 22:03] kevin-doselection commented on #68
Is it only happens on my end?
URL: http://www.ltsport.net/
![image](https://cloud.githubusercontent.com/assets/17145866/22167116/3cc92ec2-df19-11e6-96f5-0b89d71d1d1f.png)

[2017-01-20 22:27] kevin-doselection commented on #77
Please give us a file included
1. link, where you see it's unclear
2. img origin files
then we can investigate what is the issue and have the material to work with

[2017-01-22 02:56] christinechina commented on #68
here is update list. We will have chinese new year holiday form 24th jan~ 3th Feb. During this period, pls kee p checking taobao for us and try to finish that still missing. Thanks.
[desingner follow.xlsx](https://github.com/kevin-doselection/951753258/files/721653/desingner.follow.xlsx)

[2017-01-22 02:57] christinechina commented on #68
and above problem fixed.

[2017-01-22 08:21] DAXIAPI commented on #69
it's ok,mobile website is not suitable, so it not show on the phone.
![qq 20170122145755](https://cloud.githubusercontent.com/assets/20631720/22181076/cb908d02-e0be-11e6-8d6c-313b64851ea7.png)

[2017-01-22 08:26] DAXIAPI commented on #68
it's ok
URL: http://www.ltsport.net/
![qq 20170122162529](https://cloud.githubusercontent.com/assets/20631720/22181110/6c362e06-e0bf-11e6-8987-79bc39778ca9.png)

[2017-01-24 16:43] kevin-doselection commented on #68
https://www.dropbox.com/sh/05289sy8epdx2wh/AAAOSKXLwuMiV1dZWfeSBCqja?dl=0

[2017-01-24 17:04] kevin-doselection commented on #69
No problem.

[2017-01-30 17:41] kevin-doselection opened #78 "[ltsport.com] new attribute: bestseller_custom"
Attribute name: bestseller_custom

Required: update method.

[2017-02-04 02:25] DAXIAPI commented on #78
it's ok.
path:http://www.ltsport.com/update/bscustomUpdate.php
![qq 20170204102404](https://cloud.githubusercontent.com/assets/20631720/22614892/2580d182-eac4-11e6-8f77-a0db97cda278.png)

[2017-02-04 02:49] DAXIAPI commented on #72
Hi,Kevin,If no problem, Can we start it?

[2017-02-04 02:51] DAXIAPI commented on #76
Have designer done the page?

[2017-02-04 06:51] DAXIAPI commented on #77
All product details page are blurred,you can see in the phone.
In the below,I intercepted the pictures when browsing in the phone.
![qq 20170204143604](https://cloud.githubusercontent.com/assets/20631720/22616489/e2725b98-eae8-11e6-9d40-c49a9ff6a294.png)
![qq 20170204143632](https://cloud.githubusercontent.com/assets/20631720/22616490/e27684ac-eae8-11e6-8640-96e43056a1f3.png)
![qq 20170204144004](

[2017-02-04 07:34] DAXIAPI commented on #77
Now we need to solve the problem.At first,we can solve CB-PTU CB-SPTU and Window Visors .
Picture size----height:608px;  width;900px

[2017-02-04 07:43] DAXIAPI commented on #69
Hi,Kevin,do you find the problem about this issue?
Website about ltsport.com can't find 02~07 Honda.
Where is the problem of product data?

[2017-02-04 07:44] DAXIAPI commented on #77
Please ask the designer to follow up,thank.

[2017-02-04 07:44] DAXIAPI commented on #76
Please ask the designer to follow up,thank.

[2017-02-04 08:02] christinechina commented on #68
![taobao-cb-fr-1](https://cloud.githubusercontent.com/assets/20959180/22616913/1da0945a-eaf3-11e6-909d-b86f6bc2a334.jpg)
can not use  USA flat and 名牌. need revise into  美国品牌 品质保证

[2017-02-04 08:12] DAXIAPI commented on #77
![qq 20170204160853](https://cloud.githubusercontent.com/assets/20631720/22616975/59e8465a-eaf4-11e6-8d25-338b82a99cb3.png)
The right size will look clear

[2017-02-04 08:38] christinechina commented on #68
[desingner follow.xlsx](https://github.com/kevin-doselection/951753258/files/752124/desingner.follow.xlsx)
pls update

[2017-02-04 08:44] DAXIAPI commented on #77
And about fonts, please use the phone font,thank.

[2017-02-05 09:10] DAXIAPI commented on #75
path:https://www.dropbox.com/s/nydo66gqjl40wnz/CB-SU%E8%AF%A6%E6%83%85%E9%A1%B5%E5%9B%BE%E7%89%87%E8%AE%BE%E8%AE%A1%E8%A6%81%E6%B1%82.xlsx?dl=0

[2017-02-05 09:17] DAXIAPI commented on #75
Hi,Kevin,Taobao product display page can help the ranking.Now CB-SU need new picture show to customers.I have already written the picture design requirements.Please download the file,and ask designer to  design picture.

[2017-02-06 17:30] kevin-doselection commented on #69
I am working on other project recently. However I would assume the issue is in the database.

[2017-02-06 17:32] kevin-doselection commented on #72
Still waiting for programmer's reply. I will update when I got and news.

Please send the sql file to my email kevin.doselection@gmail.com

[2017-02-07 00:58] DAXIAPI commented on #72
got it,thank.

[2017-02-09 23:19] kevin-doselection commented on #42
On 1600*900 the menu will eat over the logo. Can it be fixed?

[2017-02-10 01:52] DAXIAPI commented on #42
I have modified.

[2017-02-10 16:19] #42 closed, assigned to lihaolihao, christinechina

[2017-02-10 16:21] kevin-doselection commented on #72
Programmer said: This has totally different database structure.  It will be awhile before I can integrate it into IS.
Then we can talk about China vehicle search database.
For now, does china DB still using english year make model in SQL?
The chinese option I saw on website, that's in the code not in SQL?

[2017-02-10 16:23] kevin-doselection commented on #75
For issue 75 76 77 and taobao, all told designer on 2/6.
But they are working on new item and parts img.
I will follow up until finish.

[2017-02-10 16:23] kevin-doselection commented on #76
For issue 75 76 77 and taobao, all told designer on 2/6.
But they are working on new item and parts img.
I will follow up until finish.

[2017-02-10 16:23] kevin-doselection commented on #77
For issue 75 76 77 and taobao, all told designer on 2/6.
But they are working on new item and parts img.
I will follow up until finish.

[2017-02-10 16:23] kevin-doselection commented on #68
For issue 75 76 77 and taobao, all told designer on 2/6.
But they are working on new item and parts img.
I will follow up until finish.

[2017-02-10 17:26] kevin-doselection commented on #78
Add another upload function:
_links_related_sku               _links_related_position                     _links_crosssell_sku                  _links_crosssell_position
and test it with one product, see is it safe to use.

[2017-02-10 18:51] kevin-doselection commented on #57
1.
Issue: Order still processing after shipment shipped. Should be completed.
How: Normal order will become Completed after shipped. Magento received from shipment software by ShipStation API.

Any way to detect shipment info and change order status?
![image](https://cloud.githubusercontent.com/assets/17145866/22839523/a519b242-ef7e-11e6-826d-336b8b0d7fcc.png)

2.
Import with PayPal Transaction ID

[2017-02-10 20:53] kevin-doselection commented on #75
From Designer:
What size for the pics for CB-SU? Thanks
I will start doing those pics soon

[2017-02-10 20:58] kevin-doselection commented on #68
Please test with these img first, and report about the result
https://www.dropbox.com/sh/sil0j2h8tdcirnq/AACW8T5YHV0H6E_HHtWA4rdna?dl=0

[2017-02-13 01:43] DAXIAPI commented on #78
update path:www.ltsport.com/update/linksUpdate.php
Attribute name:links_related_sku  links_related_position  links_crosssell_sku  links_crosssell_position
test product sku:VSWV-CRUZE1516-4D-201-WS
test result:
![qq 20170213094024](https://cloud.githubusercontent.com/assets/20631720/22868425/c17a4952-f1d0-11e6-93fe-a8eecaa152a6.png)

[2017-02-13 01:47] DAXIAPI commented on #76
ok,thank.

[2017-02-13 01:48] lihaolihao commented on #76
ok,thank.

[2017-02-13 01:52] DAXIAPI commented on #75
width:750px,but height is not limited.

[2017-02-13 02:03] DAXIAPI commented on #72
ltsport.net has used chinese year make model in SQL.
![qq 20170213095826](https://cloud.githubusercontent.com/assets/20631720/22868698/a3250ad4-f1d3-11e6-9a8e-03d3c983f4a8.png)
![qq 20170213100255](https://cloud.githubusercontent.com/assets/20631720/22868697/a31e695e-f1d3-11e6-941c-2b4d271904b1.png)

[2017-02-13 09:23] DAXIAPI commented on #57
ok,I will follow up.

[2017-02-13 16:17] kevin-doselection commented on #72
Can you provide database access? I will let programmer take a look.

[2017-02-13 16:18] kevin-doselection commented on #78
Thanks

[2017-02-13 16:18] #78 closed, assigned to lihaolihao

[2017-02-13 16:19] kevin-doselection commented on #68
Any updates?

[2017-02-13 16:30] kevin-doselection opened #79 "[ltsport.com] mobile version - catalog - list"
Please add year make model product_category dropdown list.
Make it above "sort by position"

![image](https://cloud.githubusercontent.com/assets/17145866/22892164/7c1dcee2-f1c6-11e6-89be-2692bccb0ff9.png)

[2017-02-13 16:33] kevin-doselection opened #80 "[ltsport.com ltsport.net] vehicle database update to 2017"
Please duplicate 2015 vehicle and change to 2016 and 2017 on both database.

Server: localhost »Database: ltsportc_magento »Table: year_make_model_submodel_master
![image](https://cloud.githubusercontent.com/assets/17145866/22892340/0f649f8c-f1c7-11e6-999b-88a376509a54.png)

[2017-02-14 00:49] DAXIAPI commented on #72
path:http://www.ltsport.net/phpmyadmin/
user:USA
password:ltsport123
database:ltsportc_magento

[2017-02-14 03:27] DAXIAPI commented on #79
![qq 20170214112549](https://cloud.githubusercontent.com/assets/20631720/22913895/8aaff9fc-f2a8-11e6-8014-9475892c8972.png)

[2017-02-14 04:09] kevin-doselection commented on #79
Please give me the size on the right. I want it looks better
width and height

On Mon, Feb 13, 2017 at 7:27 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2017-02-14 04:11] DAXIAPI commented on #79
But the small screen will mess

[2017-02-14 04:14] DAXIAPI commented on #80
chang 2015 to 2016 and 2017?

[2017-02-14 05:28] DAXIAPI commented on #79
path:/ltsport.com/html/app/design/frontend/default/do2/template/catalog/product/list.phtml

[2017-02-14 07:37] DAXIAPI commented on #80
path:https://www.dropbox.com/sh/fzo3xik3wlvz9b2/AAAkGjAlJT9qrVEhbOfB4JTka?dl=0
this file update for ltsport.com

[2017-02-14 07:38] DAXIAPI commented on #80
path:https://www.dropbox.com/sh/56zdglb8rdygjex/AACg-c57JuRiyg8P2J6_Dzzqa?dl=0
this file update for ltsport.net

[2017-02-14 07:39] DAXIAPI commented on #80
And I've uploaded the data.

[2017-02-14 19:51] kevin-doselection commented on #75
![taobao-su-4d-13](https://cloud.githubusercontent.com/assets/17145866/22946271/c7f3b5bc-f2ab-11e6-829a-1f0b7357ada5.jpg)
![taobao-su-4d-14](https://cloud.githubusercontent.com/assets/17145866/22946270/c7f2ce22-f2ab-11e6-87d5-d866c0e82251.jpg)
![taobao-su-4d-12](https://cloud.githubusercontent.com/assets/17145866/22946269/c7efeda6-f2ab-11e6-8995-4ae60f1a381e.jpg)

[2017-02-14 20:06] kevin-doselection commented on #79
I see. Can you center the dropdown list and give me the total width and heigth?
I will let designer design another image for the mobile buttom.

[2017-02-14 20:07] kevin-doselection commented on #80
Duplicate 2015 and change to 2016&2017

So it will has 2015; 2016; 2017 in database

please don't missing 2015 data while creating 2016 2017

[2017-02-14 22:13] kevin-doselection opened #81 "[ltsport.net] website down"
SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket
![image](https://cloud.githubusercontent.com/assets/17145866/22951897/cd3d00d2-f2bf-11e6-83e6-8dd5c2f46d23.png)

[2017-02-14 22:25] kevin-doselection opened #82 "[ltsport.com] v_category dropdown option"
please change v_category option to below, apply to both desktop and mobile version

Search All Category
-----------------------
side window visor
sunroof visor
-----------------------
roof rack
roof rack wrap pad
roof basket
ski carrier
kayak carrier
-----------------------
hitch cargo basket
trunk bike carrier
hitch bike carrier
-----------------------
cargo bag
cargo net
-----------------------

[2017-02-14 23:32] kevin-doselection commented on #69
1. Please double check mobile version ltsport.com footer. Center the text, make it look better
2. Add Replacement buttom, the one like on desktop version. Also center it, and place below Additional info.

[2017-02-15 00:47] DAXIAPI commented on #75
ok,thank.

[2017-02-15 01:25] DAXIAPI commented on #80
yes,I see and I have done,plese check it,thank.

[2017-02-15 01:32] DAXIAPI commented on #81
ok,restart server will ok.

[2017-02-15 01:55] lihaolihao commented on #69
1.First question,I can't see the text in the footer.
![qq 20170215095243](https://cloud.githubusercontent.com/assets/20631720/22957636/94b9b174-f364-11e6-814a-5b467a17e751.png)

[2017-02-15 02:03] kevin-doselection commented on #69
try it on safari.

Sent from my ASUS

-------- Original Message --------
From:Jsee <notifications@github.com>
Sent:Tue, 14 Feb 2017 17:55:04 -0800
To:kevin-doselection/951753258 <951753258@noreply.github.com>
Cc:kevin-doselection <kevin.doselection@gmail.com>,State change <state_change@noreply.github.com>
Subject:Re: [kevin-doselection/951753258] searchbar can't not find the 2002~2007 Honda (#69)

[2017-02-15 06:35] DAXIAPI commented on #79
I do like that.pic width 25px and height 25px.
![qq 20170215143350](https://cloud.githubusercontent.com/assets/20631720/22963139/18156e4c-f38c-11e6-9a82-42414eedb650.png)
![qq 20170215143358](https://cloud.githubusercontent.com/assets/20631720/22963098/e62379b0-f38b-11e6-935d-610fd1bfdcb9.png)

[2017-02-15 06:38] DAXIAPI commented on #79
It looks more natural

[2017-02-15 06:44] kevin-doselection commented on #79
good

Sent from my ASUS

-------- Original Message --------
From:Jsee <notifications@github.com>
Sent:Tue, 14 Feb 2017 22:38:20 -0800
To:kevin-doselection/951753258 <951753258@noreply.github.com>
Cc:kevin-doselection <kevin.doselection@gmail.com>,Author <author@noreply.github.com>
Subject:Re: [kevin-doselection/951753258] [ltsport.com] mobile version - catalog - list (#79)

[2017-02-15 09:11] DAXIAPI commented on #82
ok,have done,pls check it,thank.

[2017-02-15 09:15] DAXIAPI commented on #69
no,still can't see the text in the footer,can you send me the screenshots of web pages?

[2017-02-15 09:26] DAXIAPI commented on #82
![qq 20170215171641](https://cloud.githubusercontent.com/assets/20631720/22968034/d50a6540-f3a3-11e6-9e15-d708c3ee7135.png)

[2017-02-15 20:01] kevin-doselection commented on #76
![1](https://cloud.githubusercontent.com/assets/17145866/22993044/67bed52a-f376-11e6-98e7-c60cfd908e68.jpg)
![2](https://cloud.githubusercontent.com/assets/17145866/22993042/6795ae52-f376-11e6-9efd-f6df089965d9.jpg)
![3](https://cloud.githubusercontent.com/assets/17145866/22993043/679f73a6-f376-11e6-9db2-c77954758406.jpg)

[2017-02-16 00:51] DAXIAPI commented on #76
ok,thank.

[2017-02-16 08:28] DAXIAPI commented on #69
I'm test in the ltsport. net, if you think it's ok, then I will do in the ltsport. com
path:http://www.ltsport.net/mobile_home
result:
![qq 20170216151332](https://cloud.githubusercontent.com/assets/20631720/23013261/d6a8e70c-f464-11e6-8a05-3036a67828f4.jpg)

[2017-02-17 16:16] kevin-doselection commented on #69
Yes. Totally better than now on mobile devices.
Please apply to ltsport.com mobile version, and double check not affecting desktop footer.

[2017-02-17 16:17] kevin-doselection commented on #76
If no more issue on this case, please close it. Thanks

[2017-02-17 16:22] kevin-doselection commented on #82
Thanks. Got it.
1. Search all category has issue. Better adjust the code to "v_category=" with no search criteria.
2. Is it possible to change "side window visor" to "Side Window Visor" and still can search?
3. Please also apply to catalogsearch/result 's dropdown list.
Link: http://www.ltsport.com/catalogsearch/result/?q=2014+acura+mdx+visor&x=0&y=0
![image](https://cloud.githubusercontent.com/as

[2017-02-17 16:23] kevin-doselection commented on #79
When you finished issue #82, please apply to here as well.

[2017-02-17 16:23] #81 closed, assigned to kevin-doselection, lihaolihao

[2017-02-17 16:24] kevin-doselection commented on #80
Thanks. Please add 2016 2017 on the dropdown list too.
![image](https://cloud.githubusercontent.com/assets/17145866/23073445/6cda01f4-f4ea-11e6-8ac4-01a8518eeee0.png)

[2017-02-17 16:24] kevin-doselection commented on #75
If no more issue on this case, please close it. Thanks

[2017-02-17 18:50] kevin-doselection commented on #57
Any news about the issues?

[2017-02-20 01:25] #76 closed, assigned to kevin-doselection

[2017-02-20 01:37] DAXIAPI commented on #69
ok,have done and check it.It's not problem,pls confirm,thank.

[2017-02-20 02:29] #75 closed, assigned to kevin-doselection, lihaolihao, christinechina

[2017-02-20 02:43] DAXIAPI commented on #80
got it,already finish.

[2017-02-20 03:22] DAXIAPI commented on #79
1.If add "v_category=" in the place of pic?
![qq 20170220110805](https://cloud.githubusercontent.com/assets/20631720/23110540/22d56de4-f75d-11e6-93f4-5c209ffe7803.png)
2.change "side window visor" to "Side Window Visor" and and still can search.
![qq 20170220105259](https://cloud.githubusercontent.com/assets/20631720/23110567/465aca7a-f75d-11e6-9d1f-7b12d9527de4.png)
![qq 20170220105316](https://c

[2017-02-20 09:25] DAXIAPI commented on #57
Finding problems

[2017-02-20 16:13] kevin-doselection commented on #79
1. Please set IF function. If v_category= "Search%20All%20Category", set v_category=""
old link: http://www.ltsport.com/catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&year=2012&make=Acura&v_model=MDX&v_category=Search%20All%20Category
old img: ![image](https://cloud.githubusercontent.com/assets/17145866/23132915/12bf9646-f744-11e6-87f2-aaa

[2017-02-20 16:13] #82 closed, assigned to kevin-doselection, lihaolihao

[2017-02-20 16:15] kevin-doselection commented on #69
Please double check what happens.
![image](https://cloud.githubusercontent.com/assets/17145866/23133097/c241fc58-f744-11e6-8e3c-e65bac7c810d.png)

[2017-02-20 16:17] #80 closed, assigned to kevin-doselection, lihaolihao, christinechina

[2017-02-21 00:44] DAXIAPI commented on #69
I don't know where your problem is?
I'm here to visit normal.
![qq 20170221084238](https://cloud.githubusercontent.com/assets/20631720/23146458/e68235c4-f811-11e6-8cce-72853a135d86.png)
![qq 20170221084327](https://cloud.githubusercontent.com/assets/20631720/23146456/e60dac5e-f811-11e6-9e2a-0c8864c1de1c.png)

[2017-02-21 04:07] christinechina commented on #77
pls send me CB-SU psd FORMAT. PSD format. Thx.  urgent

[2017-02-21 09:10] DAXIAPI commented on #79
ok,have done.

[2017-02-21 16:37] kevin-doselection commented on #69
cache.
It's okay now, thx.

[2017-02-21 16:53] kevin-doselection commented on #79
3. Please check why there is error on dropdown list. Path is link->link1->link2
error:
![image](https://cloud.githubusercontent.com/assets/17145866/23175057/2395a80a-f813-11e6-8c47-a288445b32c0.png)
link: https://www.ltsport.com/mobile_home
link1: https://www.ltsport.com/mobile_shopbyproduct
link2: https://www.ltsport.com/accessories/windowvisor.html

[2017-02-21 16:59] kevin-doselection commented on #77
@christinechina We need to know what file you need (display img, detail img, install PDF guide), why you need it and where are you going to use it. Because Leo did let us release some img for China, but some img that he prefers remain the origin design style, so we cannot release it.
I will contact to Leo as soon as I got your reply, thx.

[2017-02-21 21:38] kevin-doselection commented on #54
Please continue to reuse GTIN. Account has been grant permission.

[2017-02-22 01:34] DAXIAPI commented on #79
ok,have done.

[2017-02-22 06:00] christinechina commented on #77
Dear all, first of all we need to change into a new style that to meet chinese flavoru. as you can see by the  data below. jump rate is 78%.
Vister qty is growing but jump rate haven't lower. It's not match. So i think product page have someting wrong. we need improve it.
and you at the 18th Feb, we upload the there new pics of cu-su. the jump rate become lower, but still high. and you can see the

[2017-02-22 06:11] christinechina commented on #77
here is some good selling seller
https://detail.tmall.com/item.htm?spm=a230r.1.14.6.F1Ycw6&id=40957817743&cm_id=140105335569ed55e27b&abbucket=6

https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-15220725410.56.bEoaze&id=42955049965&rn=061c9ba6a53092c881d0ca12fbcd230a&abbucket=4&skuId=90698580099

[2017-02-22 07:49] christinechina commented on #77
it's really hard to tell designer how to do and what chinese like.  we are not asking do the same as these seller. but at lease what they have , we must have.   so we want to try to do our own page.   so pls help to explain for us. thanks.

[2017-02-22 18:39] kevin-doselection opened #83 "CNWV Guide Video"
Hi below is the link to CNWV guide video, can you please translate the English caption into Chinese, so we will add the Chinese caption and send it to you? Thanks
https://youtu.be/HfXkhvrD3sI

[2017-02-24 17:11] #79 closed, assigned to nobody

[2017-02-27 16:20] kevin-doselection commented on #77
We will have a meeting today and update asap

[2017-02-27 18:23] kevin-doselection opened #84 "[china office] receive USA phone on computer"
Hi Jess,
please find a internet phone service that can accept directly dial from USA landline and mobile.
1. quality and service has to be good.
2. Free of charge for dial side. We paid for monthly fee
3. China office can received through computer

[2017-02-27 18:32] kevin-doselection commented on #84
tomorrow we will give you a skype code. then we can test

[2017-02-27 21:06] kevin-doselection commented on #57
please use ltsport.com background img to ltsport.net
colorful one

[2017-02-28 01:12] DAXIAPI commented on #84
ok

[2017-02-28 01:26] DAXIAPI commented on #84
I have registered Skype
![image](https://cloud.githubusercontent.com/assets/20631720/23387510/ea489050-fd97-11e6-9ea3-1fc1a916f4c4.png)

[2017-02-28 01:27] DAXIAPI commented on #57
OK

[2017-02-28 16:39] kevin-doselection commented on #77
leo accept the concept that you want our ad goes like china style.
however he prefer maintains high-quality, USA and clean.
designer will gives you another type of details image in product page. trying to make it colorful meanwhile not losing high class feeling.
about usa factor, we will take as many usa background as we could, either in video or image.
the less photoshop the better it feels real.

[2017-02-28 22:51] kevin-doselection opened #85 "[ltsport.com] part button on mobile device"
put this button on mobile device also
![image](https://cloud.githubusercontent.com/assets/17145866/23438094/5a301dca-fdc5-11e6-92ff-c51141cde0b7.png)

[2017-03-01 03:11] DAXIAPI commented on #85
result pic
path:http://www.ltsport.com/br-4bhm-314.html
![qq 20170301110322](https://cloud.githubusercontent.com/assets/20631720/23444399/ce16adee-fe6f-11e6-9a62-b82aceef4f92.png)

[2017-03-03 16:49] kevin-doselection commented on #85
thanks

[2017-03-03 16:49] #85 closed, assigned to kevin-doselection, lihaolihao

[2017-03-03 19:19] kevin-doselection commented on #84
please send us the username and password
we will sync the key with your account

[2017-03-06 01:01] DAXIAPI commented on #84
username:13580495379
passwoed:China159753

[2017-03-06 23:53] kevin-doselection commented on #84
Jess we are looking to finish 2 targets.
1. U.S. call forwarding to China, if no one answer
2. China call forwarding to U.S., if no one answer

Solution 1.
Skype Number. We will purchase it tomorrow.
Issue 2.
Please do research about it.

[2017-03-07 06:11] DAXIAPI commented on #84
1.skype always online
2.we can use set '呼叫转移',when there is no online will be transferred to the pre-set phone number.
![qq 20170307140607](https://cloud.githubusercontent.com/assets/20631720/23643970/e0638060-033f-11e7-95a0-ecf516cf3b34.jpg)
![qq 20170307140617](https://cloud.githubusercontent.com/assets/20631720/23643969/e00f5cce-033f-11e7-9349-ca0df39b0f0e.jpg)

[2017-03-08 00:14] kevin-doselection commented on #69
Please set footer text to largest without looking bad
now is too small to read

[2017-03-08 01:46] DAXIAPI commented on #69
ok

[2017-03-10 16:20] #69 closed, assigned to lihaolihao

[2017-03-10 19:49] kevin-doselection opened #86 "[ltsport.com] mobile version, new header"
1.
Please add these text on each mobile version category page
(visor, rack, mats, guard, carrier, cargo)
Center the text
after the top menu, before shop by vehicle menu
use h1:
Roof Rack Rooftop Crossbars | LT Sport | USA
use h2:
24/7 Chat & Phone Support
10 Years Parts Support
30 Days Return Guarantee

![image](https://cloud.githubusercontent.com/assets/17145866/23810376/424cab74-0586-11e7-96b3-7

[2017-03-10 22:31] kevin-doselection commented on #86
2.
Please let these review text color white. Desktop and mobile version
Package: yotpo review
![image](https://cloud.githubusercontent.com/assets/17145866/23815696/1cebf854-059e-11e7-9293-f89af487055a.png)

[2017-03-10 22:36] kevin-doselection commented on #86
3.
Create 5 new product attributes
name: detail_img_01 detail_img_02 detail_img_03 detail_img_04 detail_img_05
We will save link in these column

If these attributes exist, showing these img in mobile version product detail page.
placed after youtube video and add to cart, before description
![image](https://cloud.githubusercontent.com/assets/17145866/23815908/b50ef398-059e-11e7-8303-abd700e7105e.

[2017-03-10 23:04] kevin-doselection commented on #86
4.
Fitment text
Move fitment text outside
![image](https://cloud.githubusercontent.com/assets/17145866/23816604/9a74eb74-05a2-11e7-9052-813d5bf85297.png)
like these text
![image](https://cloud.githubusercontent.com/assets/17145866/23816615/b032f334-05a2-11e7-9535-fe4518e4841e.png)
placed after detail_img_05, before add to cart and description

[2017-03-10 23:23] kevin-doselection commented on #86
5.
comment to hide out text
1) between "price" and "30 Days No-Hassle Return Policy"
2) between "SKU" and "qty and Add to Cart"
![image](https://cloud.githubusercontent.com/assets/17145866/23817048/2a133edc-05a5-11e7-826b-19d42c5981ea.png)

6. Center text
qty and Add to Cart

[2017-03-13 09:03] DAXIAPI commented on #86
1.result as shown below
![qq 20170313165449](https://cloud.githubusercontent.com/assets/20631720/23847588/115a9672-080e-11e7-9212-20ced937f249.png)
2.result as shown below
![qq 20170313142140](https://cloud.githubusercontent.com/assets/20631720/23847751/db647906-080e-11e7-9346-f8a5df6436eb.png)
3.I have add new product attributes,but I don't know what you want,pls give tell me you want big size pi

[2017-03-13 15:22] kevin-doselection commented on #86
1. Capital first letter. ex. visor -> Visor. And move the location after SHOP BY VEHICLE.
2-1. make ROOF RACK ROOFTOP CROSSBARS a line, and LT Sport | USA on second line.
2-2. If category is Roof Rack use ROOF RACK ROOFTOP CROSSBARS; if window visor use Window Visor; based on category name.
3. make 3 lines closer
4. SHOP BY VEHICLE: center the dropdown list and remove the text "SHOP BY VEHICLE"
4-

[2017-03-14 06:07] christinechina commented on #77
got it. thx.

[2017-03-14 06:07] #77 closed, assigned to kevin-doselection, lihaolihao

[2017-03-14 06:07] #68 closed, assigned to lihaolihao, christinechina

[2017-03-14 06:10] christinechina commented on #54
we can't do here. very slow. and got same problem.

[2017-03-14 06:10] #54 closed, assigned to lihaolihao, christinechina

[2017-03-14 07:58] christinechina commented on #83
send via email.  pls check.
__

[2017-03-14 07:58] #83 closed, assigned to lihaolihao, christinechina

[2017-03-14 08:40] DAXIAPI commented on #86
![qq 20170314105514](https://cloud.githubusercontent.com/assets/20631720/23892261/d471d492-08d4-11e7-9386-dc6028029ea3.png)
![qq 20170314110219](https://cloud.githubusercontent.com/assets/20631720/23892264/d52077e0-08d4-11e7-8706-ba2fd32e1aff.png)
![qq 20170314154018](https://cloud.githubusercontent.com/assets/20631720/23892262/d483e718-08d4-11e7-8191-8d06fb4a4f98.png)
![qq 20170314163751](https:/

[2017-03-14 16:20] kevin-doselection commented on #86
1. Help me remove footer's background
2. Setup ltsport.com desktop background img into slideshow function. Use current background img to set 2 slideshows (fullscreen)

[2017-03-15 09:20] DAXIAPI commented on #86
1.have done
2.do you sure to setup slideshow,all page use this background img.

[2017-03-17 16:15] kevin-doselection commented on #86
1.Please check why it's white in product detail page
![image](https://cloud.githubusercontent.com/assets/17145866/24052257/149d1ba2-0af2-11e7-92f6-5b3d9491a78c.png)

2. Please setup only desktop version homepage background image slideshow only. Other pages don't change to slideshow.

3. Place a dropdown search box here
![image](https://cloud.githubusercontent.com/assets/17145866/24054277/e748bc4a-

[2017-03-17 17:39] kevin-doselection commented on #84
doselectioninc.call@gmail.com
doselection921

Please login same skype to all PC, if needed.

[2017-03-17 21:02] kevin-doselection commented on #86
FYI new taobao template on 03/17
excel is for future request use.
new template is for cb-su-4d
https://www.dropbox.com/sh/lya2zi62vrep306/AAC-qyyhM7C79bFuk8Q5JLlZa?dl=0

[2017-03-20 05:11] DAXIAPI commented on #84
ok,follow up.

[2017-03-20 05:17] DAXIAPI commented on #84
Video chat or just voice chat,pls tell me and I will buy computer camera and microphone,thank.

[2017-03-20 07:52] DAXIAPI commented on #86
1.I need to know where you modified the css code,it show normal when car button is not displayed,you can check it.
path:http://www.ltsport.com/br-4bhm-314.html(is not ok)
path:http://www.ltsport.com/cb-bu-4d-202-ws.html(is ok)
![qq 20170320135312](https://cloud.githubusercontent.com/assets/20631720/24091534/9c994772-0d83-11e7-8724-bf053585c426.png)
![qq 20170320135322](https://cloud.githubusercont

[2017-03-20 16:14] kevin-doselection commented on #86
1. You can check here /html/app/design/frontend/default/do2/template/catalog/product/view
If not working it might be under /html/app/design/frontend/base
2. Good
3. homepage's dropdown search doesn't work
Can you center these boxes? Also the 2nd line box too

[2017-03-20 16:14] kevin-doselection commented on #84
You need a headset for now.

[2017-03-21 01:00] DAXIAPI commented on #84
ok,we have headset,and when do we test?

[2017-03-21 05:34] DAXIAPI commented on #86
1.it's ok.
3.temporarily hidden.does't work because ajax can't visit http from https,when I have time I will try to do it.

[2017-03-21 17:12] kevin-doselection opened #87 "[youtube] new video"
https://www.youtube.com/watch?v=HqoACVIYtlE
https://www.youtube.com/watch?v=IbrH4n22rEg
https://www.youtube.com/watch?v=QLTC40CG2pU
https://www.youtube.com/watch?v=iLsIwwT68rc
https://www.youtube.com/watch?v=bjLIyFHhGLY
https://www.youtube.com/watch?v=9CBHzGU4lwA

[2017-03-21 17:48] kevin-doselection commented on #87
TaoBao CB-SU-4D resize 750

https://www.dropbox.com/sh/5i8q56w9ak032hm/AAAENyo2m0FSc-24w-cfTL68a?dl=0

[2017-03-22 05:34] christinechina commented on #87
need translation?

[2017-03-22 06:35] christinechina commented on #87
CB-SU send  us PSD format. some chinese we need to revised.  no need designer do. we can do it ourself. Thanks.

[2017-03-22 06:53] christinechina commented on #87
cb-su sizes still wrong.  and you send me a old version.  pls double check. and send me PSD version to save more time.

[2017-03-27 03:51] DAXIAPI commented on #87
Hi,kevin,video translation is complete, please download the file,thank.
链接：http://pan.baidu.com/s/1nvJj0Xr 密码：m6nf

[2017-03-27 15:28] kevin-doselection commented on #87
hi, CNWV is done, below is the link:
part 1  https://www.youtube.com/watch?v=T24SWiqH98w
par t2  https://www.youtube.com/watch?v=ZhTZTTglIz4

[2017-03-28 19:16] kevin-doselection commented on #86
mobile version
Add dropdown search box in this page too
Link: http://www.ltsport.com/researcher

[2017-04-03 15:29] kevin-doselection commented on #87
Anything else you need from designer?

[2017-04-03 15:29] kevin-doselection commented on #86
Did you add it?
![image](https://cloud.githubusercontent.com/assets/17145866/24617017/9ff254f8-1847-11e7-9767-6bea6f1e13e1.png)

[2017-04-03 15:31] kevin-doselection commented on #84
Can you get the same headset for another computer?
Tonight will test again, testing same call can be seen from both computers

[2017-04-04 22:31] kevin-doselection opened #88 "[ltsport.com] custom option"
Path: Product > Custom Options
SKU: MG-TCA0711-4D-201-WS

1. Make custom option can be shown on frontend
2. Create import function to update product's custom option (title and context)

DB: ltsportc_magento
DB 1:
catalog_product_option
Column:
option_id (unique), product_id (item# e.g. 679), type (drop_down), is_require (1), sort_order

DB 2:
catalog_product_option_title
Column:
option_title_id (u

[2017-04-05 01:43] DAXIAPI commented on #86
yes

[2017-04-05 01:44] DAXIAPI commented on #84
only one  headset

[2017-04-05 07:41] DAXIAPI commented on #88
1.I don't understand what ‘custom option’ is,and what do you want?
2.Is this the database you created?

[2017-04-05 15:41] kevin-doselection commented on #88
I need your idea

For now, customer having issue to find out that is the product fits their car.
Even we gave them the list, it still not convenient for them.
![image](https://cloud.githubusercontent.com/assets/17145866/24715688/3da0e512-19e1-11e7-9353-c5bc1f7ecdc9.png)

Is it possible to use the dropdown list like this after SKU area?
![image](https://cloud.githubusercontent.com/assets/17145866/2

[2017-04-05 22:46] kevin-doselection commented on #87
https://www.dropbox.com/sh/f7x34su4m17yv58/AAD9EAR2dnpW6joFqWxrsTCha?dl=0

the rest will be done on friday

[2017-04-06 02:26] DAXIAPI commented on #88
we can use the dropdown,customer can check the product whether fit.This will realizel your requirements.
![qq 20170406101546](https://cloud.githubusercontent.com/assets/20631720/24734849/450e8b0c-1ab2-11e7-923a-15bf065f4ff1.png)
2.I still don't understand this function and where to show in Desktop.look a little confused.
![qq 20170406101753](https://cloud.githubusercontent.com/assets/20631720/2473

[2017-04-06 04:34] christinechina commented on #87
i need cb-btu. not cb-bu.  othes no need to to do  now.

[2017-04-06 06:03] christinechina commented on #87
pls send pics by email directly.  and pics siezs still wrong.
1、pc端尺寸宽度是750*高，切图时，一张图片的高度不超过960像素
2、手机端尺寸宽度是620*高，切图时，一张图片的高度不超过960像素
3、手机端中文字体用到25个点以上，整个详情页图片不超过25张图即可，可根据排版适当调整高度

[2017-04-06 15:54] kevin-doselection commented on #88
1. Yes the function that can check the vehicle fitment can help user to find out their car
If you have time, do this task first.

2. Don't worry. Put this out, The 1. function will do the same thing, then we will not need to make the 2. functional.

[2017-04-06 16:43] kevin-doselection commented on #86
1. Opt-in Integration

Variables: ORDER_ID   CUSTOMER_EMAIL  COUNTRY_CODE(customer country)   YYYY-MM-DD(order date)
[code]

2. Badge Integration
Add the code to every page.
[code]

3. Check and fix exceed size image
Path: http://www.ltsport.com/findmyvehicle/bmw/3.html
Device: mobile smartphone
![image](https://cloud.githubusercontent.com/assets/17145866/24821448/8b886b06-1ba3-11e7-8f37-49bff7485

[2017-04-06 18:43] kevin-doselection opened #89 "[ltsport.com] payment failed leads to order canceled"
If user's payment been declined, I want the website show popup message as below.

Order# 8547 & 8546& 8545
Current popup message when user's got declined. User will remains on the same checkout page.
`msg={"transaction_error":0,"transaction_approved":0,"exact_resp_code":"00","exact_message":"Transaction%20Normal","bank_resp_code":"303","bank_message":"Processor%20Decline","sequence_no":"0877345","

[2017-04-07 16:02] kevin-doselection commented on #88
About 1. , desktop version can place at the same location as your image.
mobile version can you put it after SKU and center it?

[2017-04-09 08:14] DAXIAPI commented on #86
1.I don't add code in Desktop,can you add and test it?
`<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

<script>
  window.renderOptIn = function() {
    var ORDER_ID = $("gts-o-id").text();
    var CUSTOMER_EMAIL = $("gts-o-email").text();
    var COUNTRY_CODE = $("gts-o-country").text();
    var DELIVERY_DATE = $("gts-o-est-ship-date").text();
    wi

[2017-04-09 08:34] DAXIAPI commented on #88
ok,I will follow up.

[2017-04-10 01:50] DAXIAPI commented on #86
3.Obviously this is the size of the product image

[2017-04-10 16:29] kevin-doselection commented on #86
1. I got it.
2. Thanks
3. It's the same size 792x792
normal img link: https://ltsport.com/skin/frontend/default/MAG050058/images/product/br-4ba-vm-1.jpg
too large img link: https://ltsport.com/skin/frontend/default/MAG050058/images/product/fm-unvs3_tm-vm-2.jpg
Please check where is the issue

[2017-04-11 09:07] DAXIAPI commented on #86
But they all use the same code,other are no problem,only these two products picture problems,so firstly check whether the thumbnails are uploaded correctly.

[2017-04-11 09:07] DAXIAPI commented on #88
I make like this.
![qq 20170411165859](https://cloud.githubusercontent.com/assets/20631720/24901127/a2c185d6-1ed8-11e7-882b-b758fabaa0e8.png)
![qq 20170411165947](https://cloud.githubusercontent.com/assets/20631720/24901128/a2d8d402-1ed8-11e7-80d9-bb06a450e705.png)
![qq 20170411170016](https://cloud.githubusercontent.com/assets/20631720/24901129/a2d96610-1ed8-11e7-9192-ab87971745d8.png)

[2017-04-11 09:07] DAXIAPI commented on #88
Plese check it,thk.

[2017-04-11 16:02] kevin-doselection commented on #88
Good.
Add on mobile version also
![image](https://cloud.githubusercontent.com/assets/17145866/24918506/84ebaafc-1e95-11e7-9af8-00b19f435162.png)

[2017-04-11 16:08] kevin-doselection commented on #86
mobile version homepage's dropdown search
if only https can work, please set only https will show

[2017-04-11 22:31] kevin-doselection commented on #87
Hi, please fill this form so we will know which SKU you guys want.
[Request SKU Tao Bao pics.xlsx](https://github.com/kevin-doselection/951753258/files/914827/Request.SKU.Tao.Bao.pics.xlsx)

[2017-04-12 05:09] christinechina commented on #87
CB-SU， CB-902, CB-FR 。 摄影的原图。 其他暂时不需要。

[2017-04-12 06:19] DAXIAPI commented on #88
mobile version
![qq 20170412111605](https://cloud.githubusercontent.com/assets/20631720/24943789/c97e82d4-1f8a-11e7-8ce8-9ec2fc529ae0.png)
![qq 20170412111619](https://cloud.githubusercontent.com/assets/20631720/24943790/c97eca46-1f8a-11e7-9c54-6aa0c6e39bb2.png)

[2017-04-12 15:57] kevin-doselection commented on #88
1. mobile version
Center it.
And can it shows without click?
2. desktop version
Show it after sku, before description
And can it shows without click also?
![image](https://cloud.githubusercontent.com/assets/17145866/24967140/fb7bb400-1f5d-11e7-9259-765fc76764cb.png)

[2017-04-12 19:29] kevin-doselection commented on #86
The link is going to http://www.ltsport.com/about-us
Please reorganize this page on mobile device
or
make the link on mobile device goes to https://www.ltsport.com/mobile_contact_us

![image](https://cloud.githubusercontent.com/assets/17145866/25048791/22a38b48-20f3-11e7-8f85-3089b3ce9910.png)

[2017-04-13 08:48] DAXIAPI commented on #89
I don't understand website can decline to customer payment,pls tell me that next step I can solve the problem,thx.

[2017-04-13 08:51] DAXIAPI commented on #88
1.I will do soon.
2.no,put in it will not work

[2017-04-13 16:03] kevin-doselection commented on #89
This issue is because customer payment was been declined from their own card issuer. So we cannot accept that payment, and Magento will received declined message and changes the order status to Cancel. But user will not see any message about it.

[2017-04-13 16:32] kevin-doselection commented on #88
Okay, but make your changes based on the latest version of ltsport.com
I saw some function was missing yesterday

[2017-04-14 00:02] kevin-doselection commented on #86
Make it shows
if right car, img https://www.ltsport.com/guide/confirmed_mobile.jpg
else, https://www.ltsport.com/guide/anotherone_mobile.jpg
Center these image and Check Fitment. Total 3 images need to adjust.
[code]

[2017-04-14 16:08] kevin-doselection commented on #88
1. Change "Fitment Check" result from text to image
`echo "It fits your car!";` Change to show image `https://www.ltsport.com/guide/confirmed_mobile.jpg`
`echo "It doesn't fit your car! `Change to show image  `https://www.ltsport.com/guide/anotherone_mobile.jpg`
Center these image and Check Fitment. Total 3 images need to adjust.
[code]

2.
1) Center the dropdown list
2) directly show result when

[2017-04-16 06:47] DAXIAPI commented on #86
done

[2017-04-16 06:48] DAXIAPI commented on #88
1 and 2.ok
![qq 20170416110638](https://cloud.githubusercontent.com/assets/20631720/25069459/bedd5914-22b3-11e7-8d5a-380dd9ea0e37.png)
![qq 20170416110646](https://cloud.githubusercontent.com/assets/20631720/25069458/beda97a6-22b3-11e7-89a0-db05747b5f95.png)

[2017-04-17 08:19] DAXIAPI commented on #89
Hi,Kevin,can you help me to create a new page?I tried but alway failed,so you can see if you can do it.This page will show when user's payment been declined.Thx!
name:payerror.phtml
path:/ltsport.com/html/app/design/frontend/default/MAG050058/template/checkout/payerror.html
content:`<div class="alpha60">
<p>Sorry, our system already canceled this order, since the payment was been declined by your

[2017-04-18 19:16] kevin-doselection commented on #86
1. Check and fix exceed size image
Path: http://www.ltsport.com/findmyvehicle/bmw/3.html
Device: mobile smartphone

I think the issue is CSS mixed up each other, causing the layout mess up.
Check the CSS for do2>product>list, you can rearrange the priority to make sure each style won't affect others.

2. Apply Q&A into product detail page
Path: app\design\frontend\base\default\template\productfaq

[2017-04-19 07:57] DAXIAPI commented on #86
1.It's not about CSS,please check the previous product about attribute "pdate" Where the product confusion.
You can hidden line 372 in "/ltsport.com/html/app/design/frontend/default/do2/template/catalog/product/list.phtml",I try and pic is right size.
![qq 20170419153207](https://cloud.githubusercontent.com/assets/20631720/25169155/94e6b9cc-2518-11e7-8075-8b120038cd4b.png)
![qq 20170419153222](htt

[2017-04-19 09:10] DAXIAPI commented on #89
pls hidden line 205 and show line 206 in path "/ltsport.com/html/app/code/local/Egs/Firstdata/controllers/IndexController.php",check it's working right.
![qq 20170419170618](https://cloud.githubusercontent.com/assets/20631720/25172280/0e84aca8-2523-11e7-8db5-58605641618b.png)

[2017-04-19 15:38] kevin-doselection commented on #86
1. any affect if we comment out the code?
2. never mind, forget it

[2017-04-19 15:38] kevin-doselection commented on #89
how is the result?

[2017-04-19 19:47] kevin-doselection commented on #88
3. you can suspend it now

additional task 1:
According to research, these 4 button are rarely been touch.
URL: https://www.ltsport.com/mobile_home
![image](https://cloud.githubusercontent.com/assets/17145866/25198408/465fdb38-24fc-11e7-97e7-73c049af85da.png)
Please create a slideshow (once at a time) by using these 6 imgs, and replace current 4 button.
Path: https://www.ltsport.com/mobile_shopbyp

[2017-04-20 01:57] DAXIAPI commented on #86
1.no,I just want to tell you what the problem is.Now I deal it.
Before:
![qq 20170420094939](https://cloud.githubusercontent.com/assets/20631720/25209785/c5b27c52-25af-11e7-9c3e-ad9b0ced1f11.png)
Now:
![qq 20170420094849](https://cloud.githubusercontent.com/assets/20631720/25209797/d0215ca8-25af-11e7-8dec-855a13292d73.png)

[2017-04-20 02:05] DAXIAPI commented on #89
Yes,I have done but I'm not show it.Now you just hidden line 205 and show line 206 in path "/ltsport.com/html/app/code/local/Egs/Firstdata/controllers/IndexController.php",it can working.
result:when user's payment been declined,website will show popup message page.
I want you check this function does not affect other.Thx.

[2017-04-20 02:51] kevin-doselection commented on #86
Good, that's better

On Wed, Apr 19, 2017 at 6:57 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2017-04-20 08:34] DAXIAPI commented on #88
all have done
![qq 20170420162609](https://cloud.githubusercontent.com/assets/20631720/25221266/16101dc6-25e7-11e7-94aa-fd86eceb1c41.png)
![qq 20170420150219](https://cloud.githubusercontent.com/assets/20631720/25221276/202510aa-25e7-11e7-94fd-cb62561bee6a.png)
![qq 20170420162557](https://cloud.githubusercontent.com/assets/20631720/25221286/2e0b81ae-25e7-11e7-8884-d49ec6180e76.png)
![qq 201704201

[2017-04-20 15:12] #86 closed, assigned to kevin-doselection, lihaolihao

[2017-04-20 15:15] kevin-doselection commented on #88
slideshow my mistake
I was saying place the slideshow to URL https://www.ltsport.com/mobile_home

![image](https://cloud.githubusercontent.com/assets/17145866/25238146/7463bd60-25a1-11e7-9057-3964d64c3ef8.png)

And for URL https://www.ltsport.com/mobile_shopbyproduct, it should remains the same  as below
![image](https://cloud.githubusercontent.com/assets/17145866/25238112/59dc70f4-25a1-11e7-8fee-

[2017-04-20 17:20] kevin-doselection commented on #89
Change text content to below

Before:

[2017-04-21 01:58] DAXIAPI commented on #89
Is it ok?
![qq 20170421095138](https://cloud.githubusercontent.com/assets/20631720/25259445/af1050fe-2678-11e7-9a1a-9130d363834b.png)
![qq 20170421095123](https://cloud.githubusercontent.com/assets/20631720/25259468/d209d53a-2678-11e7-9876-860522368b50.png)

[2017-04-21 08:09] DAXIAPI opened #90 "Company mailbox page go wrong in China"
Hi,Kevin,ltsport.com mail looks bad in China,it 's hard to see it.I can't visit the code,so can you check it whether the CSS problem?
![qq 20170421160800](https://cloud.githubusercontent.com/assets/20631720/25268825/c8bbc98c-26ac-11e7-9427-40a9c5a25fe2.jpg)

[2017-04-21 16:11] kevin-doselection commented on #89
Yes

[2017-04-21 16:11] #89 closed, assigned to kevin-doselection, lihaolihao

[2017-04-21 16:12] kevin-doselection commented on #90
Logout and login with dynamic mode
![image](https://cloud.githubusercontent.com/assets/17145866/25286466/b0e99486-2672-11e7-9298-36b151c2c92d.png)

[2017-04-21 16:12] #90 closed, assigned to kevin-doselection

[2017-04-24 23:10] kevin-doselection commented on #88
add the same slideshow after youtube video
![image](https://cloud.githubusercontent.com/assets/17145866/25362408/91e15586-2908-11e7-9065-1dc38c374348.png)

![image](https://cloud.githubusercontent.com/assets/17145866/25362394/805e28a2-2908-11e7-9f08-d0aab032a4c9.png)

[2017-04-26 02:55] DAXIAPI commented on #88
It is difficult to log in to the server in China,so pls add the code as below.
path:"\ltsport.com\html\app\design\frontend\default\do2\template\catalog\product\list.phtml"
`<div class="cateContainer"><a id="abj" href="http://www.ltsport.com/findmyvehicle.html"><img id="obj" alt="" src="https://www.ltsport.com/skin/frontend/default/MAG050058/images/headerCategory/do2visor.jpg" height="100%" width="

[2017-04-27 21:42] #88 closed, assigned to kevin-doselection, lihaolihao

[2017-04-27 21:44] #87 closed, assigned to lihaolihao, christinechina

[2017-05-22 00:51] DAXIAPI opened #91 "change LT SPORT mailbox login password. RMA system password, INVENTORY login password in China"
Do you know how to change  LT SPORT mailbox login password. RMA system password, INVENTORY login password in China?

[2017-05-22 15:25] kevin-doselection commented on #91
We can change RMA system and IS password.
LT Sport webmail, do you mean https://sip2-186.nexcess.net:2443/webmail/ ?

Send me the username and desired password.

On Sun, May 21, 2017 at 5:51 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandari

[2017-05-23 01:24] DAXIAPI commented on #91
yes,we need to change the password to prevent other people from logging in.When you change it, please send me the password. thank!
RMA system:  China1   password: 172839456
LT Sport webmail:Username: sales@ltsport.com  password: ltsport91745
INVENTORY:Username:Chinadatapc2 password:123456

[2017-05-23 22:41] kevin-doselection commented on #91
changed

On Mon, May 22, 2017 at 6:24 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2017-05-24 01:19] DAXIAPI commented on #91
Sorry,I  gave you the wrong password. Please change it once more,the username and desired password as below.Thank!
RMA system:  China1 password: 172832208
LT Sport webmail:Username: sales@ltsport.com password: ltsport92208
INVENTORY:Username:Chinadatapc2 password:172208

[2017-05-24 16:50] kevin-doselection commented on #91
We can change RMA and IS password, but not webmail since U.S. shared the
same user login.

On Tue, May 23, 2017 at 6:19 PM, Jsee <notifications@github.com> wrote:

--
Kevin Yang
IT Support Specialist, Do Selection Inc
Mobile: 626-272-0772
Address: 17005 Evergreen Pl, City of Industry CA 91745
Language: English, Chinese (Mandarin, Taiwanese)

[2017-05-25 00:48] DAXIAPI commented on #91
got it,thank you.

[2017-06-06 09:41] #91 closed, assigned to kevin-doselection, Doselectioninc, lihaolihao

[2017-06-06 09:44] DAXIAPI opened #92 "Skype problem"
Hi,Kevin,Skype can't accept American calls,but Skype is online,pls check it,thank.

[2017-06-06 15:20] kevin-doselection commented on #92
1. this issue happens just now, or it's been a while?
2. can you see the call when it calls in (showing number)?
3. any error message when the call comes in?

[2017-06-07 01:07] DAXIAPI commented on #92
It's ok now,maybe a network problem.